<% @following.each do |mocker| %>
	<%= link_to mocker, class: "list-group-item list-group-item-action _1" do %>
		<div class="row m-0">
			<div class="col-auto">
				<%= image_tag avatar_url(mocker), class: "small_avatar" %>
			</div>
			<div class="col">
				<div class="d-table fullscreen">
					<div class="d-table-cell v-middle">
						<b class="m-0"><%= mocker.first_name %> <%= mocker.last_name %> <%= image_tag badge_icon(mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip",	"data-placement": "bottom", title: tooltip_badge(mocker) if mocker.verification? %></b>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  	<div class="btn-group mr-2  m-0-auto" role="group" aria-label="First group">
		<%= will_paginate @following, renderer: BootstrapPagination::Rails %>
	</div>
</div>