<% @mockers.each do |mocker| %>
	<div class="col-12 col-sm-4 col-lg-3 p-0 p-sm-2">
		<%= link_to mocker, class: "link_card card _card _3" do %>
			<div class="_cardbody p-2">
				<div class="row m-0">
					<div class="col-12">
						<%= image_tag avatar_url(mocker), class: "_avatar _1" %>
						<h4 class="_cardtitle _fs15pt"><%= mocker.first_name if mocker.first_name? %> <%= mocker.first_name if mocker.last_name? %></h4>
					</div>
					<div class="col-12">
						<div class="row m-0 fullwidth">
							<div class="col p-0">
								<div class="text-ellipsis">
									<p class="_fs10pt m-0 _fs90per _username">@<%= mocker.slug %> <%= image_tag badge_icon(mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mocker) if mocker.verification? %></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>