<div class="_mocks_mocker row m-0">
	<div class="col">
		<div class="row">
			<% @privated_mocks.each do |mock| %>
			<div class="col-12 col-md-6 p-3 p-t-0 m-0-auto">
				<%= link_to mock, class: "_mock_mocker" do %>
					<div class="row m-0">
						<div class="col-4 _col_img text-center">
							<div class="d-table fullscreen">
								<div class="d-table-cell v-middle">
									<%= image_tag mock.picture.url(:large), class: "img_card_mock_mocker" %>
								</div>
							</div>
						</div>
						<div class="col-8 _cont_mock">
							<div class="d-table fullscreen">
								<div class="d-table-cell v-middle">
									<div class="row">
										<h5 class="card-title _title _fw600"><%= mock.title %></h5>
									</div>
									<div class="row">
										<small><%= mock.created_at.strftime("%d %b %Y").downcase %></small>
									</div>
									<div class="row">
										<div class="d-flex" style="width: max-content;float: right;">
											<p class="_fs10pt m-0" style="padding-right: 9px"><%= render 'mocks/impressions', mock: mock %></p>
											<p class="_fs10pt m-0" style="padding-right: 9px"><%= render 'mocks/likesimple', mock: mock %></p>
											<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
	  <%= will_paginate @privated_mocks, renderer: BootstrapPagination::Rails, param_name: 'privated_mocks_page' %>
	</div>
</div>