<% content_for :title, "#{(@mocker.first_name).capitalize if @mocker.first_name?} #{(@mocker.last_name).capitalize if @mocker.last_name?}  (@#{@mocker.slug}) • Mockering" %>
<% content_for :image_page, "#{avatar_url(@mocker) }" %>
<% content_for :description_page, "#{@mocker.first_name if @mocker.first_name? } #{@mocker.last_name if @mocker.last_name? }" %>
<% content_for :autor_page, "@#{@mocker.slug }" %>
<div class="_conta _1 mt-sm-4">
	<% @blocked = Block.where(mocker_id: @mocker, blocked_id: current_mocker, status: true).present? %>
	<% @blocked_loop = Block.where(mocker_id: current_mocker, blocked_id: @mocker, status: true).present? %>
	
		<% if @mocker.reported == false %>
			<div class="row m-0">
				<div class="col-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 _col_cont_user">
					<div class="row m-0">
						<div class="col-12 _col_user">
							<div class="relative">
								<div class="row cont_coverpage">
									<div class="col-12 p-0">
										<div class="gradient _1"></div>
										<%= image_tag @mocker.coverpage, class: "_coverpage" %>
									</div>
								</div>
								<div class="row cont_user">
									<% if mocker_signed_in? && current_mocker != @mocker %>
										<div class="col-12 text-right p-0">
											<div class="navbar f-right p-0 _navbar_report">
												<div class="nav-item dropleft m-0-auto">
												  <button class="text-center btn _btn _btn_report dropdown-toggle" type="button" id="dropdownOptions_alert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
												  <div class="dropdown-menu" aria-labelledby="dropdownOptions_alert">
												    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#reportMocker">Report </a>
												    <% unless @blocked_loop == true %>
												    	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#blockMocker">Block</a>
												    <% else %>
												    	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#blockMocker">Unlock</a>
												    <% end %>
												  </div>
												</div>
											</div>
										</div>
									<% end %>
									<div class="col-12 text-center">
										<% unless @blocked == true || @blocked_loop == true %>
											<%= image_tag avatar_url(@mocker), class: "_avatar _3" %>
										<% else %>
											<%= image_tag 'https://dfqckra2c3mhq.cloudfront.net/assets/avatar-placeholder.png', class: "_avatar _3" %>
										<% end %>
										<br>
									</div>
									<div class="col-12 text-center">
										<h4 class="_name _fw400 m-0"><%= (@mocker.first_name).capitalize if @mocker.first_name? %> <%= (@mocker.last_name).capitalize if @mocker.last_name? %></h4>
										<p class="_fw400">@<%= @mocker.slug %> <%= image_tag badge_icon(@mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip",	"data-placement": "bottom", title: tooltip_badge(@mocker) if @mocker.verification? %></p>
									</div>
										<div class="col-12 text-center">
											<% if mocker_signed_in? && current_mocker != @mocker %>
												<% if current_mocker.following?(@mocker) %>
													<% unless @blocked == true || @blocked_loop == true %>
														<%= button_to "Unfollow", friendships_path(mocker_id: @mocker.id), method: :delete, class: "btn _btn _action m-0-auto unfollow" %>
													<% end %>
												<% else %>
													<% unless @blocked == true || @blocked_loop == true %>
														<%= button_to "Follow", friendships_path(mocker_id: @mocker.id), class: "btn _btn _action m-0-auto follow" %>
													<% end %>
												<% end %>
											<% elsif mocker_signed_in? %>
												<%= link_to "Edit profile", edit_mocker_registration_path, class: "btn _btn _3 m-0-auto", style: "width: max-content;" %>
											<% end %>
											<% unless @blocked == true || @blocked_loop == true %>
								                <% if current_mocker && current_mocker != @mocker && @mocker.following?(current_mocker) %>
								                  <%= link_to(conversations_path(sender_id: current_mocker.id, recipient_id: @mocker.id), method: :post, class: "_btn _btn_sendmessage") do %> <i class="far fa-envelope"></i> <% end %> 
								                <% end %>
								            <% end %>
											<br/>
										</div>
									<div class="col-4 text-center d-grid">
										<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.mocks.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
										<% num_mocks = @mocker.mocks.count %>
										<p class="_fs9pt text-muted text-ellipsis"><%= 'Mock'.pluralize(num_mocks) %></p>
									</div>
									<div class="col-4">
										<a class="_btn _data" data-toggle="modal" data-target="#followersModal">
											<div class="text-center d-grid">
												<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.follower_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
												<% num_followers = @mocker.follower_ids.count %>
												<p class="_fs9pt text-muted text-ellipsis"><%= 'Follower'.pluralize(num_followers) %> </p>
											</div>
										</a>
									</div>
									<div class="col-4 text-center d-grid">
										<a class="_btn _data" data-toggle="modal" data-target="#followingModal">
											<div class="text-center d-grid">
												<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.following_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
												<% num_followings = @mocker.following_ids.count %>
												<p class="_fs9pt text-muted text-ellipsis"><%= "Following".pluralize(num_followings) %></p>
											</div>
										</a>
												
									</div>
								</div>
								<br>

								<% unless @blocked == true || @blocked_loop == true %>
								<% end %>
								<br class="d-none">
								<div class="row d-none">
									<div class="col-12 p-0">
										<div id="_row_sidenav1">
											<div class="d-table fullscreen ">
												<div class="d-tablecell v-middle">
										              <div class="row m-0">
										                <div class="col">
										                  <%= render 'pages/links_terms' %>
										                </div>
										              </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>

					<% unless @blocked == true || @blocked_loop == true %>
						<% if @mocker.privated == false || @mocker.following?(current_mocker) || current_mocker == @mocker  %>
							<div class="row m-0">
								<div class="col-12">
									<ul class="nav nav-tabs _1" id="tab_mocks" role="tablist">
									  <li class="nav-item" role="presentation">
									    <a class="nav-link active" id="mocks-tab" data-toggle="tab" href="#mocks-pane" role="tab" aria-controls="mocks" aria-selected="true"><i class="bi-camera-video"></i></a>
									  </li>
									  <% if @mocker.show_mocks_privated == true && @mocker.following?(current_mocker) || current_mocker == @mocker %>
										  <li class="nav-item" role="presentation">
										    <a class="nav-link" id="privated-tab" data-toggle="tab" href="#privated" role="tab" aria-controls="privated" aria-selected="false"><i class="bi-lock"></i></a>
										  </li>
									  <% end %>
									  <% if current_mocker == @mocker %>
									  <li class="nav-item" role="presentation">
									    <a class="nav-link" id="liked-tab" data-toggle="tab" href="#liked" role="tab" aria-controls="liked" aria-selected="false"><i class="bi-heart"></i></a>
									  </li>
									  <% end %>
									  <% if @mocker.bio? %>
										  <li class="nav-item" role="presentation">
										    <a class="nav-link" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio" aria-selected="false"><i class="fas fa-user-tie"></i></a>
										  </li>
									  <% end %>
									</ul>
									<div class="tab-content">
									  <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="mocks-tab" id="mocks-pane">
									  		<% if @mocker.mocks.count > 0 %>
												<%= render 'mocks' %>
											<% else %>
												<div class="row m-0">
													<div class="col">
														<div class="jumbotron text-center bg_white">
															<h3 class="_fw600">There is no mocks yet.</h3>
														</div>
													</div>
												</div>
											<% end %>
									  </div>
									  	<% if @mocker.show_mocks_privated == true && @mocker.following?(current_mocker) || current_mocker == @mocker %>
										  <div class="tab-pane fade" id="privated" role="tabpanel" aria-labelledby="privated-tab">
										  		<%= render 'privated_mocks' %>
										  </div>
										<% end %>
										<% if current_mocker == @mocker %>
										  <div class="tab-pane fade" id="liked" role="tabpanel" aria-labelledby="liked-tab">
										  		<%= render 'liked_mocks' %>
										  </div>
									  	<% end %>
										<% if @mocker.bio? %>
										  <div class="tab-pane fade" id="bio" role="tabpanel" aria-labelledby="bio-tab">
											<div class="row m-0">
										  		<div class="col-12">
										  			<div class="jumbotron">
														<div class="readmore _1">
															<p class="keepspaces _bio p-5"><%= @mocker.bio %></p>
														</div>
													</div>
												</div>

												<% if @mocker.facebook? || @mocker.twitter? || @mocker.pinterest? || @mocker.instagram? || @mocker.youtube? %>
													<div class="col-12">
														<div class="row fullscreen m-0">
															<div class="col-auto p-0 m-0-auto">
																<div class="d-table fullscreen">
																	<div class="d-tablecell v-middle ">
																		<ul class="row _list _social p-0">
																			<% if @mocker.facebook? %>
																				<li class="col-auto"><a class="facebook _btn_icon _2" href="https://www.facebook.com/<%= @mocker.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
																			<% end %>
																			<% if @mocker.twitter? %>
																				<li class="col-auto"><a class="twitter _btn_icon _2" href="https://twitter.com/<%= @mocker.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
																			<% end %>
																			<% if @mocker.pinterest? %>
																				<li class="col-auto"><a class="pinterest _btn_icon _2" href="https://www.pinterest.com/<%= @mocker.pinterest %>" target="_blank"><i class="fab fa-pinterest"></i></a></li>
																			<% end %>
																			<% if @mocker.instagram? %>
																				<li class="col-auto"><a class="instagram _btn_icon _2" href="https://www.instagram.com/<%= @mocker.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
																			<% end %>
																			<% if @mocker.youtube? %>
																				<li class="col-auto"><a class="youtube _btn_icon _2" href="<%= @mocker.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a></li>
																			<% end %>
																		</ul>
																	</div>
																</div>
																<br>
															</div>
														</div>
													</div>
												<% end %>
											</div>
										  </div>
										<% end %>
									</div>
										
									<!-- Modal Followers -->
									<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModal" aria-hidden="true">
									  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title _fw700" id="followersModalLabel">Followers</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body p-0">
									      	<div class="list-group" id="followers">
									      		<%= render 'followers' %> 
											</div>
									      </div>
									    </div>
									  </div>
									</div>
									<!-- Modal Following -->
									<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModal" aria-hidden="true">
									  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title _fw700" id="followingModalLabel">Following</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body p-0">
									      	<div class="list-group" id="following">
									      		<%= render 'following' %> 
											</div>
									      </div>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						<% else %>
							<div class="row m-0">
								<div class="col">
									<div class="jumbotron text-center bg_white">
										<h3 class="_fw600">This content is privated.</h3>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		<% else %>
			<!-- Modal -->
			<div class="modal fade" id="appealMocker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title _fw600" id="exampleModalLabel">Appeal content</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <%= render 'mocker_appeals/form', mocker: @mocker %>
			      </div>
			    </div>
			  </div>
			</div>	
			<div class="jumbotron text-center">
				<h1 class="_fw600">This mocker is reported</h1>
				<p>If you want to appeal to this report. Please <a href="#" data-toggle="modal" data-target="#appealMocker">contact us</a>.</p>
			</div>
		<% end %>


	<% if mocker_signed_in? && current_mocker != @mocker %>
		<!-- Modal -->
		<div class="modal fade" id="reportMocker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title _fw600" id="reportModalLabel">Report mocker</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <%= render 'mocker_reports/form', mocker: @mocker %>
		      </div>
		    </div>
		  </div>
		</div>
			<!-- Modal -->
			<div class="modal fade" id="blockMocker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			    <div class="modal-content">
			      <div class="modal-header">

					<% unless @blocked_loop == true %>
			        	<h5 class="modal-title _fw600" id="reportModalLabel">Block mocker</h5>
			        <% else %>
			        	<h5 class="modal-title _fw600" id="reportModalLabel">Unlock mocker</h5>
			        <% end %>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
					<% if @blocked_loop == false %>
			        	<%= render 'blocks/form', blocked: @mocker %>
					<% else %>
			        	<%= render 'blocks/unlock', blocked: @mocker %>
					<% end %>
			      </div>
			    </div>
			  </div>
			</div>
	<% end %>
</div>

<style type="text/css">
	@media(max-width: 767px){
	  ._card._3{
        width:100%;
        margin: 0;
      }
	}
      
  	.bg_white{
  		background:white !important;
  	}
  	#mocks{
  		height: auto !important;
  	}
</style>
<script type="text/javascript">
	$('.readmore').readmore({
			speed: 75,
			collapsedHeight: 70,
			moreLink: '<a href="#" class="link-2">Show more</a>',
	  		lessLink: '<a href="#" class="link-2">Show less</a>'
		}
	);

	$(function(){
	 	$('.pagination a').attr('data-remote', 'true')
	});
</script>