<div class="_conta _1 bg_ghoswhite">
	<div class="row m-0">
		<div class="col-12 col-md-4 col-lg-3 _col_user">
			<div class="relative">
				<div class="row cont_coverpage d-sm-block d-md-none">
					<div class="col-12 p-0">
						<div class="gradient _1"></div>
						<%= image_tag @mocker.coverpage, class: "_coverpage", style: "border-radius:3px;" %>
					</div>
				</div>
				<div class="row cont_user">
					<div class="col-12 text-center">
						<br>
						<%= image_tag avatar_url(@mocker), class: "_avatar _3" %>
						<br>
					</div>
					<div class="col-12 text-center">
						<h4 class="_name _fw400 m-0"><%= (@mocker.first_name).capitalize if @mocker.first_name? %> <%= (@mocker.last_name).capitalize if @mocker.last_name? %></h4>
						<p class="_fw400">@<%= @mocker.slug %></p>
					</div>
					<div class="col-12 text-center">
						<% if mocker_signed_in? && current_mocker != @mocker %>
							<% if current_mocker.following?(@mocker) %>
								<%= button_to "Unfollow", friendships_path(mocker_id: @mocker.id), method: :delete, class: "btn _btn _action m-0-auto unfollow" %>
							<% else %>
								<%= button_to "Follow", friendships_path(mocker_id: @mocker.id), class: "btn _btn _action m-0-auto follow" %>
							<% end %>
						<% elsif mocker_signed_in? %>
							<%= link_to "Edit profile", edit_mocker_registration_path, class: "btn _btn _1 m-0-auto", style: "width: max-content;" %>
						<% end %>

		                <% if current_mocker && current_mocker != @mocker && @mocker.following?(current_mocker) %>
		                  <%= link_to(conversations_path(sender_id: current_mocker.id, recipient_id: @mocker.id), method: :post, class: "_btn _btn_sendmessage") do %> <i class="far fa-envelope"></i> <% end %> 
		                <% end %>
						<hr/>
					</div>
					<div class="col-4 text-center d-grid">
						<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.mocks.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
						<% num_mocks = @mocker.mocks.count %>
						<p class="_fs9pt text-muted text-ellipsis"><%= 'Mock'.pluralize(num_mocks) %></p>
					</div>
					<div class="col-4 text-center d-grid">
						<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.follower_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
						<% num_followers = @mocker.follower_ids.count %>
						<p class="_fs9pt text-muted text-ellipsis"><%= 'Follower'.pluralize(num_followers) %> </p>
					</div>
					<div class="col-4 text-center d-grid">
						<h5 class="_fw600 text-ellipsis m-0"><%= number_to_human(@mocker.following_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></h5>
						<% num_followings = @mocker.following_ids.count %>
						<p class="_fs9pt text-muted text-ellipsis"><%= "Following".pluralize(num_followings) %></p>
					</div>
				</div>
				<br>
				<div class="row m-0">
					<div class="col-12 col-sm-6 col-md-12 p-0">
						<div class="readmore _1">
							<p class="keepspaces _bio"><%= @mocker.bio %></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-12">
						<div class="row fullscreen m-0">
							<div class="col-auto p-0 m-0-auto">
								<div class="d-table fullscreen">
									<div class="d-tablecell v-middle ">
										<ul class="row _list _social p-0">
											<% if @mocker.facebook? %>
												<li class="col-auto"><a class="facebook _btn_icon _2" href="https://www.facebook.com/<%= @mocker.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<% end %>
											<% if @mocker.twitter? %>
												<li class="col-auto"><a class="twitter _btn_icon _2" href="https://twitter.com/<%= @mocker.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<% end %>
											<% if @mocker.pinterest? %>
												<li class="col-auto"><a class="pinterest _btn_icon _2" href="https://www.pinterest.com/<%= @mocker.pinterest %>" target="_blank"><i class="fab fa-pinterest"></i></a></li>
											<% end %>
											<% if @mocker.instagram? %>
												<li class="col-auto"><a class="instagram _btn_icon _2" href="https://www.instagram.com/<%= @mocker.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<% end %>
											<% if @mocker.youtube? %>
												<li class="col-auto"><a class="youtube _btn_icon _2" href="<%= @mocker.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a></li>
											<% end %>
										</ul>
									</div>
								</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
				
		</div>
		<div class="col-12 col-md-8 col-lg-9 offset-md-4 offset-lg-3 _col_cont_user">
			<br class=" d-none d-md-block">
			<div class="row m-0 d-none d-md-block">
				<div class="col-12">
					<%= image_tag @mocker.coverpage, class: "_coverpage" %>
				</div>
			</div>
			<br>
			<div class="row m-0">
				<div class="col-12 p-0">
					<div class="mocks_content">
						<div id="mocks" class="transitions-enabled">
								<% @mocks.each do |mock| %>
									<%= link_to mock, class: "link_card card box _card _1" do %>
										<%= image_tag mock.picture.url(:large), class: "card-img-top _1" %>
										<div class="_cardbody">
											<div class="row m-0">
												<div class="col-12 p-0">
													<h5 class="card-title _title _fw600"><%= mock.title %></h5>
												</div>
												<div class="row m-0 fullwidth">
													<div class="col-6 p-0">
														
														<div class="text-ellipsis">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle ">
																	<small><%= mock.created_at.strftime("%d %b %Y").downcase  %></small>
																</div>
															</div>
														</div>
													</div>
													<div class="col-6">
														<div class="d-table fullscreen">
															<div class="d-tablecell v-middle">
																<div class="d-flex" style="width: max-content;float: right;">
																	<p class="_fs10pt m-0" style="padding-right: 9px"><%= render 'mocks/likesimple', mock: mock %></p>
																	<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									<% end %>
								<% end %>
						</div>
						<br>
						<%= will_paginate @mocks %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	@media(max-width: 575px){
      ._card{
        width:100%;
        margin: 0;
      }
  	}
	._bio{
		text-align-last: center;
	}
	._col_cont_user{
		padding:0;
	}
	._btn._btn_sendmessage{
	    background: white;
	    width: max-content;
	    padding: 10px 15px;
	    border-radius: 369px;
	    margin: 10px auto;
	    color:black !important;
	}
	._btn._btn_sendmessage:hover{
		color:black !important;
		background:ghostwhite;
	}
</style>
<script type="text/javascript">
	$('.readmore').readmore({
			speed: 75,
			collapsedHeight: 70,
			moreLink: '<a href="#" class="link-2">Show more</a>',
	  		lessLink: '<a href="#" class="link-2">Show less</a>'
		}
	);
</script>