<% content_for :title, ": Messages to @#{@other.slug}" %>
<br>
<% if @conversation.reported == false %>
	<div class="container _1">
		<div class="dashboard-chats">
			
			<div class="row">
				<div class="_conversation_other text-center">
					<%= link_to @other, class: "btn btn-default" do %>
						<%= image_tag avatar_url(@other), class: "img-circle avatar-medium" %>
						<strong>@<%= @other.slug %></strong>
					<% end %>
				</div>
				<div class="col"><br>
			<br>
			<br>
					<div id="chatbox">
						<%= render @messages %>
					</div>
					<br>
					<br>
					<div class="_cont_form_chat">
						<div class="container p-0">
							<input type="hidden" id="conversation_id" value="<%= @conversation.id %>">
							<%= form_for [@conversation, @conversation.messages.new], class: "input-group mb-3 _1", remote: true do |f| %>
								<div class="input-group-prepend">
									<%= f.text_field :body, placeholder: "Your message...", class: "form-control _input_group _1", "aria-describedby": "basic-addon1", required: true, maxlength: "200" %>
									<%= f.submit "Send message", class: "input-group-text _1" %>
								</div>
								<%= f.hidden_field :mocker_id, value: current_mocker.id %>
								<br>
								<br>
								<br>
							<% end %>
						</div>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<div class="container">
		<div class="jumbotron text-center">
			<h3 class="_fw600">This conversation has been reported.</h3>
		</div>
	</div>
<% end %>

<style type="text/css">
	.dashboard-chats{
	    height: 80vh;
	    overflow-y: auto;
	    overflow-x: hidden;
	    display: flex;
	    flex-direction: column-reverse;
	}
	.dashboard-chats > .row{
		position: relative;
	}
	.dashboard-chats > .row > ._conversation_other{
	    position: fixed;
	    top: 70px;
	    width: 100%;
	    left: 0;
	    background: white;
	    display: block;
	    z-index: 2;
	    border-bottom: 1px solid #eaeaea;
	    padding: 5px;
	}
	._cont_form_chat{
	    left: 0;
	    position: fixed;
	    bottom: 0;
	    padding: 15px;
	    background: white;
	    border-top: 1px solid #eaeaea;
	    margin: 0 auto;
	    width: 100%;
	}
</style>