<br>
<div class="container _1">
	<div class="dashboard-chats">
		<div class="row">
			<div class="col-md-3 text-center">
				<%= link_to @other, class: "btn btn-default" do %>
					<%= image_tag avatar_url(@other), class: "img-circle avatar-medium" %>
					<strong>@<%= @other.slug %></strong>
				<% end %>
			</div>
			<div class="col-md-9">
				<div id="chatbox">
					<%= render @messages %>
				</div>
				<br>
				<input type="hidden" id="conversation_id" value="<%= @conversation.id %>">
				<%= form_for [@conversation, @conversation.messages.new], class: "input-group mb-3", remote: true do |f| %>
					<div class="input-group-prepend">
						<%= f.text_field :body, placeholder: "Your message...", class: "form-control _input_group _1", "aria-describedby": "basic-addon1" %>
						<%= f.submit "Send message", class: "input-group-text _1" %>
					</div>
					<%= f.hidden_field :mocker_id, value: current_mocker.id %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>