<div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="row m-0">
      <div class="col-12 col-md-3">
        <div class="nav flex-column nav-pills _navpills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <%= link_to :back, class: "_link_back"  do %>
            <i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
          <% end %>
          <div class="row m-0" style="margin-bottom: 15px !important;">
            <div class="col-4 p-0">
                <div class="d-table fullscreen">
                    <div class="d-table-cell v-middle ">
                        <%= image_tag avatar_url(current_mocker), class: "_avatarchange d-block" %>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="d-table fullscreen">
                    <div class="d-table-cell v-middle p-1">
                        <b><%= current_mocker.first_name.capitalize %> <%= current_mocker.last_name.capitalize %></b>
                    </div>
                </div>
            </div>
          </div>
          <a class="nav-link active" id="v-pills-personal-data-tab" data-toggle="pill" href="#v-pills-personal-data" role="tab" aria-controls="v-pills-personal-data" aria-selected="false">Personal data</a>
          <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
          <a class="nav-link" id="v-pills-social-tab" data-toggle="pill" href="#v-pills-social" role="tab" aria-controls="v-pills-social" aria-selected="false">Social Media</a>
        </div>
      </div>
      <div class="col-12 col-md-9">
            <div class="tab-content _tabcontent" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-personal-data" role="tabpanel" aria-labelledby="v-pills-personal-data-tab">
                <div class="cont_account row">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <a class="btn _btn _3" data-toggle="collapse" href="#collapseUpload_coverpage" role="button" aria-expanded="false" aria-controls="collapseUpload_coverpage"><i class="far fa-image" style="float: right;line-height: 1.5;"></i>Cover page</a>
                                    <div class="collapse" id="collapseUpload_coverpage">
                                      <div class="card-body p-0">
                                        <br/>
                                        <%= f.file_field :coverpage, class: "avatar_file" %>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <a class="btn _btn _3" data-toggle="collapse" href="#collapseUpload" role="button" aria-expanded="false" aria-controls="collapseUpload"><i class="far fa-user-circle" style="float: right;line-height: 1.5;"></i> Avatar</a>
                                    <div class="collapse" id="collapseUpload">
                                      <div class="card-body p-0">
                                        <br/>
                                        <%= f.file_field :photo, class: "avatar_file" %>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <div class="d-grid">
                                        <%= f.label "Firstname" %>
                                        <%= f.text_field :first_name, class: "_input _2 form-control",
                                            required: true %>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <div class="d-grid">
                                        <%= f.label "Lastname" %>
                                        <%= f.text_field :last_name, class: "_input _2 form-control" %>
                                    </div>
                                </div>
                                <section class="col-12 _col_inputsaccount">
                                    <%= f.label "Username" %>
                                    <div class="form-group" style="position: relative;">
                                        <span class="username-icon-styles position-absolute" style="right: 6px; top:7px;">
                                          <span id="valid-username" class="valid-username"><i class="material-icons" style="color: #4abf53;">done</i></span>
                                          <span id="invalid-username" class="invalid-username"><i class="material-icons" style="color: #ff5858;">close</i></span>
                                        </span>
                                        <%= f.text_field :slug, class: "_input _2 form-control", required: true,
                                            id: "mocker_username" %>
                                    </div>
                                </section>
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <div class="d-grid">
                                        <%= f.label "Email" %>
                                        <%= f.email_field :email, class: "_input _2 form-control", required: true %>
                                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 _col_inputsaccount">
                                    <div class="d-grid">

                                          <%= f.label "Phone Number" %>
                                          <% if !current_mocker.phone_number.blank? %>
                                            <%= f.label "Phone Number" %>
                                            <a class="btn _btn _3" data-toggle="modal" data-target="#update-phone">Update Phone Number</a>
                                            <% if !current_mocker.phone_verified == true %>
                                                <a class="btn btn_clear" data-toggle="modal" data-target="#verify-phone">Verificar</a>
                                            <% end %>
                                          <% else %>
                                            <a class="btn _btn _3" data-toggle="modal" data-target="#update-phone">Add Phone Number</a>
                                          <% end %>
                                        
                                    </div>
                                </div>
                                <div class="col-12 _col_inputsaccount">
                                    <div class="d-grid">
                                        <%= f.label "How old are you? (Not public)" %>
                                        <%= f.date_field :birthday, class: "_input _2 form-control",
                                            required: true%>
                                    </div>
                                </div>
                                <div class="col-12 _col_inputsaccount">
                                    <%= f.label "Your description" %>
                                    <%= f.text_area :bio, class: "_textarea _2 form-control",  maxlength: "600", rows: "4" %>
                                </div>
                                <div class="col-12 text-center m-b-1em">
                                    <%= f.submit "Update", class: "_btn _1 f-right" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                <div class="cont_account row">
                    <div class="col-12 _col_inputsaccount">
                        <%= f.label "New Password" %>
                        <%= f.password_field :password, class: "_input _2 form-control",
                                    hint: "leave it blank if you don't want to change it",
                                    required: false,
                                    input_html: { autocomplete: "new-password" } %>
                        <%= f.label "Confirm password" %>
                        <%= f.password_field :password_confirmation, class: "_input _2 form-control",
                                    required: false,
                                    input_html: { autocomplete: "new-password" } %>
                    </div>
                    <div class="col-12 text-center m-b-1em">
                        <%= f.submit "Update", class: "_btn _1 _update f-right" %>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
                <div class="cont_account row">
                    <div class="col-12 col-md-6 _col_inputsaccount">

                        <%= f.label "Facebook username (without '@')" %>
                        <%= f.text_field :facebook, class: "_input _2 form-control",
                            placeholder: "Username",
                            input_html: { autocomplete: "facebook" }%>
                        </div>
                        <div class="col-12 col-md-6 _col_inputsaccount">
                        <%= f.label "Instagram username (without '@')" %>
                        <%= f.text_field :instagram, class: "_input _2 form-control",
                            placeholder: "Username",
                            input_html: { autocomplete: "instagram" }%>
                        </div>
                        <div class="col-12 col-md-6 _col_inputsaccount">
                        <%= f.label "Twitter username (without '@')" %>
                        <%= f.text_field :twitter, class: "_input _2 form-control",
                            placeholder: "Username",
                            input_html: { autocomplete: "twitter" }%>
                        </div>
                        <div class="col-12 col-md-6 _col_inputsaccount">
                        <%= f.label "Pinterest username (without '@')" %>
                        <%= f.text_field :pinterest, class: "_input _2 form-control",
                            placeholder: "Username",
                            input_html: { autocomplete: "pinterest" }%>
                        </div>
                        <div class="col-12 _col_inputsaccount">
                        <%= f.label "YouTube Channel" %>
                        <%= f.text_field :youtube, class: "_input _2 form-control",
                            placeholder: "https://www.youtube.com/...",
                            input_html: { autocomplete: "youtube" }%>
                        </div>
                    <div class="col-12 text-center m-b-1em">
                        <%= f.submit "Update", class: "_btn _1 f-right" %>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <% end %>


    <!-- MODAL FOR PHONE NUMBER -->
    <div class="modal fade" tabindex="-1" aria-labelledby="followersModal" aria-hidden="true" id="update-phone">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="update-phoneLabel">Phone number</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_for current_mocker, url: update_phone_number_mocker_path(current_mocker) do |f| %>
              <div class="row">
                <div class="col-9">
                  <div class="form-group m-0">
                    <%= f.phone_field :phone_number, class: "form-control", placeholder: "+1 0001234567", required: true %>
                    <i class="bar"></i>
                  </div>
                </div>
                <div class="col-3">
                  <%= f.submit "Save", class: "btn _btn _1 fullwidth" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <!-- MODAL FOR VERIFICATION PHONE NUMBER -->
    <div class="modal fade" tabindex="-1" aria-labelledby="followersModal" aria-hidden="true" id="verify-phone">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="verify-phoneLabel">Verify your phone number</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <%= form_for current_mocker, url: verify_phone_number_mocker_path(current_mocker), method: :post do |f| %>
              <div class="form-group">
                <%= f.phone_field :pin, class: "form-control", placeholder: "Your PIN", value: "" %>
              </div>
              <div class="text-center">
                <%= f.submit "Verificate", class: "btn _btn _1 fullwidth" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!--<h3>Cancel my account</h3>-->

    <% link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
