<% content_for :title, "Mockering: Sign in" %>
<div class="d-grid"> 
  <div class="_cont _session relative">
    <div class="d-table fullsize">
      <div class="d-tablecell v-middle">
        <div class="container">
          <section class="row _session">
            <div class="col-12 text-center">
              <%= link_to root_path, data: { no_turbolink: true } do %>
                <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_black.svg', class: "_logo _1 d-none-moon", alt: 'Mockering'%>
                <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_dark_mode.svg', class: "_logo _1 d-none-sun", alt: 'Mockering'%>
              <% end %>
              <p class="_text _1 _ttcommons">By human beings for everyone.</p>
            </div>
            <div class="col-12">
              <%= link_to mocker_facebook_omniauth_authorize_path, class: "_btn _session _facebook" do %>
                <span><i class="fab fa-facebook-f"></i></span> <span>Continue with Facebook</span>
              <% end %>
              <%= link_to mocker_google_oauth2_omniauth_authorize_path, class: "_btn _session _google" do %>
              <span><i class="fab fa-google"></i></span> <span>Continue with Google</span>
              <% end %>
            </div>
            <div class="col-12">
              <p class="or"><span>Or</span></p>
            </div>
            <div class="col-12">
                <%= devise_error_messages! %>
                <% flash.each do |key, value| %>
                   <div class="flash <%= key %>"><%= value %></div>
                <% end %>
            </div>
            <div class="col-12">
              <div class="form_wrapper">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="row" id="_form_register">
                  <fieldset class="msf_hide">
                    <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "Create a username (without symbols)" %>
                        <div class="form-group" style="position: relative;">
                            <span class="username-icon-styles position-absolute" style="right: 6px; top:7px;">
                              <span id="valid-username" class="valid-username"><i class="material-icons" style="color: #4abf53;">done</i></span>
                              <span id="invalid-username" class="invalid-username"><i class="material-icons" style="color: #ff5858;">close</i></span>
                            </span>
                            <%= f.text_field :slug, class: "_input _2 form-control", required: true,
                                id: "mocker_username", placeholder: "Username" %>
                        </div>
                    </section>
                    <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "Your email" %>
                        <%= f.email_field :email,
                                required: true,
                                class: "_input _2 form-control", placeholder: "your@email.com" %>
                    </section>
                    <br>
                    <div class="row m-0">
                      <div class="col-12 text-right">
                        <button class="btn _btnround valid-username" onclick="msf_btn_next()"><i class="fas fa-arrow-right"></i></button>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="msf_hide">
                    <div class="row m-0">
                      <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "What's your first name?" %>
                        <%= f.text_field :first_name,
                                  required: true,
                                  class: "_input _2 form-control m-bottom1", 
                                  placeholder: "John" %>
                      </section>
                      <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "What's your last name?" %>
                        <%= f.text_field :last_name, 
                                  required: true,
                                  class: "_input _2 form-control m-bottom1", placeholder: "Smith" %>
                      </section>
                    </div>
                    <br>
                    <div class="row m-0">
                      <div class="col-12 text-right">
                          <button class="btn" onclick="msf_btn_back()" style="margin-right: 5px;"><i class="fas fa-arrow-left"></i></button>
                          <button class="btn _btnround" onclick="msf_btn_next()"><i class="fas fa-arrow-right"></i></button>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="msf_hide">
                    <div class="row m-0">
                      <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "Create a password" %>
                        <%= f.password_field :password,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" },
                                  class: "_input _2 form-control m-bottom1", placeholder: "YourPassword" %>
                      </section>
                      <section class="col-12 _col_inputsaccount p-b-0">
                        <%= f.label "Confirm your new password" %>
                        <%= f.password_field :password_confirmation,
                                  required: true,
                                  input_html: { autocomplete: "new-password" },
                                  class: "_input _2 form-control m-bottom1", placeholder: "YourPassword" %>
                      </section>
                      <section class="col-12 _col_inputsaccount p-b-0">
                        <%= recaptcha_tags %>
                      </section>
                    </div> 
                    <br>
                    <div class="row m-0">
                      <div class="col-12 text-center">
                          <a class="_link _1" onclick="msf_btn_back()" style="margin-right: 5px;">Back</a>
                      </div>
                    </div>
                    <div class="form-actions" style="margin-top:6px;">
                      <%= f.submit "Sign up", class: "btn _btn _login" %>
                    </div>
                    <br>
                  </fieldset>
                </div>
              <% end %>
              </div>
              <br/>
              <%= render "devise/shared/links" %>
              <div class="col-12 text-center">
                <br>
                <%= link_to 'Go to Mockering', root_path, class: "_link _1" %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/minifooter" %>
</div>

              

<style type="text/css">
  body{
    background:white;
  }
  ._nav._1,
  ._navbar_br{
    display: none;
    visibility: hidden;
  }
  fieldset.msf_show,
  fieldset.msf_showhide {
    width: 100%;
  }
  ._col_inputsaccount input::placeholder{
    font-weight: 400;
  }
  ._navfooter,
  .space_navfooter{
    display: none !important;
  }
</style>


<script type="text/javascript">
  console.log("Reloaded");

  // dom variables
  var msf_getFsTag = document.getElementsByTagName("fieldset");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr = 0;
  var fieldset = msf_getFsTag[msf_form_nr];
  fieldset.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr = "<div class='msf_bullet'></div>";
  var msf_length = msf_getFsTag.length;
  for (var i = 1; i < msf_length; ++i) {
      msf_bullet_nr += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o.length; ++i) {
      var msf_b_item = msf_bullet_o[i];
      msf_b_item.innerHTML = msf_bullet_nr;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back")[0].className = "msf_hide";
  document.getElementsByName("next")[msf_bullet_o.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets = document.getElementsByClassName("msf_bullet");
  msf_bullets[msf_form_nr].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next() {
      var msf_val = true;

      var msf_fs = document.querySelectorAll("fieldset")[msf_form_nr];
      var msf_fs_i_count = msf_fs.querySelectorAll("input").length;

      for (i = 0; i < msf_fs_i_count; ++i) {
          var msf_input_s = msf_fs.querySelectorAll("input")[i];
          if (msf_input_s.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s.value === "") {
                  msf_input_s.style.backgroundColor = "#e6e6e6";
                  msf_val = false;
              } else {
                  if (msf_val === false) {} else {
                      msf_val = true;
                      msf_input_s.style.backgroundColor = "#f7fff7";
                  }
              }
          };
      };
      if (msf_val === true) {
          // goes to the next step
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_hide";
          msf_form_nr = msf_form_nr + 1;
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a = msf_form_nr * msf_length + msf_form_nr;
          msf_bullets[msf_bullets_a].className += " msf_bullet_active";
      }
  };

  // goes one step back
  function msf_btn_back() {
      msf_getFsTag[msf_form_nr].className = "msf_hide";
      msf_form_nr = msf_form_nr - 1;
      msf_getFsTag[msf_form_nr].className = "msf_showhide";
  };

  console.log("loaded");
</script>