<% content_for :title, "Mockering: Change your password" %>
  <div class="_cont _session relative">
    <div class="d-table fullscreen">
      <div class="d-tablecell v-middle">
        <div class="container">
          <section class="row _session">
            <div class="col-12 text-center">
              <%= link_to root_path, data: { no_turbolink: true } do %>
                <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering-dark.svg', class: "_logo _1", alt: 'Mockering'%>
              <% end %>
              <p class="_text _1 _ttcommons">By human beings for everyone.</p>
            </div>
            <div class="col-12">
              <h2 class="_fw600">Resend unlock instructions</h2>
              <br>
              <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                <%= f.error_notification %>
                <%= f.full_error :unlock_token %>

                <div class="form-inputs">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Resend unlock instructions" %>
                </div>
              <% end %>
            </div>
          </section>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>




