<% content_for :title, "Mockering: Change your password" %>
  <div class="_cont _session relative">
    <div class="d-table fullscreen">
      <div class="d-tablecell v-middle">
        <div class="container">
          <section class="row _session">
            <div class="col-12 text-center">
              <%= link_to root_path, data: { no_turbolink: true } do %>
                <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_black.svg', class: "_logo _1 d-none-moon", alt: 'Mockering'%>
                <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_dark_mode.svg', class: "_logo _1 d-none-sun", alt: 'Mockering'%>
              <% end %>
              <p class="_text _1 _ttcommons">By human beings for everyone.</p>
            </div>
            <div class="col-12">
              <h2 class="_fw600">Change your password</h2>
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>

                <%= f.input :reset_password_token, as: :hidden %>
                <%= f.full_error :reset_password_token %>

                <div class="form-inputs">
                  <%= f.input :password,
                              label: "New password",
                              required: true,
                              autofocus: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              label: "Confirm your new password",
                              required: true,
                              input_html: { autocomplete: "new-password" } %>
                </div>
                <br>
                <div class="form-actions">
                  <%= f.button :submit, "Change my password", class: "btn _btn _login" %>
                </div>
              <% end %>
            </div>
          </section>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>



