<% content_for :title, "Mockering: Forgot your password?" %>
<div class="d-grid _session"> 
  <div class="_back">
    <div class="_in">
      <i class="bi bi-arrow-left _1"></i>
      <input class="_ocult _2" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" />
    </div>
  </div>
  <div class="_cont _session relative">
    <div class="d-table fullsize">
      <div class="d-tablecell v-middle">
        <div class="container">
          <section class="_1 _session">
            <!--<div class="col-12">
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "alert alert-info" %>
              <% end %>
            </div>-->
            <div class="col-12 text-center">
              <h2 class="_fw600">Forgot your password?</h2>
            </div>
            <div class="col-12">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <div class="col-12 _col_inputsaccount p-b-0">
                      <%= f.label "Email" %>
                      <%= f.text_field :email,
                        required: true,
                        autofocus: true,
                        placeholder: "Email",
                        autocomplete: "email", class: "_input _2 form-control" %>
                    </div>
                    <br>
                    <div class="form-actions">
                      <%= f.submit "Send me reset password instructions", class: "btn _btn _login" %>
                    </div>
                    <br>
              <% end %>
              <br>
              <%= render "devise/shared/links" %>
              <div class="col-12 text-center">
                <br>
                <%= link_to 'Go to Mockering', root_path, class: "_link _1" %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="_subfooter">
    <%= render "shared/minifooter" %>
  </div>
  <%= render "shared/navfooter" %>
</div>
<style type="text/css">
  header._header._1,
  nav._navbar{
    display: none !important;
  }
</style>