<footer class="_footer _1">
	<div class="row m-0">
		<div class="col-md-4 _1">
      <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo _brand" do %>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/mockering_1.svg', class: "_logonav _2 d-none-moon", alt: 'Mockering'%>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/mockering_1.svg', class: "_logonav _1 d-none-moon", alt: 'Mockering'%>
      <% end %>
			<p>By human beings for everyone.</p>
			<div class="cont_social">
				<ul class="d-flex">
					<li><a class="_social" href="https://www.instagram.com/mockering" target="_blank"><i class="bi bi-instagram"></i></a></li>
					<li><a class="_social" href="https://twitter.com/mockering" target="_blank"><i class="bi bi-twitter"></i></a></li>
					<li><a class="_social" href="https://www.tiktok.com/@mockering" target="_blank"><i class="bi bi-tiktok"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 _2">
			<div class="row m-0">
				<div class="col-sm-4 p-0">
					<b>Acceso</b>
          <%= link_to new_mocker_session_path, class: "_link" do %>
          	Iniciar sesión
          <% end %>
          <%= link_to new_mocker_registration_path, class: "_link" do %>
          	Primera vez
          <% end %>
          <%= link_to new_mocker_password_path, class: "_link" do %>
          	Olvide mi acceso
          <% end %>
				</div>
				<div class="col-sm-4 p-0">
					<b>Utilidad</b>
          <%= link_to root_path, class: "_link" do %>
          	Feed
          <% end %>
          <%= link_to mockies_path, class: "_link" do %>
          	Mockies
          <% end %>
          <%= link_to mockets_path, class: "_link" do %>
          	Mockets
          <% end %>
				</div>
				<div class="col-sm-4 p-0">
					<b>Info</b>
          <%= link_to copyrights_howmockeringworks_path, class: "_link" do %>
          	Copyright
          <% end %>
          <%= link_to howmockeringworks_path, class: "_link" do %>
          	Políticas
          <% end %>
          <%= link_to privacy_path, class: "_link" do %>
          	Privacidad
          <% end %>
          <%= link_to terms_path, class: "_link" do %>
          	Terminos
          <% end %>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="_footer _2">
	<div class="row m-0">
		<div class="col-lg-6 _1">
			<p><span>Mockering © 2022 </span></p>
			<p><span>Todos los Derechos Reservados</span></p>
		</div>
		<div class="col-lg-6 _2">
			<p><span>by</span> <a class="_link" href="https://bahamon.io" target="_blank">Bahamon.io</a>  </p>
		</div>
	</div>
</footer>


<style>
	footer._footer._1 {
    padding: 90px 0 15px;
    width: 1240px;
    margin: 0 auto;
    max-width: 100vw;
	}
	footer._footer._2 {
	  background: #ffffff;
	  padding: 15px 30px 60px 30px;
    width: 1240px;
    margin: 0 auto;
    max-width: 100vw;
	}
	footer._footer p>span {
	  margin-right: 5px; 
	  color: #9e9ea7;
	  font-size: 12px;
	}
	footer._footer._2>.row>div {
	  display: grid;
	  align-items: center;
	}
	footer._footer._2>.row>._1 {
	  text-align: right;
	  place-content: start;
	}
	._footer p {
	  display: flex;
	}
	._footer p>span{
		margin-right: 5px;
		text-align: left;
	}
	@media(min-width: 768px){
		footer._footer._2>.row>._2 {
		  text-align: right;
		  place-content: end;
		}
	}
	footer._footer._2>div p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 300;
	  font-size: 0.8rem;
	  margin-bottom:0 ;
	}
	footer._footer._2>div p a:hover{
    color: #464248;
	}

	footer._footer._2>div p a{
    color: #9e9ea7;
    font-style: italic;
    transition: all .3s ease;
	}
	footer._footer>div>._1 ._brand {
	  width: 140px;
	  display: block;
	  max-width: 70vw;
	}
	footer._footer._1>div>._1 p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 300;
	  font-size: 0.8rem;
	  width: 70%;
	  margin-top: 10px;
	  margin-bottom: 10px;
    color: #9e9ea7;
	}
	footer._footer>div>._2>div>div>b {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #464248;
	}
	@media(max-width: 767px){
		footer._footer>div>._2>div>div>b{
    	margin-top: 15px;
		}
	}
	footer._footer>div>._2>div>div>a {
    color: #464248;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 12px;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
	}
	._link {
    line-height: 1;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
	}
	._link:hover {
	  color: black;
	  text-decoration: none !important;
	}

	@keyframes _linkhover {
	  0% {
	    width: 0;
	    right: 0;
	    left: 0;
	  }
	  50% {
	    width: 100%;
	    right: 0;
	    left: 0;
	  }
	  100% {
	    width: 0;
	    right: 0;
	    left: 100%;
	  }
	}


	._link:hover:before{
		-webkit-animation: _linkhover 0.5s cubic-bezier(.17,.67,.83,.67) both;
		        animation: _linkhover 0.5s cubic-bezier(.17,.67,.83,.67) both;
	}
	._link:before {
		content: '';
		position: absolute;
		bottom:-2px;
    width: 0;
    right: 0;
    left: 0;
		height: 1px;
		background: #464248;
		width: 0;
		transition: all 0.4s ease;
	}
	._simpleicon._2>img {
	  transform: rotate(30deg);
	}
	._simpleicon._1>img {
	  transform: rotate(30deg);
	}
	._simpleicon._10 {
    top: 46%;
    left: 16%;
	}
	._simpleicon._9 {
    top: 68%;
    left: 40%;
	}
	._simpleicon._8 {
    top: 70%;
    right: 10%;
	}
	._simpleicon._7 {
    top: 65%;
    left: 7%;
	}
	._simpleicon._6 {
    top: 60%;
    left: 65%;
	}
	._simpleicon._5 {
    top: 25%;
    right: 21%;
	}
	._simpleicon._4 {
    top: 19%;
    left: 30%;
	}
	._simpleicon._3 {
	  top: 30%;
	  left: 50%;
	}
	._simpleicon._2 {
    top: 26%;
    left: 5%;
	}
	._simpleicon._1 {
	  top: 50%;
	  left: 80%;
	}
	._simpleicon {
	  position: absolute;
	  filter: contrast(0);
	  opacity: 0.15;
	  width: 60px;
    max-width: 10vw;
	}
	._simpleicon>img{
		max-width: 100%;
	}
	._btn._4 {
		cursor: pointer;
    padding: 20px 40px;
    width: max-content;
    margin: 20px auto;
    background: linear-gradient(45deg, #c8e3fa, #e62490);
    color: white;
    font-family: 'Sofia Pro','Alata', sans-serif;
    font-weight: 800;
    border-radius: 15px;
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: 0 0 50px -10px #00000061;
	}
	._btn._4:hover{
		transform: translateY(-5px);
    background: linear-gradient(45deg, #599cd5, #e62490);
    box-shadow: 0 0 50px -10px #e62490;
	}
	._simpleicon._1 {
    position: absolute;
    filter: contrast(0);
    opacity: 0.2;
    width: 60px;
	}
	._simpleicon {
	  position: absolute;
	}

	.space_navfooter.d-block.d-md-none {
		background: #f8f9fb;
	}
	a._btn._light_1 {
		opacity: 0.9;
	  background: white;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 0;
	  cursor: pointer;
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_1:hover {
		border: 0;
		opacity: 1;
		color: #000000;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	a._btn._light_2 {
		opacity: 0.9;
	  background: #2c2c2c;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 1px solid white;
	  color: white;
	  display: block;
	  cursor: pointer;
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_2:hover {
		opacity: 1;
		color: #ffffff;
		background: #4a4a4a;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	@media(min-width: 992px){
		section._prelaunch._1>._content>.row>._1{
	    height: 50vh;
	    min-height: 550px;
		}
		section._prelaunch._1 {
		  margin: 60px auto;
		}
		section._prelaunch._2>._content {
			width: 1400px;
			margin: 50px auto;
			max-width: 85%;
		}
		section._prelaunch._3>._content>div>._1 ._cont {
		  width: 500px;
		  max-width: 100%;
	    margin: 0 auto;
	    text-align: left;
		}
	}
	@media(max-width: 991px){
		section._prelaunch._4 h1{
			font-size: 2rem;
		}
		article._masonry_prelaunch{
		  column-width: 40vw !important;
		}
	}
	@media(max-width: 767px){
		footer._footer{
  		padding: 50px 15px 30px;
		}
		footer._footer._1>div {
			display: grid;
		}
		footer._footer._1>div>._1 {
			order: 2;
			margin-top: 60px;
		}
		footer._footer._1>div>._2 {
			order: 1;
		}
		footer._footer._1>div>div{
			padding: 0;
		}
		footer._footer._2>div>div {
			padding: 0;
		}
		footer._footer._2>div:last-of-type{
			padding-bottom: 30px;
		}
		._prelaunch._4>._card>.row>._2 ._cont>.row>div {
			margin: 0 auto;
		}
	}
	@media(max-width: 575px){
		._action>.row>div {
			width: 100%;
			padding-right: 0 !important;
		}
		section._prelaunch._4 h1 {
			font-size: 2rem;
		}
		section._prelaunch._5{
  		padding: 100px 0px;
		}
		section._prelaunch._3>._content>div>div {
			padding: 0 !important;
		}
		section._prelaunch._1>._content>.row{
  		padding: 50px 15px !important;
		}
	}


</style>