<footer class="_footer _1">
	<div class="row m-0">
		<div class="col-md-4 _1">
      <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo _brand" do %>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/mockering_1.svg', class: "_logonav _2 d-none-moon", alt: 'Mockering'%>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/mockering_1.svg', class: "_logonav _1 d-none-moon", alt: 'Mockering'%>
      <% end %>
			<p>By human beings for everyone.</p>
			<div class="cont_social">
				<ul class="d-flex">
					<li><a class="_social" href="https://www.instagram.com/mockering" target="_blank"><i class="bi bi-instagram"></i></a></li>
					<li><a class="_social" href="https://twitter.com/mockering" target="_blank"><i class="bi bi-twitter"></i></a></li>
					<li><a class="_social" href="https://www.tiktok.com/@mockering" target="_blank"><i class="bi bi-tiktok"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 _2">
			<div class="row m-0">
				<div class="col-sm-4 p-0">
					<b>Access</b>
          <%= link_to new_mocker_session_path, class: "_link" do %>
          	Login
          <% end %>
          <%= link_to new_mocker_registration_path, class: "_link" do %>
          	Sign in
          <% end %>
          <%= link_to new_mocker_password_path, class: "_link" do %>
          	Password
          <% end %>
				</div>
				<div class="col-sm-4 p-0">
					<b>Formats</b>
          <%= link_to root_path, class: "_link" do %>
          	Feed
          <% end %>
          <%= link_to mockies_path, class: "_link" do %>
          	Mockies
          <% end %>
          <%= link_to mockets_path, class: "_link" do %>
          	Mockets
          <% end %>
          <%= link_to mockets_path, class: "_link" do %>
          	Tracks
          <% end %>
				</div>
				<div class="col-sm-4 p-0">
					<b>Info</b>
          <%= link_to copyrights_howmockeringworks_path, class: "_link" do %>
          	Copyright
          <% end %>
          <%= link_to howmockeringworks_path, class: "_link" do %>
          	Policy
          <% end %>
          <%= link_to privacy_path, class: "_link" do %>
          	Privacy
          <% end %>
          <%= link_to terms_path, class: "_link" do %>
          	Terms
          <% end %>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="_footer _2">
	<div class="row m-0">
		<div class="col-lg-6 _1">
			<p><span>Mockering © 2022 </span></p>
			<p><span>Todos los Derechos Reservados</span></p>
		</div>
		<div class="col-lg-6 _2">
			<p class="_powered"><span>Powered by </span> <a class="_link" href="https://bahamon.io" target="_blank">Bahamon.io</a></p>
		</div>
	</div>
</footer>