<div class="_nav _1 
    <% if current_page?(root_path) || current_page?(latest_path) || current_page?(random_path) || current_page?(trends_path) || current_page?(your_mocks_path) || current_page?(liked_path) || current_page?(conversations_path) || current_page?(edit_mocker_registration_path) %>
      _on
    <% end %>
  ">
  <div class="_1">
    <div class="row m-0">
      <div class="col col-lg-5 col-xl-4 p-sm-0 ">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle">
            <ul class="navbar-nav _navbar _console" style="padding: 0 10px;">
              <li class="nav-item d-block d-md-none">
                <div class="d-table fullscreen">
                  <div class="d-tablecell v-middle">
                    <a class="_btnmenu collapsed" data-toggle="collapse" href="#multiCollapseNavbar" role="button" aria-expanded="false" aria-controls="multiCollapseNavbar" id="_btnmenu">
                    <div class="_iconav" id="_iconav">
                      <span></span><span></span><span></span>
                    </div>
                  </a>
                  </div>
                </div>
              </li>
              <li class="nav-item d-none d-md-block" style="margin-right: 5px;">
                <div class="d-table fullscreen">
                  <div class="d-tablecell v-middle">
                    <a class="_btnmenu _btn_out_sidebar" id="_btnmenu_2">
                    <div class="_iconav_2" id="_iconav_2">
                      <span></span><span></span><span></span>
                    </div>
                  </a>
                  </div>
                </div>
              </li>
              <li class="nav-item relative d-none d-xs-block _logo_navbar pr-3 
                  <% unless current_page?(root_path) || current_page?(latest_path) || current_page?(random_path) || current_page?(trends_path) || current_page?(your_mocks_path) || current_page?(liked_path) || current_page?(conversations_path) || current_page?(edit_mocker_registration_path) %>
                   _on
                  <% end %>
                  ">
                  <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                    <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering.svg', class: "_logonav _2 d-none-moon", alt: 'Mockering'%>
                    <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering.svg', class: "_logonav _1 d-none-moon", alt: 'Mockering'%>
                    <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_dark_mode.svg', class: "_logonav _2 d-none-sun", alt: 'Mockering'%>
                    <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_dark_mode.svg', class: "_logonav _1 d-none-sun", alt: 'Mockering'%>
                  <% end %>
              </li>
              <li class="nav-item relative d-block d-xs-none fullwidth text-right _logo_navbar_mini" >
                <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                  <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/icon.svg', class: "_logonav _4 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/icon.svg', class: "_logonav _3 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/icon_dark_mode.svg', class: "_logonav _4 d-none-sun", alt: 'Mockering'%>
                  <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/icon_dark_mode.svg', class: "_logonav _3 d-none-sun", alt: 'Mockering'%>
                <% end %>
              </li>
              <li class="nav-item btn-mini icon_navbar d-none d-md-block">
                <div class="d-table fullsize">
                  <div class="d-tablecell v-middle">
                    <%= link_to root_path, class: "_btn_icon #{'active' if current_page?(root_path)}" do %>
                      <i class="bi-house-door"></i>
                    <% end %>
                  </div>
                </div>
              </li>
              <li class="nav-item btn-mini icon_navbar d-none d-md-block">
                <div class="d-table fullsize">
                  <div class="d-tablecell v-middle">
                    <%= link_to random_path, class: "_btn_icon #{'active' if current_page?(random_path)}" do %>
                      <i class="bi-shuffle"></i>
                    <% end %>
                  </div>
                </div>
              </li>
              <li class="nav-item btn-mini icon_navbar d-none d-md-block">
                <div class="d-table fullsize">
                  <div class="d-tablecell v-middle">
                    <%= link_to trends_path, class: "_btn_icon #{'active' if current_page?(trends_path)}" do %>
                      <i class="bi-thermometer-half"></i>
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> 
      </div>
      <div class="col d-none d-lg-block pl-0">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col col_search _1 p-0">
                <%= form_tag search_path, class: "row m-0", method: :get do |f| %>
                  <%= text_field_tag :q, nil, placeholder: "What are you looking for?", class: "_searchfield col-10 ", value: "#{params[:q] if params[:q].present?}", required: true %>
                  <div class="col-2 p-0 d-none d-xs-block">
                    <div class="d-table fullscreen ">
                      <div class="d-tablecell v-middle text-center">
                        <%= button_tag(type: "submit", class: "btn _btn m-0-auto") do %>
                          <i class="bi-search"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col p-0">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <% if mocker_signed_in? %>
                          <div class="navbar p-0" style="margin-right:6px;">
                            <li class="nav-item btn-mini icon_navbar" style="height: 40px;">
                              <div class="d-table fullsize">
                                <div class="d-tablecell v-middle">
                                  <%= link_to new_mock_path, class: "_btn_icon #{'active' if current_page?(random_path)}" do %>
                                    <i class="bi-plus-square"></i>
                                  <% end %>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item dropdown" data-behavior="notifications" style="padding-top: 2px;">
                              <div class="btn-mini icon_navbar ">
                                <div class="d-table fullsize">
                                  <div class="d-tablecell v-middle">
                                    <a class="_btn_icon dropdown-toggle " data-behavior="notifications-link" href="#" id="navbarNotifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="bi-bell"></i>
                                      <span class="_span_unread_count" data-behavior="unread-count"></span>
                                    </a>
                                    <div class="dropdown-menu _1" aria-labelledby="navbarNotifications" data-behavior="notification-items" id="navbarNotificationsItems">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </div>
                        <% end %>

                          <div class="navbar p-0">
                            <li class="nav-item dropdown">
                              <div class="d-table fullscreen">
                                <div class="d-tablecell v-middle">
                                  <% if mocker_signed_in? # && current_mocker.admin %>
                                    <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                    
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Settings", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    </div>
                                  <% else %>
                                    <%= link_to new_mocker_session_path, class: "_btn_icon_avatar nav-link" do %>
                                      <%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %>
                                    <% end %>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                        <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                        <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </li>
                          </div>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xl-10 p-0 d-block d-lg-none">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col-12 pr-2">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <% if mocker_signed_in? %>
                        <li class="nav-item btn-mini icon_navbar">
                          <div class="d-table fullscreen">
                            <div class="d-tablecell v-middle">
                              <%= link_to new_mock_path, class: "_btn_icon #{'active' if current_page?(random_path)}" do %>
                                <i class="bi-plus-square"></i>
                              <% end %>
                            </div>
                          </div>
                        </li>
                      <% end %>
                      <li class="nav-item">
                        <div class="d-table fullscreen">
                          <div class="d-tablecell v-middle">
                            <a class="_btn_icon collapsed"  data-toggle="collapse" href="#multiCollapseSearch" role="button" aria-expanded="false" aria-controls="multiCollapseSearch"><i class="bi-search"></i></a>
                          </div>
                        </div>
                      </li>
                      <% if mocker_signed_in? %>
                        <div class="navbar p-0">
                          <li class="nav-item dropup <%= 'active' if current_page?(notifications_path)  %>" data-behavior="notifications">
                            <div class="d-table fullscreen">
                              <div class="d-tablecell v-middle">
                                <a class="_btn_icon collapsed dropdown-toggle " data-behavior="notifications-link" href="#" id="navbarNotifications_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="bi-bell"></i>
                                  <span class="_span_unread_count" data-behavior="unread-count"></span>
                                </a>
                                <div class="dropdown-menu _1" aria-labelledby="navbarNotifications_2" data-behavior="notification-items" id="navbarNotificationsItems2">
                                </div>
                              </div>
                            </div>
                          </li>
                        </div>
                      <% end %>
                      <div class="navbar p-0 d-none d-sm-block">
                        <li class="nav-item dropdown">
                          <div class="d-table fullscreen">
                            <div class="d-tablecell v-middle">
                                  <% if mocker_signed_in? # && current_mocker.admin %>
                                    <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                    
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Settings", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    </div>
                                  <% else %>
                                    <%= link_to new_mocker_session_path, class: "_btn_icon_avatar nav-link" do %>
                                      <%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %>
                                    <% end %>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                        <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                        <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    </div>
                                  <% end %>
                            </div>
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
                          
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col offset-md-3 m-0 multi-collapse collapse in " id="multiCollapseSearch" aria-expanded="true">
        <div class="_searchabsolute card-body col-12 p-0">
          <div class="row m-0"> 
            <div >
              <div class="d-table fullscreen">
                <div class="d-tablecell v-middle">
                  <a class="_btn_icon collapsed" data-toggle="collapse" href="#multiCollapseSearch" role="button" aria-expanded="false" aria-controls="multiCollapseSearch" style="margin-left: -5px;margin-right: 5px;"><i class="bi-arrow-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col _col_search_mobile">
              <%= form_tag search_path, class: "row m-0", method: :get do |f| %>
                <div class="col-10 ">
                  <%= text_field_tag :q, nil, placeholder: "What are you looking for?", class: "_searchfield col-10", value: "#{params[:q] if params[:q].present?}", required: true %>
                </div>
                <div class="col-2 p-0">
                  <div class="d-table fullscreen ">
                    <div class="d-tablecell v-middle text-center">
                        <%= button_tag(type: "submit", class: "btn _btn m-0-auto") do %>
                          <i class="bi-search"></i>
                        <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row fullwidth m-0 multi-collapse collapse in" id="multiCollapseNavbar" aria-expanded="true">
      <div class="col-12 p-0">

        <div class="navside">
          <div class="d-table fullscreen">
            <div class="d-tablecell v-middle">
              <% if mocker_signed_in? %>
              <div class="row m-0">
                <div class="relative fullwidth">
                  <div class="row cont_user m-0">
                    <div class="col-12 text-center">
                      <br>
                      <%= image_tag avatar_url(current_mocker), class: "_avatar _3" %>
                    </div>
                    <div class="col-12 text-center">
                      <h4 class="_name _fw400 m-0"><%= current_mocker.first_name.capitalize  if current_mocker.first_name? %> <%= current_mocker.last_name.capitalize if current_mocker.last_name? %></h4>
                      <p class="_fw500 text-muted">@<%= current_mocker.slug %> <%= image_tag badge_icon(current_mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip", "data-placement": "bottom", title: tooltip_badge(current_mocker) if current_mocker.verification? %></p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <% end %>
              <div class="row m-0">
                <ul class="_listsidenav fullwidth">
                  <% if mocker_signed_in? %>
                    <li class="<%= 'active' if current_page?(your_mocks_path)  %>"><%= link_to your_mocks_path, class: "_link _sidenav" do %>
                        <i class="bi-collection col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Your mocks</p>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(liked_path)  %>"><%= link_to liked_path, class: "_link _sidenav" do %>
                        <i class="bi-heart col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Liked mocks</p>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(conversations_path)  %>"><%= link_to conversations_path, class: "_link _sidenav" do %>
                        <i class="bi-inbox col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Messages</p>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(mocker_path(current_mocker))  %>"><%= link_to mocker_path(current_mocker), class: "_link _sidenav" do %>
                        <i class="bi-person col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Account</p>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(edit_mocker_registration_path)  %>"><%= link_to edit_mocker_registration_path, class: "_link _sidenav" do %>
                        <i class="bi-wrench col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Settings</p>
                      <% end %>
                    </li>
                    <li><%= link_to destroy_mocker_session_path, method: :delete, class: "_link _sidenav" do %>
                        <i class="bi-door-open col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Logout</p>
                      <% end %>
                    </li>
                  <% else %>
                    <li><%= link_to new_mocker_session_path, class: "_link _sidenav" do %>
                        <i class="bi-door-open col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Login</p>
                      <% end %>
                    </li>
                    <li><%= link_to new_mocker_registration_path, class: "_link _sidenav" do %>
                        <i class="bi-person-plus col-2 text-center p-0"></i>
                        <p class="col-10 m-0">New account</p>
                      <% end %>
                    </li>
                  <% end %>  
                  <hr>
                  <li>
                    <label class="_link _sidenav" for="darkSwitch">
                      <div class="col-2 text-center p-0 custom-control custom-switch">
                        <i class="bi-moon d-none-moon"></i>
                        <i class="bi-sun d-none-sun"></i>
                        <input type="checkbox" class="custom-control-input" id="darkSwitch">
                      </div>
                      <p class="col-10 m-0 d-none-sun">Sun mode</p>
                      <p class="col-10 m-0 d-none-moon">Moon mode</p>
                    </label>
                  </li>
                    
                  <div class="row m-0">
                    <div class="col">
                      <%= render 'pages/links_terms' %>
                    </div>
                  </div>
                </ul>
              </div>
              
            </div>
          </div>
            
        </div>
      </div>
    </div>
    
  </div>    
</div>
<div class="_navbar_br"></div>

<style type="text/css">
  ._logo_navbar._on{
    display: block !important;
  }
  ._logo_navbar{
    display: none !important;
  }
  ._nav._1.active-semi{
    position: fixed !important;
  }
  ._navbar_br.active-semi{
    position:static;
    display:block;
  }
  ._nav._1.active-semi.active{
    top:15px !important;
  }
  ._logo_navbar ._link_logo{
    padding-top: 9px;
    display: block;
  }
  ._logo_navside{
    margin: 0 auto;
    padding: 30px 15px;
  }
  ._navbar_br{
    position:fixed;
    height:70px;
  }
  .content_big_1{
    overflow-y: hidden !important;
  }
  ._video_views i::before{
    line-height: inherit !important;
  }
  ._col_btn_action_mock a i::before {
    line-height: 1.25;
  }
  @media(max-width: 767px){
    ._logo_navbar{
      display: block !important;
    }
    ._nav._1._shadow.active-semi.active{
      top:0 !important;
      left: 0 !important;
      right:0 !important;
    }
    ._nav._1.active-semi.active{
      top:0 !important;
    }
    ._nav._1.active-semi{
      left:0 !important;
      right:0 !important;
    }
  }
  @media(max-width: 611px){
    ._content_principal .mocks_content #mocks ._card{
      width:95vw;
      margin-bottom: 15px;
    }

  }
  @media(max-width: 575px){
    ._nav._1._shadow.active-semi.active{
      left: 15px !important;
      padding:0; 
    }
  }
  @media(max-width: 565px){
    ._nav._1._shadow.active-semi.active {
      top: 0;
      left: 0 !important;
      right: 0;
    }
    ._nav._1.active-semi{
      left: 0 !important;
      right: 0 !important;
    }
  }
  @media(max-width: 322px){
    ._logo_navbar{
      display: none !important;
    }
    ._link_logo ._logonav._2,
    ._link_logo ._logonav._1{
      display: none !important;
      padding: 0 !important;
    }
    ._logo_navbar{
      padding: 0 !important;
    }
    .col_navfooter.active a i{
      top:0 !important;
      font-size: 1.2rem !important;
    }
    .col_navfooter.active a p{
      display: none !important;
    }
  }
  

  <% if current_page?(root_path) || current_page?(latest_path) || current_page?(random_path) || current_page?(trends_path) || current_page?(your_mocks_path) || current_page?(liked_path) || current_page?(conversations_path) || current_page?(edit_mocker_registration_path) %>
    @media(min-width: 768px){
      ._content_principal._1{
        padding-left: 0;
      }
      ._content_principal._1._p_off{
        padding-left: 15px;
      }
    }
  <% end %>
</style>
<script type="text/javascript">
  
  $(document).ready(function(){
      $("._btn_out_sidebar").click(function(){
          $("#_sidenav").toggleClass("out");
          // $("#_sidenav_2").toggleClass("out");
          $("._nav._1").toggleClass("_on");
          $("._logo_navbar").toggleClass("_on");
          $("._content_principal").toggleClass("_p_off");
          $(".content_big_1").toggleClass("offset-md-3");
          $(".content_big_1").toggleClass("offset-xl-2");
      });
      $("._btn_out_sidebar").click(function(){
          $("._content_principal").toggleClass("full");
      });

  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>
