<div class="space_navfooter d-block d-md-none" style="height:52px;"></div>
<div class="_navfooter d-block d-md-none">
	<div class="cont_navfooter">
		<div class="_contbtn_add_navfooter">
			<%= link_to new_mock_path, class: "_btn_add_mock_navfooter" do %>
				<i class="fas fa-plus"></i>
			<% end %>
		</div>
		<ul class="_listnavfooter">
			<div class="row m-0 fullwidth">
				<li class="col-3 <%= 'active' if current_page?(root_path)  %>">
					<%= link_to root_path, class: "_btn _btnavfoot " do %>
						<i class="fas fa-th-large text-center p-0"></i>
						<p class="text-ellipsis m-0">Feed</p>
					<% end %>
				</li>
				<li class="col-3 <%= 'active' if current_page?(latest_path)  %>">
					<%= link_to latest_path, class: "_btn _btnavfoot " do %>
						<i class="fas fa-stopwatch text-center p-0"></i>
						<p class="text-ellipsis m-0">Latest</p>
					<% end %>
				</li>
				<li class="col-3 <%= 'active' if current_page?(popular_path)  %>">
					<%= link_to popular_path, class: "_btn _btnavfoot" do %>
						<i class="fas fa-fire text-center p-0"></i>
						<p class="text-ellipsis m-0">Popular</p>
					<% end %>
				</li>
                <% if mocker_signed_in? %>
                	<div class="col-3 navbar p-0">
                		<li class="nav-item fullwidth  dropup <%= 'active' if current_page?(notifications_path)  %>" data-behavior="notifications">
	                      <a class="_btn _btnavfoot dropdown-toggle " data-behavior="notifications-link" href="#" id="navbarNotifications_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="_span_unread_count" data-behavior="unread-count"></span>
							<i class="fas fa-bell text-center p-0"></i>
							<p class="text-ellipsis m-0">Yours</p>
	                      </a>
	                      <div class="dropdown-menu _1" aria-labelledby="navbarNotifications_2" data-behavior="notification-items" id="navbarNotificationsItems2">
	                      </div>
	                    </li>
                	</div>
				<% else %>
					<li class="col-3 <%= 'active' if current_page?(new_mocker_session_path)  %>">
						<%= link_to notifications_path, class: "_btn _btnavfoot" do %>
							<i class="fas fa-user text-center p-0"></i>
							<p class="text-ellipsis m-0">Account</p>
						<% end %>
					</li>
				<% end %>
			</div>
		</ul>
	</div>
</div>
