<div class="space_navfooter d-none" style="height:52px;"></div>
<div class="_navfooter d-block d-sm-none">
	<div class="cont_navfooter">

	    <% if mocker_signed_in? %>
	      <%= link_to new_mock_path, class: "_btn_add_mock_navfooter" do %>
			<i class="fas fa-sparkles"></i>	
	      <% end %>
	    <% else %>
	      <%= link_to new_mocker_session_path, class: "_btn_add_mock_navfooter" do %>
			<i class="fas fa-sparkles"></i>	
	      <% end %>
	    <% end %>
		<ul class="_listnavfooter">
			<div class="row m-0 fullwidth">
				<li class="col_navfooter col-3 <%= 'active' if current_page?(root_path)  %>">
					<%= link_to root_path, class: "_btn _btnavfoot " do %>
						<i class="fal fa-globe-americas text-center p-0"></i>
					<% end %>
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(mockies_path)  %>">
					<%= link_to mockies_path, class: "_btn _btnavfoot " do %>
						<i class="fal fa-film-alt text-center p-0"></i>
					<% end %> 
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(mockets_path)  %>">
					<%= link_to mockets_path, class: "_btn _btnavfoot " do %>
						<i class="fal fa-newspaper text-center p-0"></i>
					<% end %>
				</li>
                <% if mocker_signed_in? %>

					<li class="col_navfooter col-3 <%= 'active' if current_page?(mocker_path(current_mocker))  %>">
						<%= link_to mocker_path(current_mocker), class: "_btn _btnavfoot" do %>
							<i><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></i>
						<% end %> 
					</li>
				<% else %>
					<li class="col_navfooter col-3 <%= 'active' if current_page?(new_mocker_session_path)  %>">
						<%= link_to new_mocker_session_path, class: "_btn _btnavfoot" do %>
							<i class="fal fa-user-astronaut text-center p-0"></i>

						<% end %>
					</li>
				<% end %>
			</div>
		</ul>
	</div>
</div>