<div class="space_navfooter d-block d-md-none" style="height:52px;"></div>
<div class="_navfooter d-block d-md-none">
	<div class="cont_navfooter">
        <% if mocker_signed_in? %>
			<div class="_contbtn_add_navfooter">
				<%= link_to new_mock_path, class: "_btn_add_mock_navfooter" do %>
					<i class="bi-plus"></i>
				<% end %>
			</div>
		<% end %>
		<ul class="_listnavfooter">
			<div class="row m-0 fullwidth">
				<li class="col_navfooter col-3 <%= 'active' if current_page?(root_path)  %>">
					<%= link_to root_path, class: "_btn _btnavfoot " do %>
						<div class="d-table fullheight fullwidth">
							<div class="d-tablecell v-middle">
								<i class="bi-house-door text-center p-0"></i>
								<p class="text-ellipsis m-0">Feed</p>
							</div>
						</div>
					<% end %>
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(random_path)  %>">
					<%= link_to random_path, class: "_btn _btnavfoot " do %>
						<i class="bi-shuffle text-center p-0"></i>
						<p class="text-ellipsis m-0">Random</p>
					<% end %>
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(trends_path)  %>">
					<%= link_to trends_path, class: "_btn _btnavfoot" do %>
						<i class="bi-thermometer-half text-center p-0"></i>
						<p class="text-ellipsis m-0">Trends</p>
					<% end %> 
				</li>
                <% if mocker_signed_in? %>

					<li class="col_navfooter col-3 <%= 'active' if current_page?(mocker_path(current_mocker))  %>">
						<%= link_to mocker_path(current_mocker), class: "_btn _btnavfoot" do %>
							<i class="bi-person text-center p-0"></i>
							<p class="text-ellipsis m-0">Account</p>
						<% end %> 
					</li>
				<% else %>
					<li class="col_navfooter col-3 <%= 'active' if current_page?(new_mocker_session_path)  %>">
						<%= link_to new_mocker_session_path, class: "_btn _btnavfoot" do %>
							<i class="bi-person text-center p-0"></i>
							<p class="text-ellipsis m-0">Account</p>
						<% end %>
					</li>
				<% end %>
			</div>
		</ul>
	</div>
</div>
<style type="text/css">
	.col_navfooter a i{
	    font-size: 1.36rem;
	    line-height: 2.5rem;
	    vertical-align: middle;
	}
	.col_navfooter a p{
		display: none;
	    position: absolute;
	    bottom: 9px;
	    left: 0px;
	}
	.col_navfooter.active a i{
	    font-size: 1.5rem;
	    top: -6px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    width: 100%;
	}
	.col_navfooter.active a p{
		display: block;
	}
</style>