<div class="_nav _1">
  <div class="_1">
    <div class="row m-0">
      <div class="col col-md-3 col-xl-2 p-sm-0 ">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle">
            <ul class="navbar-nav _navbar _console" style="padding: 0 10px;">
              <li class="nav-item d-block d-md-none" style="margin-right: 5px;">
                <div class="d-table fullscreen">
                  <div class="d-tablecell v-middle">
                    <a class="_btnmenu collapsed" data-toggle="collapse" href="#multiCollapseNavbar" role="button" aria-expanded="false" aria-controls="multiCollapseNavbar" id="_btnmenu">
                    <div class="_iconav" id="_iconav">
                      <span></span><span></span><span></span>
                    </div>
                  </a>
                  </div>
                </div>
              </li>
              <li class="nav-item d-none d-md-block" style="margin-right: 5px;">
                <div class="d-table fullscreen">
                  <div class="d-tablecell v-middle">
                    <a class="_btnmenu _btn_out_sidebar" id="_btnmenu_2">
                    <div class="_iconav_2" id="_iconav_2">
                      <span></span><span></span><span></span>
                    </div>
                  </a>
                  </div>
                </div>
              </li>
              <li class="nav-item relative d-none d-xs-block">
                <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_black.svg', class: "_logonav _2 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering.svg', class: "_logonav _1 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_dark_mode.svg', class: "_logonav _2 d-none-sun", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_dark_mode.svg', class: "_logonav _1 d-none-sun", alt: 'Mockering'%>

                <% end %>
              </li>
              <li class="nav-item relative d-block d-xs-none fullwidth text-right">
                <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/icon_black.svg', class: "_logonav _4 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/icon.svg', class: "_logonav _3 d-none-moon", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/icon_dark_mode.svg', class: "_logonav _4 d-none-sun", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/icon_dark_mode.svg', class: "_logonav _3 d-none-sun", alt: 'Mockering'%>
                <% end %>
              </li>   
                
            </ul>
          </div>
        </div> 
      </div>
      <div class="col-8 col-md-9 col-xl-10 d-none d-md-block pl-0">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col-6 col-sm-6 col-xl-4 col_search _1 offset-xl-3 p-0">
                <%= form_tag search_path, class: "row m-0", method: :get do |f| %>
                  <%= text_field_tag :"q[title_or_description_or_credits_cont]", params[:title_or_description_or_credits_cont], placeholder: "What are you looking for?", class: "_searchfield col-10" %>
                  <div class="col-2 p-0">
                    <div class="d-table fullscreen ">
                      <div class="d-tablecell v-middle text-center">
                        <%= submit_tag 'search', class: "btn _btn _transparent material-icons m-0-auto" %>   
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-5 col-md-6 col-xl-5 p-0">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <% if mocker_signed_in? %>
                          <li class="nav-item d-sm-none d-md-block" style="padding-right: 10px;">
                            <div class="d-table fullscreen">
                              <div class="d-tablecell v-middle">
                                <%= link_to new_mock_path, class: "_btn _1 _addmock" do %>
                                  <i class="material-icons ">add</i> Add video
                                <% end %>
                              </div>
                            </div>
                          </li>
                          <div class="navbar p-0" style="margin-right:6px;">
                            <li class="nav-item dropdown" data-behavior="notifications">
                              <a class="_btn_icon dropdown-toggle " data-behavior="notifications-link" href="#" id="navbarNotifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons" style="line-height: 2;">notifications_none</i>
                                <span class="_span_unread_count" data-behavior="unread-count"></span>
                              </a>
                              <div class="dropdown-menu _1" aria-labelledby="navbarNotifications" data-behavior="notification-items" id="navbarNotificationsItems">
                              </div>
                            </li>
                          </div>
                        <% end %>

                          <li class="nav-item" style="padding-right: 10px;">
                            <div class="d-table fullscreen">
                              <div class="d-tablecell v-middle">
                                <%= link_to contribute_path, class: "_btn _2 _contribute" do %>
                                  <i class="fas fa-hand-holding-usd"></i>
                                <% end %>
                              </div>
                            </div>
                          </li>
                          <div class="navbar p-0">
                            <li class="nav-item dropdown">
                              <div class="d-table fullscreen">
                                <div class="d-tablecell v-middle">
                                  <% if mocker_signed_in? # && current_mocker.admin %>
                                    <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                    
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Settings", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    </div>
                                  <% else %>
                                    <%= link_to new_mocker_session_path, class: "_btn_icon_avatar nav-link" do %>
                                      <%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %>
                                    <% end %>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                        <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                        <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </li>
                          </div>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-9 col-xl-10 p-0 d-block d-md-none">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col-12 pr-2">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <li class="nav-item" style="margin-right: 10px;">
                        <div class="d-table fullscreen">
                          <div class="d-tablecell v-middle">
                            <a class="_btn_icon collapsed"  data-toggle="collapse" href="#multiCollapseSearch" role="button" aria-expanded="false" aria-controls="multiCollapseSearch"><i class="material-icons" style="line-height: 2;">search</i></a>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item" style="padding-right: 10px;">
                        <div class="d-table fullscreen">
                          <div class="d-tablecell v-middle">
                            <%= link_to contribute_path, class: "_btn _2 _contribute" do %>
                              <i class="fas fa-hand-holding-usd"></i>
                            <% end %>
                          </div>
                        </div>
                      </li>
                      <div class="navbar p-0">
                        <li class="nav-item dropdown">
                          <div class="d-table fullscreen">
                            <div class="d-tablecell v-middle">
                                  <% if mocker_signed_in? # && current_mocker.admin %>
                                    <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                    
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Settings", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    </div>
                                  <% else %>
                                    <%= link_to new_mocker_session_path, class: "_btn_icon_avatar nav-link" do %>
                                      <%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %>
                                    <% end %>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2" id="navbarDropdown2">
                                        <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                        <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    </div>
                                  <% end %>
                            </div>
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
                          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row fullwidth m-0 multi-collapse collapse in" id="multiCollapseNavbar" aria-expanded="true">
      <div class="col-12 p-0">

        <div class="navside">
          <div class="d-table fullscreen">
            <div class="d-tablecell v-middle">
              <% if mocker_signed_in? %>
              <div class="row m-0">
                <div class="relative fullwidth">
                  <div class="row cont_user m-0">
                    <div class="col-12 text-center">
                      <br>
                      <%= image_tag avatar_url(current_mocker), class: "_avatar _3" %>
                    </div>
                    <div class="col-12 text-center">
                      <h4 class="_name _fw400 m-0"><%= current_mocker.first_name.capitalize  if current_mocker.first_name? %> <%= current_mocker.last_name.capitalize if current_mocker.last_name? %></h4>
                      <p class="_fw500 text-muted">@<%= current_mocker.slug %> <%= image_tag badge_icon(current_mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip", "data-placement": "bottom", title: tooltip_badge(current_mocker) if current_mocker.verification? %></p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <% end %>
              <div class="row m-0">
                <ul class="_listsidenav fullwidth">
                  <li class="<%= 'active' if current_page?(root_path)  %>"><%= link_to root_path, class: "_link _sidenav row m-0" do %>
                      <i class="fas fa-th-large col-2 text-center p-0" style="font-size: 10pt;line-height: 2.1;"></i>
                      <p class="col-10 m-0">Feed</p>
                    <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?(latest_path)  %>"><%= link_to latest_path, class: "_link _sidenav" do %>
                      <i class="fas fa-stopwatch col-2 text-center p-0"></i>
                      <p class="col-10 m-0">Latest</p>
                    <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?(popular_path)  %>"><%= link_to popular_path, class: "_link _sidenav" do %>
                      <i class="fas fa-fire col-2 text-center p-0"></i>
                      <p class="col-10 m-0">Popular</p>
                    <% end %>
                  </li>
                    <% if mocker_signed_in? %>
                    <li class="<%= 'active' if current_page?(conversations_path)  %>"><%= link_to conversations_path, class: "_link _sidenav" do %>
                        <i class="fas fa-envelope col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Messages</p>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(edit_mocker_registration_path)  %>"><%= link_to edit_mocker_registration_path, class: "_link _sidenav" do %>
                        <i class="fas fa-cog col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Settings</p>
                      <% end %>
                    </li>
                    <li><%= link_to destroy_mocker_session_path, method: :delete, class: "_link _sidenav" do %>
                        <i class="fas fa-sign-out-alt col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Logout</p>
                      <% end %>
                    </li>
                  <% else %>
                    <li><%= link_to new_mocker_session_path, class: "_link _sidenav" do %>
                        <i class="fas fa-sign-in-alt col-2 text-center p-0"></i>
                        <p class="col-10 m-0">Login</p>
                      <% end %>
                    </li>
                  <% end %>  
                  <hr>
                  <li><%= link_to contribute_path, class: "_link _sidenav" do %>
                    <i class="fas fa-hand-holding-usd col-2 text-center p-0"></i>
                      <p class="col-10 m-0">Contributor</p>
                    <% end %>
                  </li>
                  <li>
                    <label class="_link _sidenav" for="darkSwitch">
                      <div class="col-2 text-center p-0 custom-control custom-switch">
                        <i class="fas fa-moon d-none-moon"></i>
                        <i class="fas fa-sun d-none-sun"></i>
                        <input type="checkbox" class="custom-control-input" id="darkSwitch">
                      </div>
                      <p class="col-10 m-0 d-none-sun">Sun mode</p>
                      <p class="col-10 m-0 d-none-moon">Moon mode</p>
                    </label>
                  </li>
                    
                  <div class="row m-0">
                    <div class="col">
                      <%= render 'pages/links_terms' %>
                    </div>
                  </div>
                </ul>
              </div>
              
            </div>
          </div>
            
        </div>
      </div>
    </div>
    <div class="row fullwidth m-0 multi-collapse collapse in " id="multiCollapseSearch" aria-expanded="true">
      <div class="_searchabsolute card-body col-12">
        <%= form_tag search_path, class: "row m-0", method: :get do |f| %>
        <div class="col-2">
          <div class="d-table fullscreen">
            <div class="d-tablecell v-middle">
              <a class="_btn_icon collapsed"  data-toggle="collapse" href="#multiCollapseSearch" role="button" aria-expanded="false" aria-controls="multiCollapseSearch"><i class="fas fa-arrow-left"></i></a>
            </div>
          </div>
        </div> 
        <div class="col-8">
          <%= text_field_tag :"q[title_or_description_or_credits_cont]", params[:title_or_description_or_credits_cont], placeholder: "What are you looking for?", class: "_searchfield col-12" %>
        </div>
        <div class="col-2 p-0">
          <div class="d-table fullscreen ">
            <div class="d-tablecell v-middle text-center">
              <%= submit_tag 'search', class: "btn _btn _transparent material-icons m-0-auto" %>   
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>    
</div>
<div class="_navbar_br"></div>
<% unless current_page?(root_path) || current_page?(latest_path) || current_page?(popular_path) %>
  <div class="navside_2 out" id="_sidenav_2">
    <%= render 'shared/navside' %>
  </div>
<% end %>

<style type="text/css">
  @media(min-width: 768px){
    ._nav._1.active,
    ._nav._1.active-semi,
    ._nav{
      position: fixed !important;
      top:0;
    }
    ._navbar_br{
      position:static;
    }
  }
  #paypal-button-container_1{
    text-align:center;
  }
  ._content_principal .mocks_content #mocks ._card{
    width:300px;
  }
  ._card{
    -webkit-transition: all .2s ease-in !important;
    transition: all .2s ease-in !important;
  }
  ._card:hover {
    box-shadow: 0 9px 19px -3px #0000005e;
    transform: translateY(-5px);
  }
  @media(max-width: 611px){
    ._content_principal .mocks_content #mocks ._card{
      width:95vw;
      margin-bottom: 15px;
    }
  }
</style>
<script type="text/javascript">
  
  $(document).ready(function(){
      $("._btn_out_sidebar").click(function(){
          $("#_sidenav").toggleClass("out");
          $("#_sidenav_2").toggleClass("out");
      });
      $("._btn_out_sidebar").click(function(){
          $("._content_principal").toggleClass("full");
      });

  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>