<div class="space_navfooter d-none" style="height:52px;"></div>
<div class="_navfooter d-block d-md-none">
	<div class="cont_navfooter">
		<!--<% unless current_page?(conversations_path) || current_page?(edit_mocker_registration_path) || current_page?(new_mock_path) %>
	        <% if mocker_signed_in? %>
				<div class="_contbtn_add_navfooter">
					<%= link_to new_mock_path, class: "_btn_add_mock_navfooter" do %>
						<i class="bi-plus"></i>
					<% end %>
				</div>
			<% end %>
		<% end %>-->
		<ul class="_listnavfooter">
			<div class="row m-0 fullwidth">
				<li class="col_navfooter col-3 <%= 'active' if current_page?(all_path)  %>">
					<%= link_to all_path, class: "_btn _btnavfoot " do %>
						<div class="d-table fullheight fullwidth">
							<div class="d-tablecell v-middle">
								<i class="bi-tornado text-center p-0"></i>
								<p class="text-ellipsis m-0">Feed</p>
							</div>
						</div>
					<% end %>
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(plays_path)  %>">
					<%= link_to plays_path, class: "_btn _btnavfoot " do %>
						<i class="bi-camera-reels text-center p-0"></i>
						<p class="text-ellipsis m-0">Plays</p>
					<% end %>
				</li>
				<li class="col_navfooter col-3 <%= 'active' if current_page?(mockets_path)  %>">
					<%= link_to mockets_path, class: "_btn _btnavfoot " do %>
						<i class="bi-easel2 text-center p-0"></i>
						<p class="text-ellipsis m-0">Mockets</p>
					<% end %>
				</li>
                <% if mocker_signed_in? %>

					<li class="col_navfooter col-3 <%= 'active' if current_page?(mocker_path(current_mocker))  %>">
						<%= link_to mocker_path(current_mocker), class: "_btn _btnavfoot" do %>
							<i><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></i>
							<p class="text-ellipsis m-0">Me</p>
						<% end %> 
					</li>
				<% else %>
					<li class="col_navfooter col-3 <%= 'active' if current_page?(new_mocker_session_path)  %>">
						<%= link_to new_mocker_session_path, class: "_btn _btnavfoot" do %>
							<i class="bi-person text-center p-0"></i>
							<p class="text-ellipsis m-0">Account</p>
						<% end %>
					</li>
				<% end %>
			</div>
		</ul>
	</div>
</div>