<nav class="navbar navbar-expand-lg navbar-light bg-light" id="_navbar1">
<div class="container">
  <div class="navbar-brand">
    <%= link_to root_path, data: { no_turbolink: true } do %>
      <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering-dark.svg', width: 136, height: 67, alt: 'Mockering'%>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav navbar-right">
      <% if mocker_signed_in? # && current_mocker.admin %>
        <li class="nav-item"><%= link_to "New Mock", new_mock_path, class: "nav-link" %></li>
      <% end %>
      <% if mocker_signed_in? %>
        <li class="nav-item"><%= link_to "Account", edit_mocker_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Login", new_mocker_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>