<nav class="_navside">
  <div class="_cont _1">
    <%= link_to root_path, data: { no_turbolink: true }, class: "_logo _2" do %>
      <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_1.svg', class: "_logonav _3 _sun-mode", alt: 'Mockering'%>
      <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_dark_mode.svg', class: "_logonav _4 _moon-mode", alt: 'Mockering'%>
    <% end %>
    <%= link_to root_path, class: "_item #{'active' if current_page?(root_path)}" do %>
      <i class="fal fa-globe-americas"></i>
      <span class="_1">Feed</span>
    <% end %>
    <%= link_to discover_path, class: "_item #{'active' if current_page?(discover_path)}" do %>
      <i class="fal fa-hiking"></i>
      <span class="_1">Discover</span>
    <% end %>
    <%= link_to mockies_path, class: "_item #{'active' if current_page?(mockies_path)}" do %>
      <i class="fal fa-film-alt"></i>
      <span class="_1">Mockies</span>
    <% end %>
    <%= link_to mockets_path, class: "_item #{'active' if current_page?(mockets_path)}" do %>
      <i class="fal fa-images"></i>
      <span class="_1">Mockets</span>
    <% end %>
    <%= link_to tracks_path, class: "_item #{'active' if current_page?(tracks_path)}" do %>
      <i class="fal fa-compact-disc"></i>
      <span class="_1">Tracks</span>
    <% end %>
	<% if mocker_signed_in? %>
		<%= link_to loved_path, class: "_item #{'active' if current_page?(loved_path)}" do %>
			<i class="fal fa-box-heart"></i>
      		<span class="_1">Loved</span>
		<% end %>
		<%= link_to library_path, class: "_item #{'active' if current_page?(library_path)}" do %>
			<i class="fal fa-box-full"></i>
      		<span class="_1">Library</span>
		<% end %>
		<%= link_to conversations_path, class: "_item #{'active' if current_page?(conversations_path)}" do %>
			<i class="fal fa-comments-alt"></i>
      		<span class="_1">Messages</span>
		<% end %>
		<div class="_item _icon_action _userlink">
			<i class="fal fa-user-astronaut"></i>
	  		<span class="_1">Me</span>
        <div class="_cont _1 _user">
          <div class="_1">
            <%= link_to current_mocker do %>
              <%= image_tag avatar_url(current_mocker), class: "_avatar _4" %>
            <% end %>
          </div>
          <div class="_2">
            <%= link_to current_mocker, class: "_name" do %>
              <%= current_mocker.first_name.capitalize if current_mocker.first_name? %> 
              <%= current_mocker.last_name.capitalize if current_mocker.last_name? %>
            <% end %>
            <%= link_to current_mocker, class: "_username" do %>
              @<%= current_mocker.slug %>
            <% end %>
          </div>
          <div class="_3">
            <div class="_items">
              <a class="_item _data" data-toggle="modal">
                <span class="_in">
                  <span class="_1"><%= number_to_human(current_mocker.follower_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></span>
                  <span class="_2"><% num_followers = current_mocker.follower_ids.count %> <%= 'Follower'.pluralize(num_followers) %></span>
                </span>
              </a>
              <a class="_item _data" data-toggle="modal">
                <span class="_in">
                  <span class="_1"><%= number_to_human(current_mocker.following_ids.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></span>
                  <span class="_2"><% num_followings = current_mocker.following_ids.count %> <%= "Following".pluralize(num_followings) %></span>
                </span>
              </a>
            </div>
          </div>
          <div class="_4">
            <%= link_to "Profile", mocker_path(current_mocker) %>
            <%= link_to "Settings", edit_mocker_registration_path  %>
            <div class="dropdown-divider p-0 m-0"></div>
            <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete  %>
          </div>
        </div>
	    </div>
	<% end %>
    <% if mocker_signed_in? %>
      <%= link_to new_mock_path, class: "_btn _1" do %>
        <i class="fal fa-plus"></i>
        <span class="_1">Mock it</span>
      <% end %>
    <% else %>
      <%= link_to new_mocker_session_path, class: "_btn _1" do %>
        <i class="fal fa-plus"></i>
        <span class="_1">Login</span>
      <% end %>
    <% end %>
  </div>
  <div class="_cont _2">
  </div>
</nav>
