<header class="_header _1 d-none d-xl-block">
  <% if mocker_signed_in? # && current_mocker.admin %>
    <div class="_cont _1">
      <nav class="_nav _1">
        <div class="_brand">
          <%= link_to root_path, data: { no_turbolink: true }, class: "_logo _2" do %>
            <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_1.svg', class: "_logonav _3 _sun-mode", alt: 'Mockering'%>
            <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_dark_mode.svg', class: "_logonav _3 _moon-mode", alt: 'Mockering'%>
          <% end %>
        </div>
      </nav>
      <ul class="_nav_actions _hidden">
        <li class="_search">
          <%= form_tag search_path, class: "_form d-none d-lg-block", method: :get do |f| %>
            <%= text_field_tag :q, nil, 
                placeholder: "Search",
                class: "_searchfield",
                value: "#{params[:q] if params[:q].present?}",
                required: true %>
          <% end %>
        </li>
      </ul>
      <ul class="_nav_actions">
        <li class="_icon">
          <aside class="_action _search d-lg-none">
            <i class="far fa-search"></i>
          </aside>
        </li>
        <li class="_icon d-none">
          <aside class="_action _chats-action">
            <i class="far fa-comments-alt"></i>
          </aside>
          <div class="_cont _1 _chats">
            <div class="_in"></div>
          </div>
        </li>
        <li class="_icon d-none">
          <aside class="_action _activity-action" id="navbarNotifications">
            <i class="far fa-bells"></i>
            <span class="_span_unread_count" data-behavior="unread-count"></span>
          </aside>
          <div class="_cont _1 _activity">
            <div class="_in"></div>
          </div>
        </li>
        <li class="_icon">
          <%= link_to mocker_path(current_mocker), class: "_action _avatar" do %>
            <%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %>
          <% end %>
          <div class="_cont _1 _user">
            <div class="_in">
              <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
              <%= link_to "Settings", edit_mocker_registration_path, class: "nav-link" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
            </div>
          </div>
        </li>
      </ul> 
    </div>
  <% else %>
    <div class="_cont _1">
      <nav class="_nav _1">
        <div class="_brand">
          <%= link_to root_path, data: { no_turbolink: true }, class: "_logo _2" do %>
            <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_1.svg', class: "_logonav _3 _sun-mode", alt: 'Mockering'%>
            <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_dark_mode.svg', class: "_logonav _4 _moon-mode", alt: 'Mockering'%>
          <% end %>
        </div>
      </nav>
      <ul class="_nav_actions _hidden">
        <li class="_search">
          <%= form_tag search_path, class: "_form d-none d-lg-block", method: :get do |f| %>
            <%= text_field_tag :q, nil, 
                placeholder: "Search",
                class: "_searchfield",
                value: "#{params[:q] if params[:q].present?}",
                required: true %>
          <% end %>
        </li>
      </ul>
      <ul class="_nav_actions">
        <li class="_icon">
          <aside class="_action _search d-lg-none">
            <i class="far fa-search"></i>
          </aside>
        </li>
        <li class="_icon">
          <%= link_to new_mocker_session_path, class: "_action _avatar" do %>
            <i class="bi bi-person-circle"></i>
          <% end %>
          <div class="_cont _1 _user">
            <div class="_in">
              <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
              <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
            </div>
          </div>
        </li>
      </ul> 
    </div>
  <% end %>
</header>
<div class="d-xl-none">
  <%= render 'shared/navbarsm' %>
</div>