<div class="_nav _1">
  <div class="_conta _1">
    <div class="row m-0">
      <div class="col-8 col-md-3 col-xl-2 p-sm-0 ">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle">
            <ul class="navbar-nav _navbar _console" style="padding: 0 10px;">
              <li class="nav-item d-block d-sm-none" style="margin-right: 5px;">
                <div class="d-table fullscreen">
                  <div class="d-tablecell v-middle">
                    <a class="_btnmenu collapsed" data-toggle="collapse" href="#multiCollapseNavbar" role="button" aria-expanded="false" aria-controls="multiCollapseNavbar" id="_btnmenu">
                    <div class="_iconav" id="_iconav">
                      <span></span><span></span><span></span>
                    </div>
                  </a>
                  </div>
                </div>
              </li>
              <li class="nav-item relative d-none d-xs-block">
                <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering.svg', class: "_logonav _2", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_red.svg', class: "_logonav _1", alt: 'Mockering'%>
                <% end %>
              </li>
              <li class="nav-item relative d-block d-xs-none fullwidth text-right">
                <%= link_to root_path, data: { no_turbolink: true }, class: "_link_logo" do %>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_dark_icon.svg', class: "_logonav _4", alt: 'Mockering'%>
                  <%= image_tag 'https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_red_icon.svg', class: "_logonav _3", alt: 'Mockering'%>
                <% end %>
              </li>   
                
            </ul>
          </div>
        </div> 
      </div>
      <div class="col-8 col-md-9 col-xl-10 d-none d-md-block">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col-6 col-sm-7 col-xl-4 col_search _1 offset-xl-3">
                <%= search_form_for @q, class: "row m-0" do |f| %><!--, remote: true-->
                  <%= f.search_field :title_or_description_cont, placeholder: "What are you looking for?", class: "_searchfield col-10" %>
                  <div class="col-2 p-0">
                    <div class="d-table fullscreen ">
                      <div class="d-tablecell v-middle text-center">
                        <%= f.submit 'search', class: "btn _btn _2 material-icons m-0-auto" %>   
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-5">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <% if mocker_signed_in? %>
                          <li class="nav-item d-sm-none d-md-block" style="padding-right: 10px;">
                            <div class="d-table fullscreen">
                              <div class="d-tablecell v-middle">
                                <%= link_to new_mock_path, class: "_btn _1" do %>
                                  <i class="material-icons ">add</i> Add mock
                                <% end %>
                              </div>
                            </div>
                          </li>

                          <li class="nav-item" style="margin-right: 6px;">
                            <div class="d-table fullscreen">
                              <div class="d-tablecell v-middle">
                                <a class="_btn_icon" href="#"><i class="material-icons" style="line-height: 2;">notifications_none</i></a>
                              </div>
                            </div>
                          </li>
                        <% end %>
                          <div class="navbar p-0">
                            <li class="nav-item dropdown">
                              <div class="d-table fullscreen">
                                <div class="d-tablecell v-middle">
                                  <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount2">
                                    <% if mocker_signed_in? # && current_mocker.admin %>
                                      <%= link_to "+ Add mock", new_mock_path, class: "nav-link d-sm-block d-md-none" %>
                                      <div class="dropdown-divider d-sm-block d-md-none"></div>
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Edit profile", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    <% else %>
                                      <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                      <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </div>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-9 col-xl-10 p-0 d-block d-md-none">
        <div class="d-table fullscreen ">
          <div class="d-tablecell v-middle text-center">
            <div class="row m-0">
              <div class="col-12">
                <div class="d-table fullscreen ">
                  <div class="d-tablecell v-middle text-center">
                    <ul class="navbar-nav float-right _navbar _console">
                      <li class="nav-item" style="margin-right: 10px;">
                        <div class="d-table fullscreen">
                          <div class="d-tablecell v-middle">
                            <a class="_btn_icon collapsed"  data-toggle="collapse" href="#multiCollapseSearch" role="button" aria-expanded="false" aria-controls="multiCollapseSearch"><i class="material-icons" style="line-height: 2;">search</i></a>
                          </div>
                        </div>
                      </li>
                      <% if mocker_signed_in? %>
                        <li class="nav-item d-none d-sm-block" style="margin-right: 6px;">
                          <div class="d-table fullscreen">
                            <div class="d-tablecell v-middle">
                              <a class="_btn_icon" href="#"><i class="material-icons" style="line-height: 2;">notifications_none</i></a>
                            </div>
                          </div>
                        </li>
                      <% end %>
                      <div class="navbar p-0">
                        <li class="nav-item dropdown">
                          <div class="d-table fullscreen">
                            <div class="d-tablecell v-middle">
                              <a class="_btn_icon_avatar nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_mocker), class: "_avatar_navbar" %></a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                                <% if mocker_signed_in? # && current_mocker.admin %>
                                      <%= link_to "+ Add mock", new_mock_path, class: "nav-link d-sm-block d-md-none" %>
                                      <div class="dropdown-divider d-sm-block d-md-none"></div>
                                      <%= link_to "Profile", mocker_path(current_mocker), class: "nav-link"%>
                                      <%= link_to "Edit profile", edit_mocker_registration_path, class: "nav-link" %>
                                      <div class="dropdown-divider"></div>
                                      <%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete, class: "nav-link" %>
                                    <% else %>
                                      <%= link_to "Login", new_mocker_session_path, class: "nav-link" %>
                                      <%= link_to "Sign Up", new_mocker_registration_path, class: "nav-link" %>
                                    <% end %>
                              </div>
                            </div>
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
                          
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row fullwidth m-0 multi-collapse collapse in" id="multiCollapseNavbar" aria-expanded="true">
      <div class="col-12">

        <div class="navside">

          <% if mocker_signed_in? %>
          <div class="row m-0">
            <div class="relative fullwidth">
              <div class="row cont_user m-0">
                <div class="col-12 text-center">
                  <br>
                  <%= image_tag avatar_url(current_mocker), class: "_avatar _3" %>
                </div>
                <div class="col-12 text-center">
                  <h4 class="_name _fw400 m-0"><%= current_mocker.first_name.capitalize  if current_mocker.first_name? %> <%= current_mocker.last_name.capitalize if current_mocker.last_name? %></h4>
                  <p class="_fw400">@<%= current_mocker.slug %></p>
                </div>
              </div>
              <br>
            </div>
          </div>
          <% end %>
          <div class="row m-0">
            <ul class="_list_sidenav fullwidth text-center">
              <li class="<%= 'active' if current_page?(root_path)  %>"><%= link_to root_path, class: "_link _sidenav " do %>
                  <i class="fas fa-home"></i>
                  <p>Home</p>
                  <span></span>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?('/popular')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
                  <i class="fas fa-fire"></i>
                  <p>Popular</p>
                  <span></span>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?('/recent')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
                  <i class="fas fa-stopwatch"></i>
                  <p>Recent</p>
                  <span></span>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?('/discover')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
                  <i class="fas fa-globe-americas"></i>
                  <p>Discover</p>
                  <span></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row fullwidth m-0 multi-collapse collapse in " id="multiCollapseSearch" aria-expanded="true">
      <div class="_searchabsolute col-12">
        <%= search_form_for @q, class: "row m-0" do |f| %><!--, remote: true-->
          <%= f.search_field :title_or_description_cont, placeholder: "What are you looking for?", class: "_searchfield col-10" %>
          <div class="col-2">
            <div class="d-table fullscreen ">
              <div class="d-tablecell v-middle text-center">
                <%= f.submit 'search', class: "btn _btn _2 material-icons float-right" %>   
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>    
</div>
<div class="_navbar_br"></div>

<style type="text/css">


</style>