<div class="space_navfooter d-block d-md-none" style="height:52px;"></div>
<div class="_navfooter d-block d-md-none">
	<div class="cont_navfooter">
		<ul class="_listnavfooter">
			<div class="row m-0 fullwidth">
				<li class="col-3 <%= 'active' if current_page?(root_path)  %>">
					<%= link_to root_path, class: "_btn _btnavfoot " do %>
						<i class="fas fa-th-large text-center p-0"></i>
						<p class="text-ellipsis m-0">Feed</p>
					<% end %>
				</li>
				<li class="col-3 <%= 'active' if current_page?(latest_path)  %>">
					<%= link_to latest_path, class: "_btn _btnavfoot " do %>
						<i class="fas fa-stopwatch text-center p-0"></i>
						<p class="text-ellipsis m-0">Latest</p>
					<% end %>
				</li>
				<li class="col-3 <%= 'active' if current_page?(popular_path)  %>">
					<%= link_to popular_path, class: "_btn _btnavfoot" do %>
						<i class="fas fa-fire text-center p-0"></i>
						<p class="text-ellipsis m-0">Popular</p>
					<% end %>
				</li>
                <% if mocker_signed_in? %>
					<li class="col-3 <%= 'active' if current_page?(notifications_path)  %>">
						<%= link_to notifications_path, class: "_btn _btnavfoot", "data-behavior": "notifications-link" do %>
							<span class="_span_unread_count" data-behavior="unread-count"></span>
							<i class="fas fa-bell text-center p-0"></i>
							<p class="text-ellipsis m-0">Yours</p>
						<% end %>
					</li>
				<% else %>
					<li class="col-3 <%= 'active' if current_page?(new_mocker_session_path)  %>">
						<%= link_to notifications_path, class: "_btn _btnavfoot", "data-behavior": "notifications-link" do %>
							<i class="fas fa-user text-center p-0"></i>
							<p class="text-ellipsis m-0">Account</p>
						<% end %>
					</li>
				<% end %>
			</div>
		</ul>
	</div>
</div>