<% content_for :title, "Forgery Complaint • Mockering" %>
<div class="container">
	<%= form_for @contact, url: trademarkcontacts_path do |f| %>


    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <h2 class="_fw600">Forgery Complaint</h2>
        <br>
        <p>Please understand that Mockering cannot mediate trademark disputes between users and trademark owners. Mockering is willing to conduct a limited investigation of reasonable complaints and will delete its content if it is clearly infringing. Please note that abuse of our legal forms may result in the termination of your Mockering account.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <div class="field">
          <label>Your full legal name <sub>(Aliases, usernames, or initials are not accepted)</sub> *</label><br>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Your title *</label><br>
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Company name *</label><br>
          <%= f.text_field :company_name, class: 'form-control' , required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Country *</label><br>
          <%= f.text_field :country, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Trademark name *</label><br>
          <%= f.text_field :trademark_name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Business Address *</label><br>
          <%= f.text_field :business_address, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Business Website </label><br>
          <%= f.text_field :business_website, class: 'form-control' %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Email contact *</label><br>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Trademark *</label><br>
          <%= f.text_field :trademark, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Application or registration number *</label><br>
          <%= f.text_field :registration_number, class: 'form-control' %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="field">
          <label>Please identify the product at issue </label><br>
          <%= f.text_field :product_issue, class: 'form-control' %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <div class="field">
          <label>Video URL <sub>(https://mockering.com/mocks/01234-56789/</sub> *</label><br>
          <%= f.text_field :url, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <h3 class="_fw600">Clarifications</h3>
        <div class="field">
          <label>Specify the method of alleged trademark infringement *</label><br>
          <%= text_area :clarify, rows: 8, cols: 40, class: 'form-control fullwidth _1', required: true, style: 'width: 100%;' %>
        </div>
      </div>
      <br>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <h3 class="_fw600">Legal Affirmations</h3>
        <div class="field">
          <br>
          <label>Agree to the following statement: *</label><br>
          <%= f.check_box :i_believe, required: true %> I firmly believe that the use of the above-mentioned trademark with the above-mentioned content is not authorized by the trademark owner or its agent, and the use is not permitted under the law.
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <div class="field">
          <label>Agree to the following statement: *</label><br>
          <%= f.check_box :i_agree, required: true %> I agree to allow Mockering to provide my contact information to uploaders upon request.
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <div class="field">
          <label>Entering your full name in this box will serve as your digital signature *</label><br>
          <%= f.text_field :fullname, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <br>
        <p>By submitting a legal complaint to Mockering, you agree that Mockering can send a legal complaint to the Lumen project. Before publishing your submission notice publicly, the Lumen project will delete any personal contact information (such as phone number, email, physical address), and we may publicly share the link to the complaint. You can see examples of lumen notifications here</p>
      </div>
      <div class= "hidden d-none">
        <%= f.text_field :nickname %>
      </div>
      <div class="col-12 col-md-8 offset-md-2 text-right">
        <br>
        <%= f.submit 'Send Message', class: 'btn _btn _1 f-right fullwidth' %>
      </div>
    </div> 
    <br>
    <br>
    <br>

  <% end %>
</div>
<style type="text/css">
  textarea{
    width:100% !important;
  }
</style>