  <% @answers = review.answers.order(created_at: :desc).paginate(page: params[:answers_page], per_page: 3) %>
  <% @answers.each do |a| %>

    <div class="_rowreview">
      <aside class="_1">
        <div class="_cont _1">
          <%= link_to(a.mocker) do  %>
            <%= image_tag avatar_url(a.mocker), class: "img-circle _avatar_comment" %>
          <% end %>
        </div>
        <div class="_cont _2">
          <aside class="_comment _1">
            <p class="_user"><%= a.mocker.first_name %> <%= a.mocker.last_name %> <%= image_tag badge_icon(a.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip", "data-placement": "bottom", title: tooltip_badge(a.mocker) if a.mocker.verification? %>
            </p>
            <p class="_text keepspaces readmore">
              <%= auto_link(a.comment, html: { target: '_blank' }) %>
            </p>
            <div class="_date">
              <p><%= a.created_at.strftime("%B %d, %Y").downcase  %> </p>
              <% if mocker_signed_in? %>
                <%= link_to like_answer_path(a), method: :put, remote: :true, class: "like-review" do %>
                  <div id="like-count-review">
                    <%= render 'answers/likes', answer: a %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_mocker_session_path, class: "like-review" do %>
                  <div id="like-count-review">
                    <i class="fas fa-heart"></i> <%= number_to_human(a.get_upvotes.size, units: { million: 'm', billion: 'b' }) %>
                  </div>
                <% end %>
              <% end %>
              <% if mocker_signed_in? %>
                <%= link_to dislike_answer_path(a), method: :put, remote: :true, class: "like-review" do %>
                  <div id="dislike-count-review">
                    <%= render 'answers/dislikes', answer: a %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_mocker_session_path, class: "like-review" do %>
                  <div id="dislike-count-review">
                  <i class="fas fa-hand-middle-finger"></i> <%= number_to_human(a.get_downvotes.size, units: { million: 'm', billion: 'b' }) %>
                  </div>
                <% end %>
              <% end %>
            </div>
            
          </aside>
        </div>
        <% if current_mocker && current_mocker == a.mocker %>
          <div class="navbar d-block p-0 _actions">
            <div class="nav-item dropdown text-right">
              <a  class="linkdropdown_reviews dropdown-toggle _color_black deco-none f-right" 
                  href="#" 
                  id="dropdownReview"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu right-0" aria-labelledby="dropdownReview">
                <% if mocker_signed_in? # && current_mocker.admin %>
                  <%= link_to a, class:"_itemdropdown", method: :delete, data: {confirm: "Are you sure?"} do %>Remove<% end %>
                  <!--<div class="dropdown-divider"></div>
                  <a href="#" class="_itemdropdown">Report</a>-->
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </aside>
    </div>
  <% end %>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
      <%= will_paginate @answers, renderer: BootstrapPagination::Rails, param_name: 'answers_page' %>
    </div>
  </div>
<script type="text/javascript">

  $('.readmore').readmore({
      speed: 75,
      collapsedHeight: 85,
      moreLink: '<a href="#" class="link-2">Show more</a>',
        lessLink: '<a href="#" class="link-2">Show less</a>'
    }
  );
</script>
<style type="text/css">
  .dropdown-menu.right-0{
    left:inherit;
    right: 0 !important;
  }
</style>
