<% @blocked = Block.where(mocker_id: current_mocker, blocked_id: @mocker).present? %>
<% @block = Block.find_by(mocker_id: current_mocker, blocked_id: blocked) %>
<% if @blocked == false %>
  <%= form_for current_mocker.blocks.new do |f| %>
    <div class="_form _1">
      <div class="col-12">
        <div class="field">
          <%= f.label :reason %> <br>
          <%= f.select :reason, Block.reasons.map {|key, value| [key.humanize, key]}, prompt: "Choose one", class: "form-control _select _1", required: true %>
    	  <%= f.hidden_field :mocker_id, value: current_mocker.id %>
        <%= f.hidden_field :blocked_id, value: blocked.id %>
        </div>
      </div>
      <div class="col-12">
      	<br>
        <div class="field text-right">
        	<%= f.submit 'Block', class: "btn _btn _1 f-right" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_for @block, url: block_path(@block), method: :put do |f| %>
    <div class="_form _1">
      <div class="col-12">
        <div class="field">
          <%= f.label :reason %> <br>
          <%= f.select :reason, Block.reasons.map {|key, value| [key.humanize, key]}, prompt: "Choose one", class: "form-control _select _1", required: true %>
          <%= f.hidden_field :mocker_id, value: current_mocker.id %>
          <%= f.hidden_field :blocked_id, value: blocked.id %>
          <%= f.hidden_field :status, value: true %>
        </div>
      </div>
      <div class="col-12">
        <br>
        <div class="field text-right">
          <%= f.submit 'Block', class: "btn _btn _1 f-right" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>