<br>
<br>
<div class="cont_links_terms">
	<%= link_to 'Contribute', contribute_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
  	<% if mocker_signed_in? %>
		<%= link_to 'Suggest', new_suggestion_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
	<% end %>
	<%= link_to 'Copyright', copyrights_howmockeringworks_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
	<%= link_to 'Policies & Safety', howmockeringworks_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
	<%= link_to 'Privacy', privacy_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
	<%= link_to 'Terms', terms_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
</div>
<div class="cont_links_terms"><br>
    <sup style="opacity: 0.6;">by <a href="https://bahamon.io" target="_blank" class="_link _2"><b>Bahamon.io</b></a></sup>
</div>
<style type="text/css">
	._link._2{
    	font-weight: 400;
		color:#484848;
	}
	.cont_links_terms {
		text-align:center;
	}
	.cont_links_terms a{
		padding-right: 5px;
		font-size: 10pt;
	}
</style>