<% content_for :title, "Mockering - Free content to enjoy" %>
<section class="_prelaunch _1">
	<div class="_content">
		<div class="row m-0">
			<div class="col-lg-5 _1 offset-lg-1">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<div class="_info">
							<h1>Descubre el nuevo contenido</h1>
							<h1 class="_stylus _1">polémico y alternativo.</h1>
							<p>Visibiliza y visualiza sin baneos tus creaciones junto al contenido alternativo que otras plataformas bloquean.</p>
							<div class="_action">
								<div class="row m-0">
									<div class="col-auto pl-0 pt-4">
										<a class="_btn _light_1" href="../login">Acceder</a>
									</div>
									<div class="col-auto pl-0 pt-4">
										<a class="_btn _light_2" href="../registration">Primera vez</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 _2"></div>
		</div>
	</div>
</section>
<section class="_prelaunch _2">
	<div class="_content">
		<div class="row m-0">
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _1">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/show-light.svg">
					</div>
					<h4>Visibilidad Instantánea</h4>
					<p>En Mockering promovemos el contenido alternativo que en otras plataformas no tienen lugar.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _2">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/wallet-light.svg">
					</div>
					<h4>Contenido Monetizado</h4>
					<p>Da valor a las creaciones que ofreces a cambio de contenido exclusivo.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _3">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/voice-light.svg">
					</div>
					<h4>Libre Expresión</h4>
					<p>Mockering no censura contenido polémico siempre y cuando no afecte la suceptibilidad de la comunidad.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _4">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/activity-light.svg">
					</div>
					<h4>Sin Publicidad Invasiva</h4>
					<p>Disfruta del contenido que la comunidad brinda sin molestas publicidades, tu decides como apoyar a tu creador favorito.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="_prelaunch _3">
	<div class="_content">
		<div class="row m-0">
			<div class="col-lg-6 _1">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<div class="_cont">
							<h1>Crítica sin censura</h1>
							<p>Publica y descubre información polémica sin baneos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 _2">
				<article class="_masonry_prelaunch _1" >
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_2.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_3.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_1.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_4.jpg">
						</div>
					</figure>
				</article>
			</div>
		</div>
	</div>
</section>
<section class="_prelaunch _4">
	<div class="_card">
		<div class="row m-0">
			<div class="col-md-6 _1 d-none d-md-block">
				<div class="_media"></div>
			</div>
			<div class="col-md-6 _2">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<div class="_cont">
							<h1>En múltiples formatos</h1>
							<p>Disfruta del contenido que la comunidad postea en todos los formatos de información sin baneos.</p>
							<div class="row m-0">
								<div class="col-auto _1">
									<div class="_icon _1">
										<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/Play.svg">
									</div>
								</div>
								<div class="col-auto _2">
									<div class="_icon _2">
										<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/Image.svg">
									</div>
								</div>
								<div class="col-auto _3">
									<div class="_icon _3">
										<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/Video.svg">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="_prelaunch _5">
	<div class="d-table fullsize">
		<div class="d-table-cell v-middle">
			<div class="_cont">
				<h1>Desafia tus dogmas</h1>
				<p>Pon a prueba las ideas establecidas</p>
				<%= link_to all_path, class: "_btn _4" do %>
					<span>Feed</span>
				<% end %>
			</div>
		</div>
	</div>
	<div class="_simpleicon _1">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/cross.png">
	</div>
	<div class="_simpleicon _2">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/dollar.png">
	</div>
	<div class="_simpleicon _3">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/injection.png">
	</div>
	<div class="_simpleicon _4">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/music.png">
	</div>
	<div class="_simpleicon _5">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/newspaper.png">
	</div>
	<div class="_simpleicon _6">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/swastika.png">
	</div>
	<div class="_simpleicon _7">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/ufo.png">
	</div>
	<div class="_simpleicon _8">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/virus.png">
	</div>
	<div class="_simpleicon _9">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/vision.png">
	</div>
	<div class="_simpleicon _10">
		<img src="//d8mn60sm70fqt.cloudfront.net/assets/icons/wicca.png">
	</div>
</section>
<footer class="_footer _1">
	<div class="row m-0">
		<div class="col-md-4 _1">
			<div class="row m-0">
				<div class="col-md-4">
					<a class="_brand">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/mockering_1.svg">
					</a>
					<p>Comunidad crítica y de libre expresion.</p>
				</div>
			</div>
		</div>
		<div class="col-md-8 _2">
			<div class="row m-0">
				<div class="col-md-4">
					<b>Acceso</b>
          <%= link_to new_mocker_session_path, class: "_link" do %>
          	Iniciar sesión
          <% end %>
          <%= link_to new_mocker_registration_path, class: "_link" do %>
          	Primera vez
          <% end %>
          <%= link_to new_mocker_password_path, class: "_link" do %>
          	Olvide mi acceso
          <% end %>
				</div>
				<div class="col-md-4">
					<b>Utilidad</b>
          <%= link_to all_path, class: "_link" do %>
          	Feed
          <% end %>
          <%= link_to plays_path, class: "_link" do %>
          	Plays
          <% end %>
          <%= link_to mockets_path, class: "_link" do %>
          	Mockets
          <% end %>
				</div>
				<div class="col-md-4">
					<b>Info</b>
          <%= link_to copyrights_howmockeringworks_path, class: "_link" do %>
          	Copyright
          <% end %>
          <%= link_to howmockeringworks_path, class: "_link" do %>
          	Políticas
          <% end %>
          <%= link_to privacy_path, class: "_link" do %>
          	Privacidad
          <% end %>
          <%= link_to terms_path, class: "_link" do %>
          	Terminos
          <% end %>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="_footer _2">
	<div class="row m-0">
		<div class="col-md-6 _1">
			<p>Mockering © 2022</p>
			<p>Todos los Derechos Reservados</p>
		</div>
		<div class="col-md-6 _2">
			<p>Powered with passion by <a class="_link" href="https://bahamon.io" target="_blank">Bahamon.io</a></p>
		</div>
	</div>
</footer>
<style>
	footer._footer {
	  background: #f8f9fb;
	  padding: 90px 30px;
	}
	footer._footer._2{
		padding:30px ;
		border-top: 1px solid #dddddd;
	}
	footer._footer._2>div:last-of-type{
		padding-bottom: 30px;
	}
	footer._footer._2>div p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 300;
	  font-size: 0.8rem;
	  margin-bottom:10px ;
	}
	footer._footer._2>div p a{
    color: #000000;
    font-style: italic;
	}
	footer._footer>div>._1 ._brand {
	  width: 140px;
	  display: block;
	  max-width: 70vw;
	}
	footer._footer._1>div>._1 p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 300;
	  font-size: 0.8rem;
	  width: 70%;
	  margin-top: 10px;
	}
	footer._footer>div>._2>div>div {
	  display: grid;
    margin-top: 30px;
	}
	footer._footer>div>._2>div>div>b {
    font-family: 'Sofia Pro','Alata', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 15px;
	}
	footer._footer>div>._2>div>div>a {
	  color: black;
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  line-height: 1.2;
	  margin-bottom: 15px;
    font-weight: 300;
	}
	footer._footer>div>._2>div>div>a:hover {
	  color: black;
	}
	._simpleicon._2>img {
	  transform: rotate(30deg);
	}
	._simpleicon._1>img {
	  transform: rotate(30deg);
	}
	._simpleicon._10 {
    top: 46%;
    left: 16%;
	}
	._simpleicon._9 {
    top: 68%;
    left: 40%;
	}
	._simpleicon._8 {
    top: 70%;
    right: 10%;
	}
	._simpleicon._7 {
    top: 65%;
    left: 7%;
	}
	._simpleicon._6 {
    top: 60%;
    left: 65%;
	}
	._simpleicon._5 {
    top: 25%;
    right: 21%;
	}
	._simpleicon._4 {
    top: 19%;
    left: 30%;
	}
	._simpleicon._3 {
	  top: 30%;
	  left: 50%;
	}
	._simpleicon._2 {
    top: 26%;
    left: 5%;
	}
	._simpleicon._1 {
	  top: 50%;
	  left: 80%;
	}
	._simpleicon {
	  position: absolute;
	  filter: contrast(0);
	  opacity: 0.15;
	  width: 60px;
    max-width: 10vw;
	}
	._simpleicon>img{
		max-width: 100%;
	}
	._btn._4 {
		cursor: pointer;
    padding: 20px 40px;
    width: max-content;
    margin: 20px auto;
    background: linear-gradient(45deg, #c8e3fa, #e62490);
    color: white;
    font-family: 'Sofia Pro','Alata', sans-serif;
    font-weight: 800;
    border-radius: 15px;
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: 0 0 50px -10px #00000061;
	}
	._btn._4:hover{
		transform: translateY(-5px);
    background: linear-gradient(45deg, #599cd5, #e62490);
    box-shadow: 0 0 50px -10px #e62490;
	}
	._simpleicon._1 {
    position: absolute;
    filter: contrast(0);
    opacity: 0.2;
    width: 60px;
	}
	._simpleicon {
	  position: absolute;
	}
	section._prelaunch._5 ._cont p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 400;
    margin-bottom: 40px;
	}
	section._prelaunch._5 ._cont h1 {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 900;
	}
	section._prelaunch._5 ._cont {
	  width: 450px;
	  margin: 0 auto;
	  max-width: 90vw;
	  text-align: center;
	}
	section._prelaunch._5 {
		position: relative;
	  padding: 100px 30px;
	  height: 100vh;
	  min-height: 600px;
	}
	section._prelaunch._4>._card{
		background:url(//d8mn60sm70fqt.cloudfront.net/assets/bgs/interlaced.png) ;
    background-size: 20%;
    border-radius: 20px;
    width: 1200px;
    margin: 30px auto;
    max-width: 85vw;
    padding: 90px 30px;
    box-shadow: 0 10px 30px -15px #00000061;
	}
	section._prelaunch._4>._card ._media {
    height: 520px;
    width: 100%;
    background: url(//d8mn60sm70fqt.cloudfront.net/assets/bgs/img_prelaunch.jpg);
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    box-shadow: 0 8px 40px -15px #0000004a;
	}
	section._prelaunch._4 h1 {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 800;
    line-height: 1;
	  letter-spacing: -1px;
	  font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
	}
	section._prelaunch._4 p {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 400;
    line-height: 1.7;
	}
	section._prelaunch._4 ._icon {
    background: black;
    border-radius: 25px;
    width: 65px;
    height: 65px;
    display: grid;
    place-content: center;
    margin-right: 10px;
    margin-bottom: 30px;
	}
	section._prelaunch._4 ._icon>img {
	  width: 35px;
	  height: 35px;
    filter: invert(1);
	}
	section._prelaunch._4 ._icon._1 {
    background: linear-gradient(45deg, #c8e3fa, #e62490);
    box-shadow: 0 0 50px -10px #db3a94;
	}
	section._prelaunch._4 ._icon._2 {
    background: linear-gradient(45deg, #f43b86, #fda099);
    box-shadow: 0 0 50px -10px #f43b86;
	}
	section._prelaunch._4 ._icon._3 {
	  background: linear-gradient(45deg, #f43b86, #fedc45);
    box-shadow: 0 0 50px -10px #f6537d;
	}
	section._prelaunch._4 ._icon._4 {
    background: linear-gradient(45deg, #52d0e2, #fdea96);
    box-shadow: 0 0 50px -10px #52d0e2;
	}
	section._prelaunch._4>._card>div>._2 ._cont>div {
	  margin-top: 50px !important;
	}
	section._prelaunch._3 {
	  padding-top: 100px;
	  padding-bottom: 100px;
	}
	section._prelaunch._3>._content {
	  width: 1500px;
	  margin: 0 auto;
	  max-width: 90%;
	}
	section._prelaunch._3>._content>div>._1 ._cont {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
	}
	section._prelaunch._3>._content>div>._1 ._cont>h1 {
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  font-weight: 900;
	  letter-spacing: -1px;
	}
	section._prelaunch._3>._content>div>._1 ._cont>p{
    font-family: 'Sofia Pro','Alata', sans-serif;
    font-size: 1.01rem;
    font-weight: 300;
	}
	section._prelaunch._3 .masonryitem_1 img{
    width: 100%;
    border-radius: 9px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon {
    background: black;
    border-radius: 25px;
    width: 65px;
    height: 65px;
    display: grid;
    place-content: center;
    margin-bottom: 30px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon>img {
	  width: 35px;
	  height: 35px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._1 {
    background: linear-gradient(45deg, #c8e3fa, #e62490);
    box-shadow: 0 0 50px -10px #db3a94;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._2 {
    background: linear-gradient(45deg, #f43b86, #fda099);
    box-shadow: 0 0 50px -10px #f43b86;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._3 {
    background: linear-gradient(45deg, #52d0e2, #fdea96);
    box-shadow: 0 0 50px -10px #52d0e2;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._4 {
	  background: linear-gradient(45deg, #f43b86, #fedc45);
    box-shadow: 0 0 50px -10px #f6537d;
	}
	section._prelaunch._1 {
	  width: 1500px;
	  margin: 40px auto;
	  max-width: 90%;
	}
	section._prelaunch._1>._content>.row{
		background: #000000;
    border-radius: 20px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
	}
	section._prelaunch._2>._content {
	  width: 1200px;
	  margin: 50px auto;
	  max-width: 90%;
	}
	section._prelaunch ._item{
		margin-top:35px;
		margin-bottom:35px;
	}
	section._prelaunch ._item>h4{
		font-size: 1.2rem;
    font-family: 'Sofia Pro black', sans-serif;
	} 
	section._prelaunch ._item>p{
		font-size: 1rem;
    font-family: 'Sofia Pro','Alata', sans-serif;
	} 
	section._prelaunch ._item>img {
    width: 45px;
    margin-bottom: 20px;
	}
	section._prelaunch._1>._content>.row>._2{
		background: url(//d8mn60sm70fqt.cloudfront.net/assets/bgs/bg_prelaunch.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
	}
	section._prelaunch._1>._content>.row>._1 ._info h1 {
    font-family: 'Sofia Pro black', sans-serif;
    margin-bottom: 0;
	}
	section._prelaunch._1>._content>.row>._1 ._info{
		color: white;
	}
	section._prelaunch._1>._content>.row>._1 ._info h1:last-of-type {
    margin-bottom: 20px;
	}
	section._prelaunch._1>._content>.row>._1 ._info ._stylus._1{ 
    background: linear-gradient(45deg, #f43b86,#f43b86, #7026c6, #7026c6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	section._prelaunch._1>._content>.row>._1 ._info p{
    font-family: 'Sofia Pro','Alata', sans-serif;
		line-height: 2;		
	}
	.space_navfooter.d-block.d-md-none {
		background: #f8f9fb;
	}
	a._btn._light_1 {
		opacity: 0.9;
	  background: white;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 0;
	  cursor: pointer;
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_1:hover {
		border: 0;
		opacity: 1;
		color: #000000;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	a._btn._light_2 {
		opacity: 0.9;
	  background: #2c2c2c;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 1px solid white;
	  color: white;
	  display: block;
	  cursor: pointer;
	  font-family: 'Sofia Pro','Alata', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_2:hover {
		opacity: 1;
		color: #ffffff;
		background: #4a4a4a;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	@media(min-width: 992px){
		section._prelaunch._1>._content>.row>._1{
	    height: 50vh;
	    min-height: 550px;
		}
		section._prelaunch._1 {
		  margin: 60px auto;
		}
		section._prelaunch._2>._content {
			width: 1400px;
			margin: 50px auto;
			max-width: 85%;
		}
		section._prelaunch._3>._content>div>._1 ._cont {
		  width: 500px;
		  max-width: 100%;
	    margin: 0 auto;
	    text-align: left;
		}
	}
	@media(max-width: 991px){
		section._prelaunch._4 h1{
			font-size: 2rem;
		}
		article._masonry_prelaunch{
		  column-width: 40vw !important;
		}
	}
	@media(max-width: 767px){
		footer._footer{
  		padding: 50px 15px 30px;
		}
		footer._footer._1>div {
			display: grid;
		}
		footer._footer._1>div>._1 {
			order: 2;
			margin-top: 60px;
		}
		footer._footer._1>div>._2 {
			order: 1;
		}
		footer._footer._1>div>div{
			padding: 0;
		}
		footer._footer._2>div>div {
			padding: 0;
		}
		footer._footer._1>div>._1 p{
			margin-bottom: 0;
		}
		footer._footer._2>div:last-of-type{
			padding-bottom: 30px;
		}
		._prelaunch._4>._card>.row>._2 ._cont>.row>div {
			margin: 0 auto;
		}
	}
	@media(max-width: 575px){
		._action>.row>div {
			width: 100%;
			padding-right: 0 !important;
		}
		section._prelaunch._4 h1 {
			font-size: 2rem;
		}
		section._prelaunch._5{
  		padding: 100px 0px;
		}
		section._prelaunch._3>._content>div>div {
			padding: 0 !important;
		}
		section._prelaunch._1>._content>.row{
  		padding: 50px 15px !important;
		}
	}





	article._masonry_prelaunch {
	  column-width: 16vw;
	  column-gap: 0;
	}
	article._masonry_prelaunch>figure {
    display: inline-block;
    padding: 10px;
    width: 100%;
    margin: 0;
	}
	article._masonry_prelaunch>figure {
	  position: relative;
	}
	article._masonry_prelaunch>figure:last-of-type:before {
	  content: '';
	  position: absolute;
	  background: linear-gradient(0, white, rgb(255, 255, 255, 0.56), rgba(255, 0, 0, 0));
    inset: 0 0 0 0;
	}
</style>