<% content_for :title, ": Terms of service" %>
<div class="container _page_text">
	<br>
	<br>
	<h1 class="_fw600">Terms of Service</h1>
	<p>Dated: September 08, 2020</p>
	<br>
	<h3 class="_fw600">Welcome to Mockering!</h3>
	<br>
	<br>
	<p>Thank you for using the Mockering platform and the products, services and features we provide to you as part of the platform (collectively referred to as "services").</p>
	<br>
	<b>Our service</b>
	<p>The service enables you to discover, watch and share videos and other content, provides a forum for people to connect, inform and inspire others around the world, and provide a distribution platform for original content creators and advertisers (no matter how large or small). <!--We provide a lot of information about our products and how to use them in the Help Center.--></p>
	<p>The entity providing the service is Mockering.com (referred to as "Mockering", "we", "us" or " our").</p>
	<br>
	<b>Applicable Terms</b>
	<p>Your use of the service is governed by the following terms, <%= link_to 'Mockering community guidelines', howmockeringworks_path %>  and <%= link_to 'policies, safety and copyright policies', policy_safety_copyright_howmockeringworks_path %> , which may be updated from time to time (collectively referred to as "this agreement"). If you provide advertising or sponsorship to the service, or include paid promotions in your content, your agreement with us will also include the advertising policies on Mockering. Any other links or references provided in these terms are for reference only and are not part of this agreement.</p>
	<p>Please read this agreement carefully and make sure you understand it. If you do not understand the agreement or do not accept any part of the agreement, you may not be able to use the service.</p>
	<br>
	<h3 class="_fw600">Who may use the Service?</h3>
	<p>You must be at least 13 years old to use the service. However, if enabled by a parent or legal guardian, children of all ages can use Mockering Kids (if any).</p>
	<b>Parent or guardian's permission</b>
	<p>If you are under the age of 18, it means that you have permission from your parent or guardian to use the service. Please ask them to read this agreement with you.</p>
	<p>If you are the parent or legal guardian of a user under the age of 18, allowing your child to use this service is bound by the terms of this agreement and is responsible for your child's activities on this service.</p>
	<b>Business</b>
	<p>If you are using the Service on behalf of a company or organization, you represent that you have authority to act on behalf of that entity, and that such entity accepts this Agreement.</p>
	<br>
	<h3 class="_fw600">Your use of the service</h3>
	<b>Service Content</b>
	<p>The content on the service includes video, audio (such as music and other sounds), graphics, photos, text (such as comments and scripts), brands (including brand names, trademarks, service marks or logos), interactive functions, software, indicators, and others Materials (whether provided by you, Mockering or a third party) (collectively referred to as "content").</p>
	<p>Content is the responsibility of the individual or entity that provides content to the service. Mockering has no obligation to host or provide content. If you find any content that you believe does not comply with this agreement, including violations of community guidelines or laws, you can report to us.</p>
	<b>Mockering Accounts</b>
	<p>You can use certain parts of the service, such as browsing and searching for content, without having a Mockering account. However, you do need a Mockering account to use certain features. With a Mockering account, you can like videos, follow to accounts, create and more.</p>
	<p>To protect your Mockering account, please keep your password secret. You should not reuse your Mockering account password on third-party applications. Learn more about how to protect the security of your Mockering account, including how to deal with unauthorized use of your password or Mockering account.</p>
	<b>Your information</b>
	<p>Our <%= link_to 'privacy policy', privacy_path %> explains how we handle your personal data and protect your privacy when using the service. </p>
	<p>We will process any audio or audiovisual content you upload to the service in accordance with the <%= link_to 'Mockering data processing terms', data_processing_terms_howmockeringworks_path %>, unless you upload such content for personal purposes or family activities.</p>
	<b>Permissions and restrictions</b>
	<p>As long as you comply with this agreement and applicable laws, you can access and use the services provided to you. You can view or listen to the content for personal non-commercial use.</p>
	<p>The following restrictions apply to your use of the Service. You are not allowed to:</p>
	<ul>
		<li>Access, copy, download, distribute, transmit, broadcast, display, sell, license, change, modify or otherwise use the service or any part of any content, except in the following cases: (a) expressly authorized by the service; or (b) ) Prior written permission from Mockering and the corresponding rights holder;</li>
		<li>Except (a) for public search engines, use any automated means (such as bots, botnets or crawlers) to access the service based on Mockering’s robots.txt file; or (b) obtain prior written permission from Mockering;</li>
		<li>Abuse of any report, report, complaint, dispute or appeal process, including making unfounded, unreasonable or indiscreet statements;</li>
		<li>Collect or collect any information that may identify a person (for example, user name), unless the person allows it or in accordance with section (3) above;</li>
		<li>Use the service to distribute unsolicited promotional or commercial content or other unwanted or large amounts of invitations;</li>
		<li>Cause or encourage any incorrect measurement of users' true participation in the service, including paying people or providing incentives to increase video viewing, like or dislike, or increase account subscribers, or manipulate indicators in other ways;</li>
		<li>Circumvent, disable, use fraudulently or otherwise interfere with any part of the service (or attempt to do any of these things), including security-related functions or (a) functions that prevent or restrict the copying or other use of content or content (B) Restrict the use of services or content;</li>
		<li>Contest on or through the service that does not comply with Mockering's contest policies and guidelines;</li>
		<li>Use this service to view or listen to content for non-personal, non-commercial purposes (for example, you may not play videos publicly or play music from this service); or</li>
		<li>Use the service (a) sell any advertisements, sponsorships or promotions placed on, within, or within the service or content, except as permitted by the advertising policies (such as compliant product placements) in Mockering policies; or ( b) Sell advertisements, sponsorships or promotions on any page of any website or application that only contains the content of the service, or the content of the service is the main basis for such sales (for example, in Mockering videos The main attraction of users who visit the webpage).</li>
	</ul>
	<b>Reservation</b>
	<p>Using the service does not give you ownership or rights in any aspect of the service, including usernames or other people or any other content posted by Mockering.</p>
	<b>Changes to the service</b>
	<p>Mockering is constantly changing and improving the service. We may also need to change or discontinue the service or any part of it to improve performance or security, change features and functions, make changes to comply with legal regulations or prevent illegal activities or abuse of our system. These changes may affect all users, some users or even individual users. To the extent reasonably practicable, as long as we interrupt or make major changes to our services, which will adversely affect the use of our services, we will issue notices. However, you understand and agree that sometimes we will make such changes without prior notice, for example, we believe we need to take action to improve the security and operability of the service, prevent abuse or comply with legal requirements.</p>
	<br>
	<h3>Your content and behavior</h3>
	<b>Upload content</b>
	<p>If you have a Mockering account, you can upload content to the service. You can use your content to promote your business or art enterprise. If you choose to upload content, you must not submit any content that does not comply with this agreement (including <%= link_to 'Mockering Community Guidelines', howmockeringworks_path %>) or the law to the service. For example, unless you have the permission of a third party or otherwise have legal rights, the content you submit must not contain third-party intellectual property (such as copyrighted material). You are legally responsible for the content submitted to the service. We may use automated systems to analyze your content to help detect infringement and abuse, such as spam, malware, and illegal content.</p>
	<b>Rights granted by you</b>
	<P>You retain ownership of the content. However, we do require you to grant certain rights to Mockering and other users of the service, as described below.</P>
	<b>Mockering authorization</b>
	<p>By providing content to the service, you are granting Mockering a global, non-exclusive, royalty-free, sublicensable and transferable license to use the content with (the service and Mockering (and its successors) And affiliated companies), including the purpose of promoting and redistributing some or all of the services.</p>
	<b>Permission granted to other users</b>
	<p>You also grant a global, non-exclusive, royalty-free license to each other user of the service to access your content through the service and use that content, including copying, distributing, preparing derivative works, displaying and executing, only When enabled in a service function (such as video playback or embedding). For the sake of clarity, this license does not grant users any right to use your content independently of the service.</p>
	<b>License period</b>
	<p>After removing or deleting content from the service, the license granted by you will last for a commercially reasonable time. You understand and agree that Mockering may retain but not display, distribute or execute server copies of deleted or deleted videos.</p>
	<b>Delete content</b>
	<p>You can delete your content from the service at any time. You can also choose to copy the content before deleting it. If you no longer have the rights required by these terms, you must delete your content.</p>
	<b>Mockering delete content</b>
	<p>If we have reason to believe that any content violates this agreement or may cause damage to Mockering, our users or third parties, we can delete or delete the content at our sole discretion. Unless we have reasonable grounds to believe, we will notify you of the reason for the action: (A) It will violate the law or the instructions of law enforcement agencies, otherwise it will be liable to Mockering or our members; (b) The integrity or operation of the investigation or service will be impaired; or (c) Any user, other Three parties, Mockering or our members caused harm. You can learn more about reporting and enforcement on the "Troubleshooting" page of the Help Center, including how to file an appeal.</p>
	<b>Copyright Protection</b>
	<p>We provide information in the <%= link_to 'Mockering Copyright Center', copyrights_howmockeringworks_path %> to help copyright owners manage their intellectual property online. If you think your copyright infringes this service, please <%= link_to 'send us a notice', copyrights_form_notice_howmockeringworks_path  %> .</p>
	<p>We will respond to notices of alleged copyright infringement according to the procedures in the <%= link_to 'Mockering Copyright Center', copyrights_howmockeringworks_path %>, where you can also find information on how to resolve copyright warnings. Mockering’s policy stipulates that, under appropriate circumstances, repeated infringers' access to the service should be terminated.</p>
	<br>
	<h3>Account suspension and termination</h3>
	<b>Terminated by you</b>
	<p>You can stop using the service at any time. Please follow the instructions below to remove the service from your Mockering account deleting your data.</p>
	<b>Mockering termination and suspension</b>
	<p>If (a) you seriously or repeatedly violate this agreement, Mockering may suspend or terminate your access to Mockering services, your Mockering account or your Mockering account's access to all or part of the services; (b) we must comply Legal provisions or court orders; or (c) We believe that there have been acts that have caused (or may cause) liability or damage to any user, other third parties, Mockering or our affiliates.</p>
	<b>Mockering terminated due to service changes</b>
	<p>If Mockering decides that it is no longer commercially viable to provide you with a service, Mockering may terminate your access or your Mockering account's access to all or part of the service.</p>
	<b>Notice of termination or suspension</b>
	<p>Unless we have reasonable grounds to believe, we will notify you of the reasons for Mockering's termination or suspension: (a) Violation of the law or the instructions of law enforcement agencies, otherwise we will be liable for Mockering or our affiliates; (b) will damage the investigation Or the integrity or operation of the service; or (c) cause harm to any user, other third parties, Mockering or our members. If Mockering terminates your access to changes to the service, the system will provide you with sufficient time to export your content from the service where reasonably possible.</p>
	<b>Impact of account suspension or termination</b>
	<p>If your Mockering account is terminated or your Mockering account’s access to the service is restricted, you can continue to use certain aspects of the service (such as viewing only) without using your account, and this agreement will continue to apply to such use. <!-- If you believe that your Mockering account has been terminated in error, you can use this form to file an appeal.--></p>
	<br>
	<h3>About the software in the service</h3>
	<b>Downloadable software</b>
	<p>When the service requires or includes downloadable software, you will grant the software the permission to automatically update when a new version or function is available on the device, depending on the device settings. Unless the software is subject to the other terms of the provided license, Mockering provides you with a personal, global, royalty-free, non-transferable and non-exclusive license to use the software provided to you by Mockering as part of the service. The sole purpose of the license is to enable you to use and enjoy the benefits of the services provided by Mockering in the manner permitted by this agreement. Unless these restrictions are prohibited by law or you have obtained Mockering’s written permission, you may not copy, modify, distribute, sell or rent any part of the software, nor may you reverse engineer it or attempt to extract the source code of the software.</p>
	<b>Open Source</b>
	<p>Certain software used in our services may be provided under an open source license that we provide to you. There may be some clauses in the open source license that explicitly cover some of them, so please be sure to read these licenses.</p>
	<br>
	<h3>Other legal provisions</h3>
	<b>Disclaimer</b>
	<p>Except as specified in this agreement or required by law, this service is provided "as is", and Mockering does not make any special promises or guarantees for this service. For example, we do not make any guarantee for the following: (A) the content provided through the service; (B) the specific function of the service, or its accuracy, reliability, availability or ability to meet your needs; or (C) you Any content submitted can use the service.</p>
	<b>Limitation of Liability</b>
	<p>Except as required by applicable laws, MOCKERING, its affiliates, officers, directors, employees and agents are not responsible for any loss of profits, income, business opportunities, goodwill or expected savings; data loss or damage; indirect or indirect loss ; Punitive damage caused:</p>
	<ul>
		<li>Errors, errors or incorrectness in the service;</li>
		<li>Personal injury or property damage caused by your use of this service;</li>
		<li>Unauthorized use or use of this service;</li>
		<li>Any interruption or suspension of service;</li>
		<li>Any virus or malicious code transmitted by a third party or through the service;</li>
		<li>Any content submitted by users or Mockering, including your use of content; and/or</li>
		<li>Delete or delete anything.</li>
	</ul>
	<p>Regardless of whether the claim is based on a guarantee, contract, tort or any other legal theory, this provision applies to any claim.</p>
	<p>The full liability of Mockering and its affiliates for any claims arising from or related to the service is limited to the following: (A) All payments made to you by using this service within 12 months before the date Your notice , A claim form written to Mockering and (B) $500.</p>
	<b>Indemnity</b>
	<p>To the extent permitted by applicable law, you agree to any and all claims, damages, obligations, losses, liabilities, costs or debts, and expenses (including but not limited to attorneys’ fees) arising from the following reasons: (i) Use and access to the service; (ii) You violate any of the terms of this agreement; (iii) You infringe any third party rights, including but not limited to any copyright, property or privacy; or (iv) Any content against you Claims for damage caused by a third party. This defense and compensation obligation will continue to be effective in this agreement and your use of the service.</p>
	<b>Third party link</b>
	<p>The service may contain links to third-party websites and online services that are not owned or controlled by Mockering. Mockering has no control over and assumes no responsibility for such websites and online services. Pay attention when you leave the service; we recommend that you read the terms and privacy policies of each third-party website and online service you visit.</p>
	<br>
	<h3>About this agreement</h3>
	<b>Modifying this Agreement</b>
	<p>For example, we may modify this agreement to reflect changes to our services or for legal, regulatory or security reasons. Mockering will provide reasonable advance notice of any major changes to this agreement and have the opportunity to review it, unless changes to new available features of the service or changes made for legal reasons may take effect immediately without notice. Modifications to this agreement will only apply in the future. If you do not agree to the revised terms, you should delete all uploaded content and stop using the service.</p>
	<b>Continuation of this agreement</b>
	<p>If your use of the service is terminated, the following terms of this agreement will continue to apply to you: "other legal terms", "about this agreement", and the license you grant will continue to operate in accordance with the instructions in the "license period".</p>
	<b>Severance pay</b>
	<p>If it turns out that certain terms of this agreement cannot be enforced for any reason, it will not affect any other terms.</p>
	<b>No exemption</b>
	<p>If you fail to comply with this agreement and we do not take immediate action, it does not mean that we are giving up any rights we may have (such as the right to take action in the future).</p>
	<b>Interpretation</b>
	<p>In these terms, "including" or "including" means "including but not limited to", and any examples we give are for illustrative purposes.</p>
	<% '<b>Governing Law</b>
	<p>All claims arising from or related to these terms or services will be governed by California law, except for California conflict of laws rules, and will only be litigated in federal or state courts in Santa Clara County, California, USA . You and YouTube agree to the personal jurisdiction of these courts.</p>' %>
	<b>Effective from September 08, 2020</b>
	<br>
	<br>
	<br>
</div>




<style type="text/css">
  ._navfooter{
    display: none !important;
  }
</style>