<% content_for :title, "Mockering: Login" %>
<div class="d-grid"> 
  <div class="_cont _session relative">
    <div class="d-table fullsize">
      <div class="d-tablecell v-middle">
        <div class="container">
          <section class="_session _1">
            <div class="col-12 text-center">
              <%= link_to root_path, data: { no_turbolink: true } do %>
                <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_black.svg', class: "_logo _1 d-none-moon", alt: 'Mockering'%>
                <%= image_tag 'https://s3.amazonaws.com/mockertest/assets/mockering_dark_mode.svg', class: "_logo _1 d-none-sun", alt: 'Mockering'%>
              <% end %>
              <p class="_text _1 _ttcommons">By human beings for everyone.</p>
            </div>
            <div class="col-12">
              <%= link_to mocker_facebook_omniauth_authorize_path, class: "_btn _session _facebook" do %>
                <span><i class="fab fa-facebook-f"></i></span> <span>Continue with Facebook</span>
              <% end %>
              <%= link_to mocker_google_oauth2_omniauth_authorize_path, class: "_btn _session _google" do %>
              <span><i class="fab fa-google"></i></span> <span>Continue with Google</span>
              <% end %>
            </div>
            <div class="col-12">
              <p class="or text-center"><span>Or</span></p>
            </div>
            <div class="col-12 text-center">
                <%= devise_error_messages! %>
                <% flash.each do |key, value| %>
                   <div class="flash <%= key %>"><%= value %></div>
                <% end %>
            </div>
            <div class="col-12 _col_inputsaccount p-0">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <%= f.error_notification %>
                <%= f.full_error :confirmation_token %>
                <div class="form-group" style="margin-bottom: 15px;">
                  <section class="col-12 _col_inputsaccount p-b-0">
                    <%= f.label "Username / Email" %>
                    <%= f.text_field :login,
                              required: true,
                              placeholder: "Username or email", label: false,
                              autocomplete: "email", class: "_input _2 form-control" %>
                  </section>
                  <section class="col-12 _col_inputsaccount p-b-0">
                    <%= f.label "Password" %>
                    <%= f.password_field :password,
                                required: true, 
                                placeholder: "Your password", 
                                label: false,
                                autocomplete: "current-password", class: "_input _2 form-control" %>
                  </section>
                  <section class="col-12">
                    <label class="pure-material-checkbox">
                      <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %> 
                      <span class="_ttcommons">Remember me</span>
                    </label>
                  </section>
                </div>
                <div class="form-actions">
                  <div class="col-12">
                    <%= f.submit "Log in", class: "btn _btn _login" %>
                  </div>
                </div>
                <br/>
              <% end %>
              <%= render "devise/shared/links" %>
              
              <div class="col-12 text-center">
                <br>
                <%= link_to 'Go to Mockering', root_path, class: "_link _1" %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/minifooter" %>
</div>
  

<style type="text/css">
  body{
    background:white;
  }
  ._nav._1,
  ._navbar_br{
    display: none;
    visibility: hidden;
  }

  ._navfooter,
  .space_navfooter{
    display: none !important;
  }
</style>