<div class="row m-0">
	<div class="_col_mock_content col-12 col-md-8 col-xl-9 p-md-3 p-0 mt-md-4">
		<div class="row m-0">
			<div class="col-12 p-0">
				<% if @mock.movie.present? %>
				  <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" data-setup="{'loop': true}" style="width:100%; height:auto;" poster="
				  	<% if @mock.picture.present? %>
				  		<%= @mock.picture.url(:large) %>
			  		<% else %> 
			  			<%= @mock.movie.url(:thumb) %>
			  		<% end %>" autoplay >
				    <source src="<%= video_path(@mock.movie) %>" type="video/mp4" />
				  </video>
				<% end %>
				<% if @mock.music.present? %>
					<% audio_tag(@mock.music, controls: true, styles: "width:100%;") %>
				<% end %>
			</div>
		</div>
		<br>
		<div class="row m-0">
			<div class="col-12">
				<h3 class="card-title _fw500 text-black"><%= @mock.title %></h3>
			</div>
		</div>
		<div class="row m-0" >
			<div class="col-12 col-sm-6" style="margin-top: 15px;">
				<div class="row m-0">
					<div class="col col-sm-auto p-0 ">
						<h5 class="m-0 _video_views _fw500"><i class="bi-eye"></i> <% number_views = @mock.impressionist_count(:filter=>:ip_address, :filter=>:session_hash) %> <%= number_to_human(number_views, units: {billion: 'B' }) %></h5> 	
					</div>
					<div class=" p-sm-0  text-right-sm">
						<div class="d-table fullsize">
							<div class="d-tablecell v-middle">
								<h5 class="_fw500 _video_date m-0">• <%= @mock.created_at.strftime("%d %b %Y").downcase  %></h5>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal LoginLike -->
			<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
			  <div class="modal-dialog  modal-dialog-centered">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Like this video?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Sign in to make your opinion count.</p>
			      </div>
			      <div class="modal-footer">
			      	<%= link_to 'Sign in', new_mocker_session_path, class: 'btn' %>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal LoginDislike -->
			<div class="modal fade" id="loginModal_2" tabindex="-1" aria-labelledby="loginModal_2Label" aria-hidden="true">
			  <div class="modal-dialog  modal-dialog-centered">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Dislike this video?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Sign in to make your opinion count.</p>
			      </div>
			      <div class="modal-footer">
			      	<%= link_to 'Sign in', new_mocker_session_path, class: 'btn' %>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal LoginComment -->
			<div class="modal fade" id="loginModal_3" tabindex="-1" aria-labelledby="loginModal_2Label" aria-hidden="true">
			  <div class="modal-dialog  modal-dialog-centered">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Do you want to comment this video?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Sign in to make your opinion count.</p>
			      </div>
			      <div class="modal-footer">
			      	<%= link_to 'Sign in', new_mocker_session_path, class: 'btn' %>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-12 col-lg-6 pt-4 pt-lg-0">
				<div class="row float-lg-right m-0">	
					<div class="col-4 col-lg-auto text-center _col_btn_action_mock" >
						<% if mocker_signed_in? %>
							<% if current_mocker %>
								<%= link_to like_mock_path(@mock), method: :put, remote: :true, class: "like-post" do %>
									<div class="d-table fullsize">
										<div class="d-table-cell v-middle">
											<div class="d-md-grid" id="like-count">
												<%= render 'mocks/likes', mock: @mock %>
											</div>
										</div>
									</div>
								<% end %>
							<% else %>
								<%= link_to new_mocker_session_path, class: 'like-post' do %>
									<div class="d-table fullsize">
										<div class="d-table-cell v-middle">
											<div class="d-md-grid" id="like-count">
												<%= render 'mocks/likes', mock: @mock %>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						<% else %>
							<a class="like-post" data-toggle="modal" data-target="#loginModal">
								<div class="d-table fullsize">
									<div class="d-table-cell v-middle">
										<div class="d-md-grid" id="like-count">
											<i class="bi-hand-thumbs-up" style="margin-right: 2px;"></i> <%= number_to_human(@mock.get_upvotes.size, units: { million: 'm', billion: 'b' }) %>
										</div>
									</div>
								</div>
							</a>
						<% end %>
					</div>
					<div class="col-4 col-lg-auto text-center _col_btn_action_mock">
						<% if mocker_signed_in? %>	
							<% if current_mocker %>
								<%= link_to dislike_mock_path(@mock), method: :put, remote: :true, class: "like-post" do %>
									<div class="d-table fullsize">
										<div class="d-table-cell v-middle">
											<div class="d-md-grid" id="dislike-count">
												<%= render 'mocks/dislikes', mock: @mock %>
											</div>
										</div>
									</div>
								<% end %>
							<% else %>
								<a class="like-post" data-toggle="modal" data-target="#loginModal_2">
									<div class="d-table fullsize">
										<div class="d-table-cell v-middle">
											<div class="d-md-grid" id="dislike-count">
												<%= render 'mocks/dislikes', mock: @mock %>
											</div>
										</div>
									</div>
								</a>
							<% end %>
						<% else %>
							<a class="like-post" data-toggle="modal" data-target="#loginModal_2">
								<div class="d-table fullsize">
									<div class="d-table-cell v-middle">
										<div class="d-md-grid" id="dislike-count">
											<i class="bi-hand-thumbs-down" style="margin-right: 2px;"></i> <%= number_to_human(@mock.get_downvotes.size, units: { thousand: 'k', million: 'm', billion: 'b' }) %>
										</div>
									</div>
								</div>
							</a>
						<% end %>
					</div>
					<div class="col-4 col-lg-auto text-center _col_btn_action_mock" style="padding-right:0;">
						<a class="_btn _share_link" data-toggle="modal" data-target="#shareModal">
							<div class="d-table fullsize">
								<div class="d-table-cell v-middle">
									<div class="d-md-grid">
										<i class="bi-share" style="margin-right: 2px;"></i>
										<span class="d-block d-md-none">Share</span>
									</div>
								</div>
							</div>
						</a>

						<!-- Modal -->
						<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title _fw600" id="exampleModalLabel">Share video</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
								<div class="input-group mb-2 mr-sm-2">
									<input type="text" class="form-control" id="share_link_mock" placeholder="Username" value="<%= request.original_url %>" readonly>
									<div class="input-group-prepend">
									  <button class="input-group-text clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#share_link_mock">Copy</button>
									</div>
								</div>
						      	<h2><%= social_share_button_tag(@mock.title, url: request.original_url, image: @mock.picture.url(:large)) %></h2>
						      </div>
						    </div>
						  </div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row m-0">
			<div class="col-12 readmore">
				<p class="video_description keepspaces"><%= auto_link(@mock.description, html: { target: '_blank' }).html_safe  %></p>
			</div>
			<div class="col-10">
				<% if @mock.credits? %>
					<b>Credits:</b>
					<p><%= auto_link(@mock.credits, html: { target: '_blank' }) %></p>
				<% end %>
			</div>
			<% if mocker_signed_in? && current_mocker != @mock.mocker %>
				<div class="col-2">
					<button type="button" class="btn _btn _btn_report" data-toggle="modal" data-target="#reportMock"><i class="fas fa-exclamation-triangle"></i></button>
					<!-- Modal -->
					<div class="modal fade" id="reportMock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title _fw600" id="exampleModalLabel">Report content</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <%= render 'mock_reports/form', mock: @mock %>
					      </div>
					    </div>
					  </div>
					</div>	
				</div>
			<% end %>
		</div>
		<div class="row m-0">
			<div class="col-12 text-right">
				<% if current_mocker == @mock.mocker %>
					<div class="btn-group" role="group" aria-label="Basic example">
					  <%= link_to 'Edit', edit_mock_path, class: 'btn btn-outline-dark' %>
				      <%= link_to 'Delete', mock_path, method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-outline-secondary' %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-12 p-0">
				<div class="d-flex _tagsmockshow">
					<% @mock.tag_list.each do |tag| %>
						<%= link_to tag, mocks_path(tag: tag), class: "_chip _1" %>
					<% end %>
				</div>
				
			</div>
		</div>
		<hr>
		<div class="row m-0">
			<div class="col-12 col-sm-1 col-md-auto">
				<div class="d-table fullsize">
					<div class="d-tablecell v-middle text-center">
						<%= link_to @mock.mocker, class: "_color_black deco-none" do %><%= image_tag avatar_url(@mock.mocker), class: "_avatar _4" %><% end %>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-7 col-xl-9">
				<div class="d-table fullsize">
					<div class="d-tablecell v-middle text-center-sm">
						<h4 class="_fw500 m-0 text-capitalize"><%= link_to @mock.mocker, class: "_color_black deco-none" do %><%= @mock.mocker.first_name if @mock.mocker.first_name? %> <%= @mock.mocker.last_name if @mock.mocker.first_name? %><% end %></h4>
						<p class="text-muted _username_video _fw500 m-0">
							<%= link_to @mock.mocker, class: "_color_black deco-none" do %>
								@<%= @mock.mocker.slug %> <%= image_tag badge_icon(@mock.mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(@mock.mocker) if @mock.mocker.verification? %>
							<% end %></p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm _col_follow">
				<% if mocker_signed_in? && current_mocker != @mock.mocker %>
					<% if current_mocker.following?(@mock.mocker) %>
						<%= button_to "Unfollow", friendships_path(mocker_id: @mock.mocker.id), method: :delete, class: "btn _btn _action m-0-auto unfollow" %>
						<br/>
					<% else %>
						<% if mocker_signed_in? %>
							<%= button_to "Follow", friendships_path(mocker_id: @mock.mocker.id), class: "btn _btn _action m-0-auto follow" %>
							<br/>
						<% else %>
							<%= link_to new_mocker_session_path, class: "btn _btn _action m-0-auto follow" do %>Follow<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<hr>
		<div class="row m-0">
			<div class="col-12 col-sm-6">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<h5> <%= number_to_human(@mock.reviews.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %> reviews</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm" id="form_reviews">
			<% if mocker_signed_in? %>
				<%= render 'reviews/form' %>
			<% else %>
				<div class="d-table fullsize">
				  <div class="d-table-cell v-middle">
				  	<a class="display-block btn _btn _1 _btncomment" data-toggle="modal" data-target="#loginModal_3">Comment</a>
				  </div> 
				</div>
				<br>
			<% end %>
			</div>
			
			<div class="col-12 p-0">
				<div class="reviews" id="reviews">
					<%= render 'reviews/list' %>
				</div>
			</div>
		</div>
	</div>
	<div class="_col_mock_related col-12 col-md-4 col-xl-3 p-0 mt-4 pl-md-3">
		<div class="fullwidth">
			<div class="row m-0">
				<div class="col-12 p-0 mb-2">
					<div class="ad _content">
						<section>
							<a data-toggle="collapse" href="#collapseAd1" role="button" aria-expanded="false" aria-controls="collapseAd1" class="_link_collapse"><i class="bi bi-chevron-up"></i> Ad</a>
						</section>
						<div class="collapse _collapse_ad show" id="collapseAd1">
							<div class="card-body p-0 _ad_body">
					  		<%= render 'ad1' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-0">
			<% @related_mocks.each do |mock| %>
				<div class="col-12 p-2">
					<%= link_to mock, class: "link_card card _card _3" do %>
						<div class="cont_img">
							<div class="icon_play">
								<div class="d-table fullsize">
									<div class="d-table-cell v-middle text-center">
										<i class="fas fa-play"></i>
									</div>		
								</div>
							</div>
							<div class="_time">
								<section class="cont_time_mock">
									<%= mock_time(mock) %>
								</section>
							</div>
							<% if mock.picture.present? %>
						  	<%= image_tag mock.picture.url(:large), class: "card-img-top" %>
					  	<% else %> 
					  		<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
					  	<% end %>
						</div>
						<div class="_cardbody p-0">
							<div class="row m-0">
								<div class="col-12">
									<%= image_tag avatar_url(mock.mocker), class: "_avatar _1" %>
									<h4 class="_cardtitle _fs15pt"><%= mock.title %></h4>
								</div>
								<div class="col-12">
									<div class="row m-0 fullwidth">
										<div class="col p-0">
											<div class="text-ellipsis">
												<p class="_fs10pt m-0 _fs90per _username">@<%= mock.mocker.slug %> <%= image_tag badge_icon(mock.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mock.mocker) if mock.mocker.verification? %></p>
												<p class="_fs9pt m-0"><%= render 'mocks/impressions', mock: mock %></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
