<div class="form-group">
	<%= form_for @mock, html: { multipart: true } do |f| %>
        <div class="row" id="_form_register">
          <fieldset class="msf_hide">
            <div class="row m-0">
              <div class="col-12">
                <h2 class="_fw600">Add a new video</h2>
                <p class="lead">Share your video with the most real critical thinking community on the internet.</p>
                <br>
              </div>
            </div>
            <hr>
            <br>
            <div class="row m-0">
              <div class="col-12 col-md-4">
                <h4 class="_fw600">Upload video</h4>
                <br>
              </div>
              <div class="col-12 col-md-8">
                <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                    <div class="progress d-none" id="progress-bar">
                      <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                        <span class="sr-only" id="progress-bar-text"></span>
                      </div>
                    </div>
                    <div class="fullscreen p-5 _file_upload">
                      <div class="d-table fullscreen">
                        <div class="d-table-cell v-middle text-center">
                          <img src="https://mockering.s3-sa-east-1.amazonaws.com/assets/upload.svg">
                          <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your video (MP4)</h6>
                          <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your video is ready to upload</h6>
                        </div>
                      </div>
                    </div>
                    <%= f.file_field :movie, class: "file-selector absolute", id: "file-selector_1", required: true %>
                </section>
              </div>
            </div>
            <br>
            <div class="row m-0 ">
              <div class="col-12 col-md-4">
                <h4 class="_fw600">About</h4>
                <br>
              </div>
              <div class="col-12 col-md-8">
                <div class="field">
                  <label>Title</label>
                  <%= f.text_field :title, class: 'form-control', required: true, placeholder: "Some title for your video" %>
                </div>
                <div class="field">
                  <br>
                  <label>Category</label>
                  <%= f.select :category, Mock.categories.map {|key, value| [key.humanize, key]}, class: "form-control _select", required: true %>
                </div>
                <div class="field">
                  <br>
                  <label>Description</label>
                  <%= f.text_area :description, class: '_textarea _2 form-control', rows: "4" %>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row m-0">
              <div class="col-12 text-right">
                  <button class="btn _btnround" onclick="msf_btn_next()"><i class="fas fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <fieldset class="msf_hide">
            <div class="row m-0">
              <div class="col-12 col-md-4">
                <h4 class="_fw600">Add some tags (max 9)</h4>
                <br>
              </div>
              <div class="col-12 col-md-8">
                <div class="d-table fullscreen">
                  <div class="d-table-cell v-middle">
                    <div class="field _tags_form">
                      <ul class="ks-cboxtags">
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_animation"}, 'animation', nil %>
                            <%= f.label 'Animation', class: '_checkbox _1', for: "check_animation" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_art"}, 'art', nil %>
                            <%= f.label 'Art', class: '_checkbox _1', for: "check_art" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_aliens"}, 'aliens', nil %>
                            <%= f.label 'Aliens', class: '_checkbox _1', for: "check_aliens" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_animals"}, 'animals', nil %>
                            <%= f.label 'Animals', class: '_checkbox _1', for: "check_animals" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_ai"}, 'artificial intelligence', nil %>
                            <%= f.label 'Artificial Intelligence', class: '_checkbox _1', for: "check_ai" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_beauty"}, 'beauty', nil %>
                            <%= f.label 'Beauty', class: '_checkbox _1', for: "check_beauty" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_biotech"}, 'biotech', nil %>
                            <%= f.label 'Biotech', class: '_checkbox _1', for: "check_biotech" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_books"}, 'books', nil %>
                            <%= f.label 'Books', class: '_checkbox _1', for: "check_books" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_business"}, 'business', nil %>
                            <%= f.label 'Business', class: '_checkbox _1', for: "check_business" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_cannabis"}, 'cannabis', nil %>
                            <%= f.label 'Cannabis', class: '_checkbox _1', for: "check_cannabis" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_coronavirus"}, 'coronavirus', nil %>
                            <%= f.label 'Coronavirus', class: '_checkbox _1', for: "check_coronavirus" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_cryptocurrency"}, 'cryptocurrency', nil %>
                            <%= f.label 'Cryptocurrency', class: '_checkbox _1', for: "check_cryptocurrency" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_cybersecurity"}, 'cybersecurity', nil %>
                            <%= f.label 'Cybersecurity', class: '_checkbox _1', for: "check_cybersecurity" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_conspiracy"}, 'conspiracy', nil %>
                            <%= f.label 'Conspiracy', class: '_checkbox _1', for: "check_conspiracy" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_culture"}, 'culture', nil %>
                            <%= f.label 'Culture', class: '_checkbox _1', for: "check_culture" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_creativity"}, 'creativity', nil %>
                            <%= f.label 'Creativity', class: '_checkbox _1', for: "check_creativity" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_datascience"}, 'data science', nil %>
                            <%= f.label 'Data Science', class: '_checkbox _1', for: "check_datascience" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_design"}, 'design', nil %>
                            <%= f.label 'Design', class: '_checkbox _1', for: "check_design" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_digitallife"}, 'digital life', nil %>
                            <%= f.label 'Digital Life', class: '_checkbox _1', for: "check_digitallife" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_economy"}, 'economy', nil %>
                            <%= f.label 'Economy', class: '_checkbox _1', for: "check_economy" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_education"}, 'education', nil %>
                            <%= f.label 'Education', class: '_checkbox _1', for: "check_education" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_environment"}, 'environment', nil %>
                            <%= f.label 'Environment', class: '_checkbox _1', for: "check_environment" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_equality"}, 'equality', nil %>
                            <%= f.label 'Equality', class: '_checkbox _1', for: "check_equality" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_family"}, 'family', nil %>
                            <%= f.label 'Family', class: '_checkbox _1', for: "check_family" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_freelancing"}, 'freelancing', nil %>
                            <%= f.label 'Freelancing', class: '_checkbox _1', for: "check_freelancing" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_fiction"}, 'fiction', nil %>
                            <%= f.label 'Fiction', class: '_checkbox _1', for: "check_fiction" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_film"}, 'film', nil %>
                            <%= f.label 'Film', class: '_checkbox _1', for: "check_film" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_fitness"}, 'fitness', nil %>
                            <%= f.label 'Fitness', class: '_checkbox _1', for: "check_fitness" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_food"}, 'food', nil %>
                            <%= f.label 'Food', class: '_checkbox _1', for: "check_food" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_future"}, 'future', nil %>
                            <%= f.label 'Future', class: '_checkbox _1', for: "check_future" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_flaws"}, 'Flaws in reality', nil %>
                            <%= f.label 'Flaws in reality', class: '_checkbox _1', for: "check_flaws" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_gadgets"}, 'gadgets', nil %>
                            <%= f.label 'Gadgets', class: '_checkbox _1', for: "check_gadgets" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_gaming"}, 'gaming', nil %>
                            <%= f.label 'Gaming', class: '_checkbox _1', for: "check_gaming" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_health"}, 'health', nil %>
                            <%= f.label 'Health', class: '_checkbox _1', for: "check_health" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_history"}, 'history', nil %>
                            <%= f.label 'History', class: '_checkbox _1', for: "check_history" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_humans"}, 'humans', nil %>
                            <%= f.label 'Humans', class: '_checkbox _1', for: "check_humans" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_humor"}, 'humor', nil %>
                            <%= f.label 'Humor', class: '_checkbox _1', for: "check_humor" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_illuminati"}, 'illuminati', nil %>
                            <%= f.label 'Illuminati', class: '_checkbox _1', for: "check_illuminati" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_justice"}, 'justice', nil %>
                            <%= f.label 'Justice', class: '_checkbox _1', for: "check_justice" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_language"}, 'language', nil %>
                            <%= f.label 'Language', class: '_checkbox _1', for: "check_language" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_leadership"}, 'leadership', nil %>
                            <%= f.label 'Leadership', class: '_checkbox _1', for: "check_leadership" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_lifestyle"}, 'lifestyle', nil %>
                            <%= f.label 'Lifestyle', class: '_checkbox _1', for: "check_lifestyle" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_love"}, 'love', nil %>
                            <%= f.label 'Love', class: '_checkbox _1', for: "check_love" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_lgbtqia"}, 'lgbtqia', nil %>
                            <%= f.label 'Lgbtqia', class: '_checkbox _1', for: "check_lgbtqia" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_makers"}, 'makers', nil %>
                            <%= f.label 'Makers', class: '_checkbox _1', for: "check_makers" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_music"}, 'music', nil %>
                            <%= f.label 'Music', class: '_checkbox _1', for: "check_music" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_musician"}, 'musician', nil %>
                            <%= f.label 'Musician', class: '_checkbox _1', for: "check_musician" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_machinelearning"}, 'machine learning', nil %>
                            <%= f.label 'Machine Learning', class: '_checkbox _1', for: "check_machinelearning" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_math"}, 'math', nil %>
                            <%= f.label 'Math', class: '_checkbox _1', for: "check_math" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_marketing"}, 'marketing', nil %>
                            <%= f.label 'Marketing', class: '_checkbox _1', for: "check_marketing" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_media"}, 'media', nil %>
                            <%= f.label 'media', class: '_checkbox _1', for: "check_media" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_men"}, 'men', nil %>
                            <%= f.label 'men', class: '_checkbox _1', for: "check_men" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_mentalhealth"}, 'mental health', nil %>
                            <%= f.label 'Mental Health', class: '_checkbox _1', for: "check_mentalhealth" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_mindfulness"}, 'mindfulness', nil %>
                            <%= f.label 'mindfulness', class: '_checkbox _1', for: "check_mindfulness" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_money"}, 'money', nil %>
                            <%= f.label 'money', class: '_checkbox _1', for: "check_money" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_neuroscience"}, 'neuroscience', nil %>
                            <%= f.label 'Neuroscience', class: '_checkbox _1', for: "check_neuroscience" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_outdoors"}, 'outdoors', nil %>
                            <%= f.label 'outdoors', class: '_checkbox _1', for: "check_outdoors" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_paranormal"}, 'paranormal', nil %>
                            <%= f.label 'Paranormal', class: '_checkbox _1', for: "check_paranormal" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_parenting"}, 'parenting', nil %>
                            <%= f.label 'parenting', class: '_checkbox _1', for: "check_parenting" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_pets"}, 'pets', nil %>
                            <%= f.label 'pets', class: '_checkbox _1', for: "check_pets" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_philosophy"}, 'philosophy', nil %>
                            <%= f.label 'philosophy', class: '_checkbox _1', for: "check_philosophy" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_photography"}, 'photography', nil %>
                            <%= f.label 'Photography', class: '_checkbox _1', for: "check_photography" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_psychedelics"}, 'psychedelics', nil %>
                            <%= f.label 'psychedelics', class: '_checkbox _1', for: "check_psychedelics" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_psychology"}, 'psychology', nil %>
                            <%= f.label 'psychology', class: '_checkbox _1', for: "check_psychology" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_podcasts"}, 'podcasts', nil %>
                            <%= f.label 'Podcasts', class: '_checkbox _1', for: "check_podcasts" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_poetry"}, 'poetry', nil %>
                            <%= f.label 'Poetry', class: '_checkbox _1', for: "check_poetry" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_politics"}, 'politics', nil %>
                            <%= f.label 'politics', class: '_checkbox _1', for: "check_politics" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_privacy"}, 'privacy', nil %>
                            <%= f.label 'privacy', class: '_checkbox _1', for: "check_privacy" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_programming"}, 'programming', nil %>
                            <%= f.label 'Programming', class: '_checkbox _1', for: "check_programming" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_productivity"}, 'productivity', nil %>
                            <%= f.label 'Productivity', class: '_checkbox _1', for: "check_productivity" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_management"}, 'product management', nil %>
                            <%= f.label 'Product Management', class: '_checkbox _1', for: "check_management" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_relationships"}, 'relationships', nil %>
                            <%= f.label 'relationships', class: '_checkbox _1', for: "check_relationships" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_race"}, 'race', nil %>
                            <%= f.label 'race', class: '_checkbox _1', for: "check_race" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_reality"}, 'reality', nil %>
                            <%= f.label 'Reality', class: '_checkbox _1', for: "check_reality" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_religion"}, 'religion', nil %>
                            <%= f.label 'religion', class: '_checkbox _1', for: "check_religion" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_remotework"}, 'remote work', nil %>
                            <%= f.label 'Remote Work', class: '_checkbox _1', for: "check_remotework" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_science"}, 'science', nil %>
                            <%= f.label 'Science', class: '_checkbox _1', for: "check_science" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_self"}, 'self', nil %>
                            <%= f.label 'self', class: '_checkbox _1', for: "check_self" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_socialmedia"}, 'social media', nil %>
                            <%= f.label 'Social Media', class: '_checkbox _1', for: "check_socialmedia" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_society"}, 'society', nil %>
                            <%= f.label 'society', class: '_checkbox _1', for: "check_society" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_softwareengineering"}, 'software engineering', nil %>
                            <%= f.label 'Software Engineering', class: '_checkbox _1', for: "check_softwareengineering" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_space"}, 'space', nil %>
                            <%= f.label 'Space', class: '_checkbox _1', for: "check_space" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_spirituality"}, 'spirituality', nil %>
                            <%= f.label 'spirituality', class: '_checkbox _1', for: "check_spirituality" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_sports"}, 'sports', nil %>
                            <%= f.label 'Sports', class: '_checkbox _1', for: "check_sports" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_startups"}, 'starups', nil %>
                            <%= f.label 'Startups', class: '_checkbox _1', for: "check_startups" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_style"}, 'style', nil %>
                            <%= f.label 'Style', class: '_checkbox _1', for: "check_style" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_sexuality"}, 'sexuality', nil %>
                            <%= f.label 'sexuality', class: '_checkbox _1', for: "check_sexuality" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_technology"}, 'technology', nil %>
                            <%= f.label 'Technology', class: '_checkbox _1', for: "check_technology" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_travel"}, 'travel', nil %>
                            <%= f.label 'travel', class: '_checkbox _1', for: "check_travel" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_tv"}, 'tv', nil %>
                            <%= f.label 'TV', class: '_checkbox _1', for: "check_tv" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_ufo"}, 'ufo', nil %>
                            <%= f.label 'UFO', class: '_checkbox _1', for: "check_ufo" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_ux"}, 'ux', nil %>
                            <%= f.label 'UX', class: '_checkbox _1', for: "check_ux" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_ui"}, 'ui', nil %>
                            <%= f.label 'UI', class: '_checkbox _1', for: "check_ui" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_venturecapital"}, 'venture capital', nil %>
                            <%= f.label 'Venture Capital', class: '_checkbox _1', for: "check_venturecapital" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_visualdesign"}, 'visual design', nil %>
                            <%= f.label 'Visual Design', class: '_checkbox _1', for: "check_visualdesign" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_women"}, 'women', nil %>
                            <%= f.label 'women', class: '_checkbox _1', for: "check_women" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_world"}, 'world', nil %>
                            <%= f.label 'world', class: '_checkbox _1', for: "check_world" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_work"}, 'work', nil %>
                            <%= f.label 'Work', class: '_checkbox _1', for: "check_work" %>
                        </li>
                        <li>
                            <%= f.check_box :tag_list, { multiple: true, id: "check_writing"}, 'writing', nil %>
                            <%= f.label 'Writing', class: '_checkbox _1', for: "check_writing" %>
                        </li>
                      </ul>   
                    </div>                        
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row m-0">
              <div class="col-12 col-md-4">
                <h4 class="_fw600">Has your video some restriction?</h4>
                <br>
              </div>
              <div class="col-12 col-md-8">
                <div class="d-table fullscreen">
                    <div class="d-table-cell v-middle">
                        <div class="field"  style="padding:15px;">
                            <label class="_fw600">
                                <%= f.check_box :privated %> Private
                            </label>
                        </div>
                        <div class="field"  style="padding:15px;">
                            <label class="_fw600">
                                <%= f.check_box :age_restricted %> Age restriction
                            </label>
                        </div>
                        <div class="field"  style="padding:15px;">
                            <label class="_fw600">
                                <%= f.check_box :unlist %> Unlist
                            </label>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row m-0">
              <div class="col-12 text-right">
                  <button class="btn" onclick="msf_btn_back()" style="margin-right: 5px;"><i class="fas fa-arrow-left"></i></button>
                  <button class="btn _btnround" onclick="msf_btn_next()"><i class="fas fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <fieldset class="msf_hide">
            <div class="row m-0">
              <div class="col-12 col-md-4">
                <h4 class="_fw600">Whose credits are the video?</h4>
                <br>
              </div>
              <div class="col-12 col-md-8">
                <div class="field">
                  <label>Credits</label>
                  <%= f.text_field :credits, class: 'form-control', required: true %>
                </div>
                <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                    <div class="progress d-none" id="progress-bar">
                      <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                        <span class="sr-only" id="progress-bar-text"></span>
                      </div>
                    </div>
                    <div class="fullscreen p-5 _file_upload">
                      <div class="d-table fullscreen">
                        <div class="d-table-cell v-middle text-center">
                          <img src="https://mockering.s3-sa-east-1.amazonaws.com/assets/upload.svg">
                          <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your picture (JPG/PNG/GIF)</h6>
                          <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your picture is ready to upload</h6>
                        </div>
                      </div>
                    </div>
                    <%= f.file_field :picture, class: "file-selector", id: "file-selector_2" %>
                </section>
              </div>
            </div>
            <br>
            <div class="row m-0">
              <div class="col-12 text-right">
                <button class="btn" onclick="msf_btn_back()" style="margin-right: 5px;"><i class="fas fa-arrow-left"></i></button>
              </div>
            </div>
            <br>
            <div class="row m-0">
              <div class="col-12 ">
                <%= f.submit 'Ready', class: 'btn _btn _action f-right', id: 'fileUpload', data: { disable_with: 'Uploading...' } %>
                <br>
                <br>
              </div>
            </div>
          </fieldset>

        </div>

	<% end %>
</div>
<br>
<br>

<style type="text/css">
  fieldset{
    width:100%;
  }
  ._upload_big{
    border: 2px dashed #bacad6;
    padding: 0;
  }
  ._upload_big:hover{
    border: 2px dashed #5b6d7b;
    cursor: pointer;
    filter: grayscale(0.7);
  }
  ._upload_big .file-selector{
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  ._upload_big img{
    filter: grayscale(1);
    width: 128px;
    opacity: 0.5;
    text-align: center;
    margin: 0 auto;
  }
  ._upload_big img._on{
    filter: grayscale(0.5);
  }
  @media(max-width: 767px){
    ._btn._action{
        width:100%;
      }
  }
      

</style>

<script type="text/javascript">
  var mvp = 9;
  $(document).ready(function () {
      $("._tags_form input:checkbox").each(function (index) {
          /*this.checked = (index < mvp);*/
      }).click(function () {
          en_dis= $("._tags_form input:checkbox:checked").length < mvp
          $('#button-id').prop('disabled', en_dis);
          // to disable other checkboxes
          $('._tags_form input:checkbox:checked').length >= mvp &&
              $("._tags_form input:checkbox:not(:checked)").prop('disabled',true);
          $('._tags_form input:checkbox:checked').length < mvp &&
              $("._tags_form input:checkbox:not(:checked)").prop('disabled',false);
      }).change(function () {
          if ($(this).siblings(':checked').length >= mvp) {
              this.checked = false;
          }
      });
  });
</script>
<script type="text/javascript">
  console.log("Reloaded");

  // dom variables
  var msf_getFsTag = document.getElementsByTagName("fieldset");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr = 0;
  var fieldset = msf_getFsTag[msf_form_nr];
  fieldset.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr = "<div class='msf_bullet'></div>";
  var msf_length = msf_getFsTag.length;
  for (var i = 1; i < msf_length; ++i) {
      msf_bullet_nr += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o.length; ++i) {
      var msf_b_item = msf_bullet_o[i];
      msf_b_item.innerHTML = msf_bullet_nr;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back")[0].className = "msf_hide";
  document.getElementsByName("next")[msf_bullet_o.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets = document.getElementsByClassName("msf_bullet");
  msf_bullets[msf_form_nr].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next() {
      var msf_val = true;

      var msf_fs = document.querySelectorAll("fieldset")[msf_form_nr];
      var msf_fs_i_count = msf_fs.querySelectorAll("input").length;

      for (i = 0; i < msf_fs_i_count; ++i) {
          var msf_input_s = msf_fs.querySelectorAll("input")[i];
          if (msf_input_s.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s.value === "") {
                  msf_input_s.style.backgroundColor = "#e6e6e6";
                  msf_val = false;
              } else {
                  if (msf_val === false) {} else {
                      msf_val = true;
                      msf_input_s.style.backgroundColor = "#f7fff7";
                  }
              }
          };
      };
      if (msf_val === true) {
          // goes to the next step
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_hide";
          msf_form_nr = msf_form_nr + 1;
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a = msf_form_nr * msf_length + msf_form_nr;
          msf_bullets[msf_bullets_a].className += " msf_bullet_active";
      }
  };

  // goes one step back
  function msf_btn_back() {
      msf_getFsTag[msf_form_nr].className = "msf_hide";
      msf_form_nr = msf_form_nr - 1;
      msf_getFsTag[msf_form_nr].className = "msf_showhide";
  };

  console.log("loaded");
</script>
<script type="text/javascript">
  $(document).ready(function() {
   var uploadObj = $("#file-selector_1").uploadFile({
      url: "<%= new_mock_path %>",
      multiple: false,
      fileName: "movie[video]",
      autoSubmit: false,
      onSuccess:function(files,data,xhr)
      {
        window.location.href = data.to;
      }
    });

    $("#fileUpload").click(function(e) {
      e.preventDefault();
      $.rails.disableFormElements($($.rails.formSubmitSelector));
      uploadObj.startUpload();
    });
  });
  /*$(document).ready(function() {
   var uploadObj = $("#file-selector_1").uploadFile({
      url: "<%= new_mock_path %>",
      multiple: false,
      fileName: "movie[video]",
      autoSubmit: false,
      formData: {
        "movie[title]": $('#movie_title').text(),
        "movie[description]": $('#movie_description').text()
      },
      onSuccess:function(files,data,xhr)
      {
        window.location.href = data.to;
      }
    });
    $("#fileUpload").click(function(e) {
      e.preventDefault();
      $.rails.disableFormElements($($.rails.formSubmitSelector));
      uploadObj.startUpload();
    });
  });*/
</script>
