<div class="_fullscreen_absolute">
  <div class="d-table fullsize">
    <div class="d-table-cell v-middle">
      <div class="row">
        <style type="text/css">
          ._filters_update.row {
              margin: 0;
          }
        </style>
        <div class="col-12">
          <div class="form-group">
            <%= form_for @mock, html: { multipart: true } do |f| %>
             <div class="row form_wrapper" id="_form_register">
              <fieldset class="fieldset_1 msf_hide">
                <div class="row m-0">
                 <div class="col-12 col-md-4">
                  <h4 class="_fw600">Upload video</h4>
                  <br>
                 </div>
                 <div class="col-12 col-md-8">
                   <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                       <div class="progress d-none" id="progress-bar">
                         <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                           <span class="sr-only" id="progress-bar-text"></span>
                         </div>
                       </div>
                       <div class="fullsize p-5 _file_upload">
                         <div class="d-table fullsize">
                           <div class="d-table-cell v-middle text-center">
                             <img class="_img_upload_mock"  src="//d8mn60sm70fqt.cloudfront.net/assets/svg/media_1.svg">
                             <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your video (MP4)</h6>
                             <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your video is ready to upload</h6>
                           </div>
                         </div>
                       </div>
                       <%= f.file_field :movie, class: "file-selector absolute", id: "file-selector_1" %>
                   </section>
                 </div>
                </div>
                <br>
                <div class="row m-0">
                 <div class="col-12 col-md-4">
                  <h4 class="_fw600">Upload image</h4>
                  <br>
                 </div>
                 <div class="col-12 col-md-8">
                   <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                       <div class="progress d-none" id="progress-bar">
                         <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                           <span class="sr-only" id="progress-bar-text"></span>
                         </div>
                       </div>
                       <div class="fullsize p-5 _file_upload">
                         <div class="d-table fullsize">
                           <div class="d-table-cell v-middle text-center">
                            <img class="_img_upload_mock" src="//d8mn60sm70fqt.cloudfront.net/assets/svg/photo_1.svg">
                             <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your image (JPG/PNG/GIF)</h6>
                             <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your image is ready to upload</h6>
                           </div>
                         </div>
                       </div>
                       <%= f.file_field :picture, class: "file-selector absolute", id: "file-selector_1" %>
                   </section>
                 </div>
                </div>
                <br>
                <div class="row m-0 ">
                 <div class="col-12 col-md-4">
                  <h4 class="_fw600">About</h4>
                  <br>
                 </div>
                 <div class="col-12 col-md-8">
                  <div class="field">
                   <label>Title</label>
                   <%= f.text_field :title, class: 'form-control _required', required: true, placeholder: "Some title for your video" %>
                  </div>
                  <div class="field">
                   <br>
                   <label>Category</label>
                   <%= f.select :category, Mock.categories.map {|key, value| [key.humanize, key]}, class: "form-control _select", required: true %>
                  </div>
                  <div class="field">
                   <br>
                   <label>Description</label>
                   <%= f.text_area :description, class: '_textarea _2 form-control', rows: "4" %>
                  </div>
                 </div>
                </div>
                <br>
                <br>
                <div class="row m-0">
                 <div class="col-12 col-md-4 offset-md-8 text-right">
                  <button class="btn btn-lg btn-block _btn_form_next" onclick="msf_btn_next()">Next <i class="bi-arrow-right-short"></i></button>  
                 </div>
                </div>
              </fieldset>
              <fieldset class="fieldset_1 msf_hide">
               <div class="row m-0">
                <div class="col-12 col-md-4">
                 <h4 class="_fw600">Has your video some restriction?</h4>
                 <br>
                </div>
                <div class="col-12 col-md-8">
                 <div class="d-table fullsize">
                  <div class="d-table-cell v-middle">
                   <div class="field">
                     <div class="custom-control custom-switch _1 pl-0">
                     <%= f.check_box :privated, class: "custom-control-input" %>
                     <label class="custom-control-label" for="mock_privated"><b>Private mock</b></label>
                    </div>
                   </div>
                   <div class="field">
                    <div class="custom-control custom-switch _1 pl-0">
                     <%= f.check_box :age_restricted, class: "custom-control-input"  %>
                     <label class="custom-control-label" for="mock_age_restricted"><b>Age restricted mock</b></label>
                    </div>
                   </div>
                   <div class="field">
                    <div class="custom-control custom-switch _1 pl-0">
                      <%= f.check_box :unlist, class: "custom-control-input" %>
                     <label class="custom-control-label" for="mock_unlist"><b>Unlist mock</b></label>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
               <br>
               <div class="row m-0">
                <div class="col-12 col-md-8 offset-md-4 text-right">
                 <div class="row m-0">
                  <div class="col-6 mt-2">
                   <button class="btn btn-lg btn-block _btn_form_back" onclick="msf_btn_back()"><i class="bi-arrow-left-short"></i> Back</button> 
                  </div>
                  <div class="col-6 mt-2">
                   <button class="btn btn-lg btn-block _btn_form_next" onclick="msf_btn_next()">Next <i class="bi-arrow-right-short"></i></button>
                  </div>
                 </div>
                </div>
               </div>
              </fieldset>
              <fieldset class="fieldset_1 msf_hide">
                <div class="row m-0">
                  <div class="col-12 col-md-4">
                    <h4 class="_fw600">Whose credits are the video?</h4>
                    <br>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="field">
                      <label>Credits</label>
                      <%= f.text_field :credits, class: 'form-control', required: true %>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row m-0">
                  <div class="col-12 col-md-8 offset-md-4 text-right">
                    <div class="row m-0">
                      <div class="col-6 mt-2">
                        <button class="btn btn-lg btn-block _btn_form_back" onclick="msf_btn_back()"><i class="bi-arrow-left-short"></i> Back</button> 
                      </div>
                      <div class="col-6 mt-2">
                        <%= f.submit 'Upload!', class: 'btn btn-lg btn-block _btn_form_next', id: 'fileUpload', data: { disable_with: 'Uploading, please hold on...' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </fieldset>
             </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<style type="text/css">
  fieldset{
    width:100%;
  }
  form#new_mock {
   background: white;
   padding: 30px;
   border-radius: 15px;
   box-shadow: 0 6px 15px -6px #8f8e9996;
  }
  ._fullscreen_absolute.hide {
    height: auto;
  }
  ._fullscreen_absolute.hide h3{
    display: none;
  }
  a._close_accordion{
    cursor: pointer;
  }
  a._close_accordion i {
    line-height: 0;
    display: block;
    font-size: 23pt;
    color: #212121;
    margin-bottom: 20px;
  }
  ._btn_form_kind {
    background: #fff;
    border: 0;
    padding: 20px;
    height: 33vh;
    width: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 27vh;
    transition: all .2s ease;
  }
  @media(min-width: 992px){
    ._btn_form_kind{
      height: calc(100vh - 150px);
      min-height: 400px;
    }
  }
  ._btn_form_kind
  ._btn_form_kind:hover,
  ._btn_form_kind.active{
    background: white;
    height: 32.5vh;
    transform: translateY(-4px);
    box-shadow: 0 3px 17px -13px #11111194;
  }
  ._btn_form_kind.active img{
    filter: grayscale(0);
  }
  ._btn_form_kind img {
    width: 350px;
    margin: 0 auto;
    display: block;
  }
  ._btn_form_kind ._content {
    position: relative;
    z-index: 2;
  }
  ._btn_form_kind ._content b{
    font-size: 3em;
    font-family: 'Sofia Pro';
    font-weight: 800;
    letter-spacing: -3px;
  }
  [data-theme="dark"] form#new_mock {
   background: #1b1b1b;
   box-shadow: 0 6px 15px -6px #00000096;
  }
  [data-theme="dark"] select {
   background: #121212;
   color: white;
   border-color: #3a3643 !important;
  }
  [data-theme="dark"] ._upload_big{
   border-color: #3a3643 !important;
  }
  @media(max-width: 767px){
   ._btn._action{
    width:100%;
   }
   ._btn_form_kind{
    height: 88.7vh;
    width:100vw;
   }

  }
  @media(max-width: 575px){
   form#new_mock {
    border-radius: 0;
   }
  }
</style>
<script type="text/javascript">
  var mvp = 9;
  $(document).ready(function () {
   $("._tags_form._1 input:checkbox").each(function (index) {
       /*this.checked = (index < mvp);*/
   }).click(function () {
    en_dis= $("._tags_form._1 input:checkbox:checked").length < mvp
    //$('#button-id').prop('disabled', en_dis);
    // to disable other checkboxes
    $('._tags_form._1 input:checkbox:checked').length >= mvp &&
     $("._tags_form._1 input:checkbox:not(:checked)").prop('disabled',true);
    $('._tags_form._1 input:checkbox:checked').length < mvp &&
     $("._tags_form._1 input:checkbox:not(:checked)").prop('disabled',false);
   }).change(function () {
    if ($(this).siblings(':checked').length >= mvp) {
     this.checked = false;
    }
   });
  });
</script>
<script type="text/javascript">
  console.log("Reloaded");

  // dom variables
  var msf_getFsTag = document.getElementsByTagName("fieldset");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr = 0;
  var fieldset = msf_getFsTag[msf_form_nr];
  fieldset.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr = "<div class='msf_bullet'></div>";
  var msf_length = msf_getFsTag.length;
  for (var i = 1; i < msf_length; ++i) {
      msf_bullet_nr += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o.length; ++i) {
      var msf_b_item = msf_bullet_o[i];
      msf_b_item.innerHTML = msf_bullet_nr;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back")[0].className = "msf_hide";
  document.getElementsByName("next")[msf_bullet_o.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets = document.getElementsByClassName("msf_bullet");
  msf_bullets[msf_form_nr].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next() {
      var msf_val = true;

      var msf_fs = document.querySelectorAll("fieldset")[msf_form_nr];
      var msf_fs_i_count = msf_fs.querySelectorAll("input._required").length;

      for (i = 0; i < msf_fs_i_count; ++i) {
          var msf_input_s = msf_fs.querySelectorAll("input._required")[i];
          if (msf_input_s.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s.value === "") {
                  msf_input_s.style.borderColor = "#ea4747";
                  msf_val = false;
              } else {
                  if (msf_val === false) {} else {
                      msf_val = true;
                      msf_input_s.style.backgroundColor = "#4c31ee";
                  }
              }
          };
      };
      if (msf_val === true) {
          // goes to the next step
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_hide";
          msf_form_nr = msf_form_nr + 1;
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a = msf_form_nr * msf_length + msf_form_nr;
          msf_bullets[msf_bullets_a].className += " msf_bullet_active";
      }
  };


  // goes one step back
  function msf_btn_back() {
      msf_getFsTag[msf_form_nr].className = "msf_hide";
      msf_form_nr = msf_form_nr - 1;
      msf_getFsTag[msf_form_nr].className = "msf_showhide";
  };

  console.log("loaded");
</script>
<script type="text/javascript">

  $('#file-selector_1').change(function(){
   $("._is_ready").toggleClass('d-block');
   $("._is_ready").toggleClass('d-none');
   $("._is_not_ready").toggleClass('d-none');
   $("._is_not_ready").toggleClass('d-block');
   $("._img_upload_mock").toggleClass('_on');
  })  
  $('._close_accordion').click(function(){
   $("._btn_form_kind").removeClass('active');
   $('.collapse._addmock').removeClass('show');
   $('._fullscreen_absolute').removeClass('hide');
  })
  $('._btn_form_kind').click(function(){
   $("._fullscreen_absolute").addClass('hide');
   $("._fullscreen_absolute").addClass('active');
  })
  $('._btn_form_kind.active').click(function(){
   $("._btn_form_kind").removeClass('active');
   $("._fullscreen_absolute").removeClass('hide');
  })
</script>