<div class="form-group">
	<%= form_for @mock, html: { multipart: true } do |f| %>
		<div class="field">
			<%= f.label :movie %>
			<%= f.file_field :movie, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :music %>
			<%= f.file_field :music, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :picture %><br/>
			<%= f.file_field :picture, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :title %><br/>
			<%= f.text_field :title, class: 'form-control', required: true %>
		</div>
		<div class="field">
			<%= f.label :description %><br/>
			<%= f.text_field :description, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :category %><br/>
			<%= f.select :category, Mock.categories.map {|key, value| [key.humanize, key]}, prompt: "Selecciona...", class: "form-control" %>
		</div>

		<%= f.submit 'Enviar', class: 'btn btn-primary' %>
	<% end %>
</div>
