<div class="container_search">
	<% @mocks.each do |mock| %>
		<%= link_to mock, class: "card link_card _2 mb-3 box" do %>
		
			  <div class="row no-gutters">
			    <div class="col-4">
			      <%= image_tag mock.picture.url(:medium), class: "card-img _1" %>
			    </div>
			    <div class="col-8">
			      <div class="_cardbody _2 p-2 _minheight150px fullheight">
			      	<div class="d-table fullscreen">
			      		<div class="d-tablecell v-middle">
			      			<h5 class="_fw600 _cardtitle"><%= mock.title %></h5>
					        <div class="row m-0 fullwidth">
								<div class="col-12 d-flex p-0">
									<div class="text-ellipsis">
										<div class="d-table fullscreen">
											<div class="d-tablecell v-middle ">
												<p class="_fs10pt m-0 _fs90per">@<%= mock.mocker.slug %></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 p-0">
									<div class="d-flex">
										<p class="_fs10pt m-0 d-md-none d-lg-block d-block" style="padding-right: 9px"><%= render 'mocks/impressions', mock: mock %></p>
										<p class="_fs10pt m-0" style="padding-right: 9px"><%= render 'mocks/likesimple', mock: mock %></p>
										<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
									</div>
								</div>
							</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
		<% end %>
	<% end %>
</div>



<style type="text/css">
	@media(max-width: 575px){
      ._card{
        width:100vw;
        min-width: 200px;
        margin: 0;
      }
	}
	.container_search{
		width:100%;
		padding:0 15px;
		max-width: 1080px;
		margin: 0 auto;
	}
	.card.link_card._2{
		height: 150px;
		margin: 5px !important;
	}
	.card.link_card._2 img{
		height: 148px;
	}
	@media(min-width: 768px){
		.card.link_card._2{
			width:600px;
		}
	}
</style>