<figure class="_mocky" id="_mocky_<%= mock.id %>">
	<div class="_avatar">
		<%= link_to mock.mocker, class: "_avatar" do %>
			<%= image_tag avatar_url(mock.mocker), class: "_avatar _4" %>
		<% end %>
	</div>
	<div class="_body">

		<%= link_to mock.mocker, class: "_username" do %>
			<span class="_1"><%= mock.mocker.first_name %> <%= mock.mocker.last_name %></span>
			<span class="_2">@<%= mock.mocker.slug %> <%= image_tag badge_icon(mock.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mock.mocker) if mock.mocker.verification? %></span>
		<% end %>
		<% if mock.mocktype == 1 || mock.mocktype == 2  %>
			<aside class="_content_mocket">
				<div class="_data">
					<span>
						<%= link_to mock_path(mock), mock: mock, class: "_link_mocket" do %><% end %>
						<%= mock.description %>		
					</span>
					<%= link_to mock_path(mock), mock: mock, class: "_link_mocket" do %><% end %>
				</div>
			</aside>
		<% elsif mock.mocktype == 0 %>
			<aside class="_content_mocky">
				<div class="_data">
					<span>
						<%= link_to mock_path(mock), mock: mock, class: "_link_mocket" do %><% end %>
						<%= mock.description %>		
					</span>
				</div>
			</aside>
		<% else %>
			<aside class="_content_mocky">
				<div class="_data">
					<span>
						<%= link_to mock_path(mock), mock: mock, class: "_link_mocket" do %><% end %>
						<%= mock.title %>	
						<%= mock.description %>		
					</span>
					<%= link_to mock_path(mock), mock: mock, class: "_link_mocket" do %><% end %>
				</div>
			</aside>
	  	<% end %>
		<aside class="_media">
			<% if mock.mocktype == 0 || mock.mocktype == 1 || mock.mocktype == 3 %>
				<div class="_preview">
					<%= link_to mock_path(mock), mock: mock, class: "_link_mock" do %><% end %>
					<% if mock.movie.present? %>
						<% if mock.picture.present? && mock.movie.present? %>
							<%= image_tag mock.picture.url(:extralarge), class: "card-img-top" %>
						<% else %>
							<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
						<% end %>
					<% else %>
						<% if mock.picture.present? %>
							<%= image_tag mock.picture.url(:extralarge), class: "card-img-top" %>
						<% end %>
					<% end %> 
				</div>
	  		<% end %>
			<aside class="_data">
				<div class="_cont _1">
					<div class="_in _1">
						<span><%= link_to mock do %><%= mock.title %><% end %></span>
					</div>
					<div class="_in _2">
						<div class="_actions">
							<% if mocker_signed_in? %>
								<%= link_to like_mock_path(mock), method: :put, remote: :true, class: "like-post" do %>
									<span class="d-md-grid like-count_<%= mock.id %>" id="like-count">
										<%= render 'mocks/likes', mock: mock %>
									</span>
								<% end %>
							<% else %>
								<span>
									<i class="fas fa-heart"></i>
									<%= number_to_human(mock.get_upvotes.size, units: { thousand: 'k', million: 'm', billion: 'b' }) %>
								</span>
							<% end %>
						</div>
					</div>
				</div>
			</aside>
			<% if mock.movie.present? %>
				<div class="_time">
					<div class="_cont">
						<div class="_icon">
							<i class="bi bi-film"></i>
						</div>
						<div class="_number">
							<%= mock_time(mock) %>
						</div>						
					</div>
				</div>
			<% end %>
		</aside>
		<aside class="_tails">
			<div class="_in _2">
				<div class="_actions">
					<p>
						<% if mocker_signed_in? %>
							<%= link_to like_mock_path(mock), method: :put, remote: :true, class: "like-post" do %>
										<span class="d-md-grid like-count_<%= mock.id %>" id="like-count">
											<%= render 'mocks/likes', mock: mock %>
										</span>
							<% end %>
						<% else %>
							<span>
								<i class="fas fa-heart"></i>
								<%= number_to_human(mock.get_upvotes.size, units: { thousand: 'k', million: 'm', billion: 'b' }) %>
							</span>
						<% end %>
					</p>
					<p>
						<% if mocker_signed_in? %>
							<%= link_to dislike_mock_path(mock), method: :put, remote: :true, class: "like-post" do %>
								<span class="d-md-grid dislike-count_<%= mock.id %>" id="dislike-count">
									<%= render 'mocks/dislikes', mock: mock %>
								</span>
							<% end %>
						<% else %>
							<span>
								<i class="fas fa-hand-middle-finger"></i>
								<%= number_to_human(mock.get_downvotes.size, units: { thousand: 'k', million: 'm', billion: 'b' }) %>
							</span>
						<% end %>
					</p>
				</div>
			</div>
		</aside>
	</div>
</figure>