<div class="col-12 col-sm-6 col-lg-auto p-2">
	<%= link_to mock, class: "link_card card _card _3" do %>
		<div class="cont_img">
			<div class="icon_play">
				<div class="d-table fullscreen">
					<div class="d-table-cell v-middle text-center">
						<i class="fas fa-play"></i>
					</div>		
				</div>
			</div>
			<div class="_time">
				<section class="cont_time_mock">
					<%= mock_time(mock) %>
				</section>
			</div>
			<% if mock.picture.present? %>
			  	<%= image_tag mock.picture.url(:large), class: "card-img-top" %>
		  	<% else %> 
		  		<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
		  	<% end %>
		</div>
		<div class="_cardbody">
			<div class="d-table fullscreen">
				<div class="d-table-cell">
					<div class="row">
						<div class="col-12">
							<h4 class="_cardtitle _fs15pt"><%= mock.title %></h4>
							<div class="d-flex overflowx_none _tagsmock"><% mock.tag_list.each do |tag| %><!--<div class="_chip _1">--><% tag %><!--</div>--><% end %></div>
						</div>
						<div class="col-12">
							<div class="row m-0 fullwidth">
								<div class="col p-0">
									<div class="d-table fullscreen">
										<div class="d-tablecell v-middle ">
											<div class="text-ellipsis">
												<p class="_fs10pt m-0 _fs90per _username">@<%= mock.mocker.slug %> <%= image_tag badge_icon(mock.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mock.mocker) if mock.mocker.verification? %></p>
												<p class="_fs9pt m-0"><%= render 'mocks/impressions', mock: mock %></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>