<div class="_col_flex">
	<%= link_to mock, class: "link_card card _card _3" do %>
		<div class="cont_img">
			<div class="icon_play">
				<div class="d-table fullscreen">
					<div class="d-table-cell v-middle text-center">
						<i class="fas fa-play"></i>
					</div>		
				</div>
			</div>
			<% if mock.picture.present? %>
			  	<%= image_tag mock.picture.url(:large), class: "card-img-top" %>
		  	<% else %> 
		  		<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
		  	<% end %>
		</div>
		
		<div class="_cardbody">
			<div class="d-table fullscreen">
				<div class="d-table-cell v-bottom">
					<div class="row">
						<div class="col-12">
							<h4 class="_cardtitle _fs15pt"><%= mock.title %></h4>
							<div class="d-flex overflowx_none _tagsmock"><% mock.tag_list.each do |tag| %><!--<div class="_chip _1">--><% tag %><!--</div>--><% end %></div>
						</div>
						<div class="col-12">
							<div class="row m-0 fullwidth">
								<div class="col p-0">
									<div class="d-table fullscreen">
										<div class="d-tablecell v-middle ">
											<div class="text-ellipsis">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0 fullwidth pt-3 _fw600">
							<div class="col-4">
								<div class="d-table fullscreen">
									<div class="d-tablecell v-middle">
										<div class="text-center">
											<p class="_fs10pt m-0"><%= render 'mocks/impressions', mock: mock %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-table fullscreen">
									<div class="d-tablecell v-middle">
										<div class="text-center">
											<p class="_fs10pt m-0"><%= render 'mocks/likesimple', mock: mock %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-table fullscreen">
									<div class="d-tablecell v-middle">
										<div class="text-center">
											<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
					
		</div>
	<% end %>
</div>