<% content_for :title, "Mockering - Free content to enjoy" %>
<% content_for :name, "Home" %>
<div class="_navy">
  <div class="_cont _1">
		<b>Home</b>
	</div>
</div>
<div class="_cont _1 d-none">
  <% if mocker_signed_in? # && current_mocker.admin %>
	  <%= form_for @mock, html: { multipart: true } do |f| %>
	    <%= f.text_area :mocktype, class: "d-none", value: 'mockies' %>
	    <section class="_head">
	      <%= f.text_area :title, class: '_textarea _2 form-control _textarea_post', rows: "2", placeholder: "What are you thinking?" %>
	    	<%= f.submit 'Mock it',  class: 'btn _btn _1', id: 'fileUpload2' %>
	    </section>
	    <section class="_upload_big _1">
	     <div class="fullsize p-5 _file_upload">
	       <i class="bi bi-card-image"></i>
	     </div>
	     <%= f.file_field :picture, class: "file-selector absolute file_multi_picture", id: "upload_picture_1", onchange: "msf_btn_next2()" %>
	    </section>
	    <section class="_preview">
	      <img id="picture_here">
	      <script type="text/javascript">
	        $(document).on("change", ".file_multi_picture", function(evt) {
	          var $source2 = $('#picture_here');
	          $source2[0].src = URL.createObjectURL(this.files[0]);
	          $source2.parent()[0].load();
	        });
	      </script>
	    </section>
	  <% end %>
  <% end %>
</div>
<div class="_cont _2">
  <% @allmocks.each do |mock| %>
    <article> 
      <% if mock.mocktype == 'tracks' %>
        <%= render 'mocks/cards/track', mock: mock %>
      <% elsif mock.mocktype == 'mockets' %>
        <%= render 'mocks/cards/mocket', mock: mock %>
      <% elsif mock.mocktype == 'mockies' %>
        <%= render 'mocks/cards/mocky', mock: mock %>
      <% end %>
    </article>
  <% end %>
</div>
<div class="_cont _3">
  <%= will_paginate @mocks %>
</div>