<% content_for :title, "Mockering - Videos you deserve to watch." %>
<div id="_big_row_index bg_ghoswhite">
	<div class="row m-0">
		<div class="col-12 col-md-3 col-xl-2 _sidenav p-0 d-none d-md-block" id="_sidenav">
			<%= render 'shared/navside' %>
		</div>
		<div class="col-12 col-md-9 col-xl-10 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
				<div class="row m-0">
					<div class="col-12 _board">
						<%= render 'tags' %>
						<% render 'shared/categories' %>
						<% if params[:tag].present? %>
							<div class="mocks_content">
								<div id="mocks" class="transitions-enabled">
									<% @mocks.each do |mock| %>
										<%= link_to mock, class: "link_card card box _card" do %>
											<div class="cont_img">
												<div class="icon_play">
													<div class="d-table fullscreen">
														<div class="d-table-cell v-middle text-center">
															<i class="fas fa-play"></i>
														</div>		
													</div>
												</div>
												<% if mock.picture.present? %>
												  	<%= image_tag mock.picture.url(:large), class: "card-img-top" %>
											  	<% else %> 
											  		<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
											  	<% end %>
											</div>
											
											<div class="_cardbody">
												<div class="row">
													<div class="col-12">
														<h4 class="_cardtitle _fs15pt"><%= mock.title %></h4>
														<div class="d-flex overflowx_none _tagsmock"><% mock.tag_list.each do |tag| %><!--<div class="_chip _1">--><% tag %><!--</div>--><% end %></div>
													</div>
													<div class="col-12">
														<div class="row m-0 fullwidth">
															<div class="col p-0">
																<div class="d-table fullscreen">
																	<div class="d-tablecell v-middle ">
																		<div class="text-ellipsis">
																			<p class="_fs10pt m-0 _fs90per _username">@<%= mock.mocker.slug %> <%= image_tag badge_icon(mock.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mock.mocker) if mock.mocker.verification? %></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row m-0 fullwidth pt-3 _fw600">
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/impressions', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/likesimple', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
								  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
								      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
								    </div>
								  </div>
							</div>
						<% else %>
							<% if @new_mocks.present? %>
							<div class="row m-0 _header_subtitle_index">
								<div class="col-auto">
									<div class="_cont_subtitle_index">
										<h4 class=" pt-3"><i class="fas fa-history"></i> Added Recently</h4>
									</div>
								</div>
							</div>
							<% end %>
							<div class="mocks_content">
								<div id="mocks" class="transitions-enabled">
									<% @new_mocks.each do |mock| %>
										<%= link_to mock, class: "link_card card box _card" do %>
											<div class="cont_img">
												<div class="icon_play">
													<div class="d-table fullscreen">
														<div class="d-table-cell v-middle text-center">
															<i class="fas fa-play"></i>
														</div>		
													</div>
												</div>
												<% if mock.picture.present? %>
												  	<%= image_tag mock.picture.url(:large), class: "card-img-top" %>
											  	<% else %> 
											  		<%= image_tag mock.movie.url(:thumb), class: "card-img-top" %>
											  	<% end %>
											</div>
											
											<div class="_cardbody">
												<div class="row">
													<div class="col-12">
														<h4 class="_cardtitle _fs15pt"><%= mock.title %></h4>
														<div class="d-flex overflowx_none _tagsmock"><% mock.tag_list.each do |tag| %><!--<div class="_chip _1">--><% tag %><!--</div>--><% end %></div>
													</div>
													<div class="col-12">
														<div class="row m-0 fullwidth">
															<div class="col p-0">
																<div class="d-table fullscreen">
																	<div class="d-tablecell v-middle ">
																		<div class="text-ellipsis">
																			<p class="_fs10pt m-0 _fs90per _username">@<%= mock.mocker.slug %> <%= image_tag badge_icon(mock.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip","data-placement": "bottom", title: tooltip_badge(mock.mocker) if mock.mocker.verification? %></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row m-0 fullwidth pt-3 _fw600">
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/impressions', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/likesimple', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-4">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle">
																	<div class="text-center">
																		<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
						<% end %>
						
						<% if @mocks_health.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to health_path do %>
												<h4 class=" pt-3"><i class="fas fa-heartbeat"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_health">
										<% @mocks_health.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_12">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_12 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_knowledge.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to knowledge_path do %>
												<h4 class=" pt-3"><i class="fas fa-chalkboard-teacher"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_knowledge">
										<% @mocks_knowledge.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_3">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_3 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_paranormal.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to paranormal_path do %>
												<h4 class=" pt-3"><i class="fas fa-ghost"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_paranormal">
										<% @mocks_paranormal.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_5">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_5 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_aliens.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to aliens_path do %>
												<h4 class=" pt-3"><i class="fas fa-user-astronaut"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
											
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_aliens">
										<% @mocks_aliens.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_7">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_7 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_history.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to history_path do %>
												<h4 class=" pt-3"><i class="fas fa-monument"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_history">
										<% @mocks_history.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_15">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_15 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_whatever.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to whatever_path do %>
												<h4 class="_fw600"><i class="fas fa-drumstick-bite mr-2"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
											
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_whatever">
										<% @mocks_whatever.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_2">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_2 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_short.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to shorts_path do %>
												<h4 class=" pt-3"><i class="fas fa-film"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
											
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_short">
										<% @mocks_short.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_8">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_8 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_podcast.present? %>
							<div class="mocks_category, mock: 'mock'">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to podcasts_path do %>
												<h4 class=" pt-3"><i class="fas fa-podcast"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_podcast">
										<% @mocks_podcast.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_9">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_9 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_reaction.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to reactions_path do %>
												<h4 class="_fw600 pt-3"><i class="fas fa-greater-than-equal"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_reaction">
										<% @mocks_reaction.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_19">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_19 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_animation.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to animation_path do %>
												<h4 class=" pt-3"><i class="fas fa-dice-d20"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_animation">
										<% @mocks_animation.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_6">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_6 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_protest.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to protests_path do %>
												<h4 class=" pt-3"><i class="fas fa-balance-scale"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
											
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_protest">
										<% @mocks_protest.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_10">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_10 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_tribute.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to tributes_path do %>
												<h4 class=" pt-3"><i class="fas fa-medal"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
											
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_tribute">
										<% @mocks_tribute.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_11">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_11 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_report.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to reports_path do %>
												<h4 class=" pt-3"><i class="fas fa-search"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_report">
										<% @mocks_report.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_4">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_4 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_nature.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to nature_path do %>
												<h4 class=" pt-3"><i class="fas fa-frog"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_music">
										<% @mocks_nature.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_18">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_18 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_tutorial.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to tutorials_path do %>
												<h4 class=" pt-3"><i class="fas fa-graduation-cap"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_tutorial">
										<% @mocks_tutorial.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_14">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_14 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_videoclip.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to videoclips_path do %>
												<h4 class=" pt-3"><i class="fas fa-video"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_videoclip">
										<% @mocks_videoclip.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_16">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_16 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_training.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to training_path do %>
												<h4 class=" pt-3"><i class="fas fa-dumbbell"></i> <i class="material-icons">arrow_forward</i>Physical training</h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_training">
										<% @mocks_training.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_17">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_17 pull-right">
									</a>
								</div>
							</div>
						<% end %>
						<% if @mocks_music.present? %>
							<div class="mocks_category">
								<div class="row m-0 _header_subtitle_index">
									<div class="col-auto">
										<div class="_cont_subtitle_index">
											<%= link_to music_path do %>
												<h4 class=" pt-3"><i class="fas fa-music"></i> <i class="material-icons">arrow_forward</i></h4>
											<% end %>
										</div>
									</div>
								</div>
								<div class="row m-0 relative">
									<div class="d-flex overflowx_auto p-md-2 fullwidth scrollbar_none" id="mocks_music">
										<% @mocks_music.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
									<a class="div_arrow _left _2 arrow_ arrow-left-navigation_18">
									</a>
									<a class="div_arrow _right _2 arrow_ arrow-right-navigation_18 pull-right">
									</a>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.row._header_subtitle_index h4 {
	    color: #7e7d84;
	    margin-bottom: 10px;
	    font-size: 16pt;
	    font-weight: 400;
	}
	._cont_subtitle_index h4 i{
		margin-right: 5px;
	}
	._cont_subtitle_index h4 i.material-icons{
		font-size: 13pt;
	}
	._card{
		width:300px;
	}
	._board hr{
		margin-top:0 !important;
	}
</style>
<script type="text/javascript">
	
	$(document).ready(function(){

	    $(".arrow-left-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_whatever').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_2').hide();
		    }
		    else if($('.arrow-left-navigation_2').css('display') != 'block') {
		        $('.arrow-left-navigation_2').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_3").click(function(){
	        $("#mocks_knowledge").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_3").click(function(){
	        $("#mocks_knowledge").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_knowledge').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_3').hide();
		    }
		    else if($('.arrow-left-navigation_3').css('display') != 'block') {
		        $('.arrow-left-navigation_3').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_4").click(function(){
	        $("#mocks_report").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_4").click(function(){
	        $("#mocks_report").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_report').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_4').hide();
		    }
		    else if($('.arrow-left-navigation_4').css('display') != 'block') {
		        $('.arrow-left-navigation_4').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_5").click(function(){
	        $("#mocks_paranormal").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_5").click(function(){
	        $("#mocks_paranormal").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_paranormal').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_5').hide();
		    }
		    else if($('.arrow-left-navigation_5').css('display') != 'block') {
		        $('.arrow-left-navigation_5').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_6").click(function(){
	        $("#mocks_animation").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_6").click(function(){
	        $("#mocks_animation").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_animation').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_6').hide();
		    }
		    else if($('.arrow-left-navigation_6').css('display') != 'block') {
		        $('.arrow-left-navigation_6').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_7").click(function(){
	        $("#mocks_aliens").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_7").click(function(){
	        $("#mocks_aliens").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_aliens').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_7').hide();
		    }
		    else if($('.arrow-left-navigation_7').css('display') != 'block') {
		        $('.arrow-left-navigation_7').show();
		    }
		}).scroll();


	    $(".arrow-left-navigation_8").click(function(){
	        $("#mocks_short").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_8").click(function(){
	        $("#mocks_short").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_short').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_8').hide();
		    }
		    else if($('.arrow-left-navigation_8').css('display') != 'block') {
		        $('.arrow-left-navigation_8').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_9").click(function(){
	        $("#mocks_podcast").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_9").click(function(){
	        $("#mocks_podcast").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_podcast').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_9').hide();
		    }
		    else if($('.arrow-left-navigation_9').css('display') != 'block') {
		        $('.arrow-left-navigation_9').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_19").click(function(){
	        $("#mocks_reaction").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_19").click(function(){
	        $("#mocks_reaction").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_reaction').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_19').hide();
		    }
		    else if($('.arrow-left-navigation_19').css('display') != 'block') {
		        $('.arrow-left-navigation_19').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_10").click(function(){
	        $("#mocks_protest").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_10").click(function(){
	        $("#mocks_protest").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_protest').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_10').hide();
		    }
		    else if($('.arrow-left-navigation_10').css('display') != 'block') {
		        $('.arrow-left-navigation_10').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_11").click(function(){
	        $("#mocks_tribute").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_11").click(function(){
	        $("#mocks_tribute").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_tribute').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_11').hide();
		    }
		    else if($('.arrow-left-navigation_11').css('display') != 'block') {
		        $('.arrow-left-navigation_11').show();
		    }
		}).scroll();


	    $(".arrow-left-navigation_12").click(function(){
	        $("#mocks_health").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_12").click(function(){
	        $("#mocks_health").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_health').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_12').hide();
		    }
		    else if($('.arrow-left-navigation_12').css('display') != 'block') {
		        $('.arrow-left-navigation_12').show();
		    }
		}).scroll();




	    $(".arrow-left-navigation_12").click(function(){
	        $("#mocks_health").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_12").click(function(){
	        $("#mocks_health").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_health').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_12').hide();
		    }
		    else if($('.arrow-left-navigation_12').css('display') != 'block') {
		        $('.arrow-left-navigation_12').show();
		    }
		}).scroll();

		

	    $(".arrow-left-navigation_13").click(function(){
	        $("#mocks_event").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_13").click(function(){
	        $("#mocks_event").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_event').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_13').hide();
		    }
		    else if($('.arrow-left-navigation_13').css('display') != 'block') {
		        $('.arrow-left-navigation_13').show();
		    }
		}).scroll();

		

	    $(".arrow-left-navigation_14").click(function(){
	        $("#mocks_event").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_14").click(function(){
	        $("#mocks_event").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_event').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_14').hide();
		    }
		    else if($('.arrow-left-navigation_14').css('display') != 'block') {
		        $('.arrow-left-navigation_14').show();
		    }
		}).scroll();

		

	    $(".arrow-left-navigation_14").click(function(){
	        $("#mocks_tutorial").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_14").click(function(){
	        $("#mocks_tutorial").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_tutorial').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_14').hide();
		    }
		    else if($('.arrow-left-navigation_14').css('display') != 'block') {
		        $('.arrow-left-navigation_14').show();
		    }
		}).scroll();

		

	    $(".arrow-left-navigation_15").click(function(){
	        $("#mocks_history").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_15").click(function(){
	        $("#mocks_history").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_history').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_15').hide();
		    }
		    else if($('.arrow-left-navigation_15').css('display') != 'block') {
		        $('.arrow-left-navigation_15').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_16").click(function(){
	        $("#mocks_videoclip").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_16").click(function(){
	        $("#mocks_videoclip").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_videoclip').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_16').hide();
		    }
		    else if($('.arrow-left-navigation_16').css('display') != 'block') {
		        $('.arrow-left-navigation_16').show();
		    }
		}).scroll();




	    $(".arrow-left-navigation_17").click(function(){
	        $("#mocks_training").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_17").click(function(){
	        $("#mocks_training").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_training').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_17').hide();
		    }
		    else if($('.arrow-left-navigation_17').css('display') != 'block') {
		        $('.arrow-left-navigation_17').show();
		    }
		}).scroll();



	    $(".arrow-left-navigation_18").click(function(){
	        $("#mocks_music").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_18").click(function(){
	        $("#mocks_music").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_music').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_18').hide();
		    }
		    else if($('.arrow-left-navigation_18').css('display') != 'block') {
		        $('.arrow-left-navigation_18').show();
		    }
		}).scroll();
	});
</script>