<div id="_big_row_index">
	<div class="row m-0">
		<div class="col-12 col-md-3 col-xl-2 _sidenav p-0" id="_sidenav">
			<div class="fixed _css-1db _overflow-y _h-100vh" style="width: 100%;max-width: inherit;">
				<div class="row m-0">
					<div class="col-12">
						<div id="_row_sidenav1">
							<div class="d-table fullscreen ">
								<div class="d-tablecell v-middle">
									<ul class="_listsidenav">
										<li class="<%= 'active' if current_page?(root_path)  %>"><%= link_to root_path, class: "_link _sidenav " do %>
												<p>Home</p>
												<span></span>
											<% end %>
										</li>
										<li class="<%= 'active' if current_page?('/discover')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
												<p>Discover</p>
												<span></span>
											<% end %>
										</li>
										<li class="<%= 'active' if current_page?('/popular')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
												<p>Popular</p>
												<span></span>
											<% end %>
										</li>
										<li class="<%= 'active' if current_page?('/recent')  %>"><%= link_to root_path, class: "_link _sidenav" do %>
												<p>Recent</p>
												<span></span>
											<% end %>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="row m-0" id="_row_sidenav2">
					<div class="col-12 p-0">
						<div class="_dataccunt">
							<% if mocker_signed_in? %>
								<div class="row m-0 " id="_row_follows_board">
									<div class="col-6 p-0 text-center">
										<h3 class="_numb_follows"><%= number_to_human(current_mocker.followers.count, units: { thousand: 'K', million: 'M', billion: 'B' }) %></h3>
										<p class="text-ellipsis _fs10pt">Followers</p>
									</div>
									<div class="col-6 p-0 text-center">
										<h3 class="_numb_follows"><%= number_to_human(current_mocker.following.count, units: { thousand: 'K', million: 'M', billion: 'B' }) %></h3>
										<p class="text-ellipsis _fs10pt">Following</p>
									</div>
								</div>
								<div class="row m-0">
									<div class="col-3">
										<div class="d-table fullscreen">
											<div class="d-tablecell v-middle">
												<%= image_tag avatar_url(current_mocker), class: "_avatar _1" %>
											</div>
										</div>
									</div>
									<div class="col-9 p-0">
										<p class="_fw600 m-0 text-ellipsis"><%= current_mocker.first_name %> <%= current_mocker.last_name %></p>
										<p class="_username m-0 text-ellipsis">@<%= current_mocker.slug %></p>
									</div>
								</div>
							<% else %>
								<%= link_to "Login", new_mocker_session_path, class: "_link _1" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-9 col-xl-10 p-0 _content">
			<div class="on_content" id="on_content">
				<div class="row m-0">
					<div class="col-12 _board">
						<div class="mocks_content">
							
							<div id="mocks" class="transitions-enabled">
								<% @mocks.each do |mock| %>
									<div class="card box _card">
										<%= link_to (image_tag mock.picture.url(:medium), class: "card-img-top"), mock %>
										<div class="_cardbody">
											<div class="row">
												<div class="col-12">
													<p class="_cardtitle"><%= link_to mock.title, mock %></p>
												</div>
												<div class="row m-0 fullwidth">
													<div class="col-6 d-flex">
														<div class="d-table fullheight" style="margin-right: 5px;">
															<div class="d-tablecell v-middle">
																<%= image_tag avatar_url(mock.mocker), class: "_avatar _2 m-0-auto" %>
															</div>
														</div>
														<div class="text-ellipsis">
															<div class="d-table fullscreen">
																<div class="d-tablecell v-middle ">
																	<p class="_fs10pt m-0 "><%= link_to mock.mocker, class: "text-white" do %>@<%= mock.mocker.slug %><% end %></p>
																</div>
															</div>
														</div>
													</div>
													<div class="col-6">
														<div class="d-table fullscreen">
															<div class="d-tablecell v-middle">
																<div class="d-flex" style="width: max-content;float: right;">
																	<p class="_fs10pt m-0" style="padding-right: 9px"><%= render 'mocks/likesimple', mock: mock %></p>
																	<p class="_fs10pt m-0"><%= render 'mocks/dislikesimple', mock: mock %></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
