<% content_for :title, "Mockering - Videos from the real community of internet" %>
<div id="_big_row_index" class="container-lg">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
					<div class="_board">
						<%= render 'tags' %>
						<% render 'shared/categories' %>
							<% if params[:tag].present? %>
								<div class="mocks_content">
									<div class="row m-0 m-sm-2">
										<% @mocks.each do |mock| %>
											<%= render 'mock_category', mock: mock %>
										<% end %>
									</div>
								  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
								      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
								    </div>
								  </div>
								</div>
							<% else %>
								<% if @new_mocks.present? %>
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<h4><i class="fas fa-history"></i> Recently</h4>
											</div>
										</div>
									</div>
									<div class="mocks_content">
										<div class="row m-0 m-sm-2">
											<% @new_mocks.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
									    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
									      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
									    </div>
									  </div>
									</div>
								<% end %>
							<% end %>
							<% if @mocks_health.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to health_path do %>
													<h4><i class="fas fa-heartbeat"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 fullwidth scrollbar_none" id="mocks_health">
											<% @mocks_health.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_knowledge.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to knowledge_path do %>
													<h4><i class="fas fa-chalkboard-teacher"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_knowledge">
											<% @mocks_knowledge.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_paranormal.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to paranormal_path do %>
													<h4 class=" pt-3"><i class="fas fa-ghost"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_paranormal">
											<% @mocks_paranormal.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_aliens.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to aliens_path do %>
													<h4 class=" pt-3"><i class="fas fa-user-astronaut"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
												
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_aliens">
											<% @mocks_aliens.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_history.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to history_path do %>
													<h4 class=" pt-3"><i class="fas fa-monument"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_history">
											<% @mocks_history.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_whatever.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to whatever_path do %>
													<h4 class="_fw600"><i class="fas fa-drumstick-bite mr-2"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
												
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_whatever">
											<% @mocks_whatever.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_short.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to shorts_path do %>
													<h4 class=" pt-3"><i class="fas fa-film"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
												
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_short">
											<% @mocks_short.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_podcast.present? %>
								<div class="mocks_category, mock: 'mock'">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to podcasts_path do %>
													<h4 class=" pt-3"><i class="fas fa-podcast"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_podcast">
											<% @mocks_podcast.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_reaction.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to reactions_path do %>
													<h4 class="_fw600 pt-3"><i class="fas fa-greater-than-equal"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_reaction">
											<% @mocks_reaction.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_animation.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to animation_path do %>
													<h4 class=" pt-3"><i class="fas fa-dice-d20"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_animation">
											<% @mocks_animation.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_protest.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to protests_path do %>
													<h4 class=" pt-3"><i class="fas fa-balance-scale"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
												
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_protest">
											<% @mocks_protest.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_tribute.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to tributes_path do %>
													<h4 class=" pt-3"><i class="fas fa-medal"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
												
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_tribute">
											<% @mocks_tribute.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_report.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to reports_path do %>
													<h4 class=" pt-3"><i class="fas fa-search"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_report">
											<% @mocks_report.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_nature.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to nature_path do %>
													<h4 class=" pt-3"><i class="fas fa-frog"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_music">
											<% @mocks_nature.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_tutorial.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to tutorials_path do %>
													<h4 class=" pt-3"><i class="fas fa-graduation-cap"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_tutorial">
											<% @mocks_tutorial.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_videoclip.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to videoclips_path do %>
													<h4 class=" pt-3"><i class="fas fa-video"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_videoclip">
											<% @mocks_videoclip.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_training.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to training_path do %>
													<h4 class=" pt-3"><i class="fas fa-dumbbell"></i> <i class="material-icons">arrow_forward</i>Physical training</h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_training">
											<% @mocks_training.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
							<% if @mocks_music.present? %>
								<div class="mocks_category">
									<div class="row m-0 _header_subtitle_index">
										<div class="col-auto">
											<div class="_cont_subtitle_index">
												<%= link_to music_path do %>
													<h4 class=" pt-3"><i class="fas fa-music"></i> <i class="material-icons">arrow_forward</i></h4>
												<% end %>
											</div>
										</div>
									</div>
									<div class="row m-0 relative">
										<div class="row m-0 p-md-2 fullwidth scrollbar_none" id="mocks_music">
											<% @mocks_music.each do |mock| %>
												<%= render 'mock_category', mock: mock %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.row._header_subtitle_index h4 {
    color: #424243;
    margin: 15px;
    margin-left: 0;
    font-size: 12pt;
    font-weight: 100;
	}
	._cont_subtitle_index h4 i{
		margin-right: 5px;
	}
	._cont_subtitle_index h4 i.material-icons{
		font-size: 13pt;
	}
	._board hr{
		margin-top:0 !important;
	}
</style>
<script type="text/javascript">
	/*
	$(document).ready(function(){

	    $(".arrow-left-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_whatever').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_1').hide();
		    }
		    else if($('.arrow-left-navigation_2').css('display') != 'block') {
		        $('.arrow-left-navigation_2').show();
		    }
		}).scroll();

	}); */
</script>