<% content_for :title, "Mockering - Real or fake... We just post it!" %>
<div id="_big_row_index" class="container-lg">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
					<div class="_board _feed">
						<section class="_mocks _2">
							<% if @new_mocks.present? %>
								<div class="mocks_content _1">
									<div class="_shuffle_container _1">
										<% @new_mocks.each do |mock| %>
											<%= render 'mock', mock: mock %>
										<% end %>
									</div>
								<div class="my-sizer-element"></div>
							  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
							      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
							    </div>
							  </div>
								</div>
							<% end %>
						</section>
						<section class="sec_title">
							<div class="row m-0">
								<div class="col-12 p-0">
									<h3>These weeks</h3>
								</div>
							</div>
						</section>
						<section class="_mocks _2">
							<div class="mocks_content _2">
								<div class="_shuffle_container _3">
									<% @month.each do |mock| %>
										<%= render 'mock', mock: mock %>
									<% end %>
								</div>
								<div class="my-sizer-element"></div>
							  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
							      <%= will_paginate @month, renderer: BootstrapPagination::Rails, param_name: 'page' %>
							    </div>
							  </div>
							</div>
						</section>
						<section class="sec_title">
							<div class="row m-0">
								<div class="col-12 p-0">
									<h3>Trends</h3>
								</div>
							</div>
						</section>
						<section class="_mocks _2">
							<div class="mocks_content _2">
								<div class="_shuffle_container _2">
									<% @trends.each do |mock| %>
										<%= render 'mock', mock: mock %>
									<% end %>
								</div>
								<div class="my-sizer-element"></div>
							  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
							      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
							    </div>
							  </div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	/*
	$(document).ready(function(){

	    $(".arrow-left-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_whatever').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_1').hide();
		    }
		    else if($('.arrow-left-navigation_2').css('display') != 'block') {
		        $('.arrow-left-navigation_2').show();
		    }
		}).scroll();

	}); */
	
	var clipboard = new Clipboard('.clipboard-btn');
	console.log(clipboard);

	var Shuffle = window.Shuffle;

	var myShuffle = new Shuffle(document.querySelector('._shuffle_container._1'), {
	itemSelector: '._item_shuffle',
	sizer: '.my-sizer-element',
	buffer: 1,
	});
	var myShuffle2 = new Shuffle(document.querySelector('._shuffle_container._2'), {
	itemSelector: '._item_shuffle',
	sizer: '.my-sizer-element',
	buffer: 1,
	});
	var myShuffle3 = new Shuffle(document.querySelector('._shuffle_container._3'), {
	itemSelector: '._item_shuffle',
	sizer: '.my-sizer-element',
	buffer: 1,
	});
</script> 