<% content_for :title, "Mockering - Free content to enjoy" %>
<% content_for :name, "Home" %>
 
<div class="_navy">
	<b>Home</b>
</div>
<div class="_cont _1">
  <% if mocker_signed_in? # && current_mocker.admin %>
	  <%= form_for @mock, html: { multipart: true } do |f| %>
	    <%= f.hidden_field :mocktype, value: 'mockets' %>
	    <section class="_head">
	      <%= f.text_area :title, class: '_textarea _2 form-control _textarea_post', rows: "2", placeholder: "What are you thinking?" %>
	    	<%= f.submit 'Mock',  class: 'btn _btn _1', id: 'fileUpload2', data: { disable_with: 'Uploading...' } %>
	    </section>
	    <section class="_upload_big _1">
	     <div class="fullsize p-5 _file_upload">
	       <i class="bi bi-card-image"></i>
	     </div>
	     <%= f.file_field :picture, class: "file-selector absolute file_multi_picture", id: "upload_picture_1", onchange: "msf_btn_next2()" %>
	    </section>
	    <section class="_preview">
	      <img id="picture_here">
	      <script type="text/javascript">
	        $(document).on("change", ".file_multi_picture", function(evt) {
	          var $source2 = $('#picture_here');
	          $source2[0].src = URL.createObjectURL(this.files[0]);
	          $source2.parent()[0].load();
	        });
	      </script>
	    </section>
	  <% end %>
  <% end %>
</div>
<div class="_cont _2">
  <% @onemocks.each do |mock| %>
    <article>
      <%= render 'mock', mock: mock %>
    </article>
  <% end %>
</div>


<div class="d-none" id="_big_row_index">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
				<div class="_board _feed">

					<section class="_onemocks">
			      <div id="splide_onemocks" class="splide splide_onemocks">
			      	<div class="_title">
			      		<h3></h3>
			      	</div>
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @onemocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>
					<section class="_twomocks">
			      <div id="splide_twomocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @twomocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>
					<section class="_threemocks">
			      <div id="splide_threemocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @threemocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>
					<section class="_fourmocks">
			      <div id="splide_fourmocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @fourmocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>
					
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var splide1 = new Splide('#splide_onemocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide2 = new Splide('#splide_twomocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide3 = new Splide('#splide_threemocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide4 = new Splide('#splide_fourmocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
</script>
<style type="text/css">
</style>