<div class="container">
	<%= image_tag @mock.picture.url(:large) %>
	<h1><%= @mock.title %></h1>
	<p><%= @mock.description %></p>
	<p><%= @mock.mocker.email %></p>
	<%= link_to 'Back',root_path, class: 'btn' %>
	<%= link_to 'Edit', edit_mock_path %>
	<%= link_to 'Delete', mock_path, method: :delete, data: {confirm: "Are you sure?"} %>
</div>
	