<div class="_container">
	<div class="row m-0">
		<div class="col-12 col-md-8 col-xl-9">
			<div class="row">
				<div class="col-12">
					<!--<% if @mock.picture.present? %>
						<%= image_tag @mock.picture.url(:large), class: "card-img-top" %>
					<% else %>
						<%= image_tag 'imagenotfound.png', style: "width:100%" %>
					<% end %>-->
					<% if @mock.music.present? %>
						<%= audio_tag(@mock.music, controls: true, styles: "width:100%;") %>
					<% end %>
					<% if @mock.movie.present? %>
					  <video
					    id="my-video"
					    class="video-js"
					    controls
					    preload="auto"
					    data-setup="{}"
					    style="width:100%; height: 66vh;"
					  >
					    <source src="<%= video_path(@mock.movie) %>" type="video/mp4", class="video-js" />
					  </video>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-6"></div>
				<div class="col-6">
					<div class="row float-right ">
						<div class="col-auto" >
							<% if current_mocker %>
								<%= link_to like_mock_path(@mock), method: :put, remote: :true, class: "like-post" do %>
									<div id="like-count">
										<%= render 'mocks/likes', mock: @mock %>
									</div>
								<% end %>
							<% else %>
								<%= link_to new_mocker_session_path, class: 'like-post' do %>
									<div id="like-count">
										<%= render 'mocks/likes', mock: @mock %>
									</div>
								<% end %>
							<% end %>
						</div>
						<div class="col-auto">
							<% if current_mocker %>
								<%= link_to dislike_mock_path(@mock), method: :put, remote: :true, class: "like-post" do %>
									<div id="dislike-count">
										<%= render 'mocks/dislikes', mock: @mock %>
									</div>
								<% end %>
							<% else %>
								<%= link_to new_mocker_session_path, class: 'like-post' do %>
									<div id="dislike-count">
										<%= render 'mocks/dislikes', mock: @mock %>
									</div>
								<% end %>
							<% end %>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-xl-3">
			
		</div>
	</div>

	<div class="mock_show">
		<div class="card">
					
			<div class="card-body">
				<h1 class="card-title"><%= @mock.title %></h1>
				<h6 class="card-subtitle mb-2 text-muted"><%= link_to @mock.mocker do %><%= @mock.mocker.slug %><% end %></h6>
				<p class="card-text"><%= @mock.description %></p>
			</div>
			<div class="card-footer row">
				<div class="reviews">
					<%= render 'reviews/form' %>
					<%= render 'reviews/list' %>
				</div>
				<div class="col-md-6 pull-right">
					<%= link_to 'Back',root_path, class: 'btn btn-default' %>
					<% if current_mocker == @mock.mocker %>
						<%= link_to 'Edit', edit_mock_path,class: 'btn btn-default' %>
						<%= link_to 'Delete', mock_path, method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-default' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
</style>