<div class="container">
	<div class="mock_show">
		<div class="card">
			<% if @mock.picture.present? %>
				<%= image_tag @mock.picture.url(:large), class: "card-img-top" %>
			<% else %>
				<%= image_tag 'imagenotfound.png', style: "width:100%" %>
			<% end %>
			<% if @mock.music.present? %>
					<%= audio_tag(@mock.music, controls: true, styles: "width:100%;") %>
			<% end %>
			<% if @mock.movie.present? %>
			  <video
			    id="my-video"
			    class="video-js"
			    controls
			    preload="auto"
			    data-setup="{}"
			    style="width:100%;"
			  >
			    <source src="<%= video_path(@mock.movie) %>" type="video/mp4", class="video-js" />
			  </video>
			<% end %>

			<div class="card-body">
				<h1 class="card-title"><%= @mock.title %></h1>
				<h6 class="card-subtitle mb-2 text-muted"><%= link_to @mock.mocker do %><%= @mock.mocker.slug %><% end %></h6>
				<p class="card-text"><%= @mock.description %></p>
			</div>
			<div class="card-footer row">
				<div class="col-md-6">
					<div id="like-count">
						<%= render 'mocks/likes', mock: @mock %>
					</div>
					<div id="dislike-count">
						<%= render 'mocks/dislikes', mock: @mock %>
					</div>
				</div>
				<div class="col-md-6">
					<div id="like-link">
						<%= render 'mocks/like_link', mock: @mock %>
					</div>
					<div id="dislike-link">
						<%= render 'mocks/dislike_link', mock: @mock %>
					</div>
				</div>
				<div class="reviews">
					<%= render 'reviews/form' %>
					<%= render 'reviews/list' %>
				</div>
				<div class="col-md-6 pull-right">
					<%= link_to 'Back',root_path, class: 'btn btn-default' %>
					<% if current_mocker == @mock.mocker %>
						<%= link_to 'Edit', edit_mock_path,class: 'btn btn-default' %>
						<%= link_to 'Delete', mock_path, method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-default' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>