<%= form_for current_mocker.mock_appeals.new do |f| %>
  <div class="col-12">
    <div class="field">
      <%= f.label :reason %> <br>
      <%= f.select :reason, MockAppeal.reasons.map {|key, value| [key.humanize, key]}, prompt: "Choose one", class: "form-control _select _1", required: true %>
	  <%= f.hidden_field :mocker_id, value: current_mocker.id %>
	  <%= f.hidden_field :mock_id, value: mock.id %>
    </div>
  </div>
  <div class="col-12">
  	<br>
    <div class="field">
    	<%= f.label :comment %> <br>
    	<%= f.text_area :comment, class: '_textarea _2 form-control', placeholder: "Comment your appeal", rows: "3" %>
    </div>
  </div>
  <div class="col-12">
  	<br>
    <div class="field text-right">
    	<%= f.submit 'submit', class: "btn _btn _1 f-right" %>
    </div>
  </div>
<% end %>