<% if @reviews.count == 0 %>
  <div class="row">
    <div class="col-12 text-center">
      <p class="m-0">There are no reviews yet</p>
    </div>
  </div>
<% else %>
  <% @reviews.order(created_at: :desc).each do |r| %>
    <div class="row m-0 _rowreview">
      <div class="col text-center">
        <div class="d-table fullscreen">
          <div class="d-table-cell v-middle">
            <div class="d-grid text-center">
              <%= link_to(r.mocker) do  %>
                <%= image_tag avatar_url(r.mocker), class: "img-circle _avatar_comment" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-11  ">
        <div class="row m-0" style="margin-bottom: 10px;">
          <div class="col offset text-right p-0">
            <% if current_mocker && current_mocker == r.mocker %>
              <div class="navbar d-block p-0">
                <div class="nav-item dropdown text-right">
                  <a class="linkdropdown_reviews dropdown-toggle _color_black deco-none f-right" href="#" id="dropdownReview" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu right-0" aria-labelledby="dropdownReview">
                    <% if mocker_signed_in? # && current_mocker.admin %>
                      <%= link_to r, class:"_itemdropdown", method: :delete, data: {confirm: "Are you sure?"} do %>Remove<% end %>
                      <!--<div class="dropdown-divider"></div>
                      <a href="#" class="_itemdropdown">Report</a>-->
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>  
          </div>    
        </div>
        <div class="col-12 readmore p-0">
          <div class="comment d-grid" id="comment">
            <small class="text-ellipsis" style="margin-bottom: 5px; color:black;">@<%= r.mocker.slug %> <%= image_tag badge_icon(r.mocker), class: "_badge_verification _tooltip", "data-toggle": "tooltip", "data-placement": "bottom", title: tooltip_badge(r.mocker) if r.mocker.verification? %> • <%= r.created_at.strftime("%d %b %y").downcase  %></small>
            <small class="_fw400 m-0 keepspaces" style="color:#444444;"><%= auto_link(r.comment, html: { target: '_blank' }) %></small>
          </div>
        </div>
        <div class="row col-12 m-0 p-0">
          <div class="col-auto">
            <% if mocker_signed_in? %>
              <%= link_to like_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                <div id="like-count-review">
                  <%= render 'reviews/likes', review: r %>
                </div>
              <% end %>
            <% else %>
              <%= link_to new_mocker_session_path, class: "like-review" do %>
                <div id="like-count-review">
                <i class="far fa-thumbs-up" style="margin-right: 2px;"></i> <%= number_to_human(r.get_upvotes.size, units: { million: 'm', billion: 'b' }) %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-auto"  style="padding-left: 0;">
            <% if mocker_signed_in? %>
              <%= link_to dislike_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                <div id="dislike-count-review">
                  <%= render 'reviews/dislikes', review: r %>
                </div>
              <% end %>
            <% else %>
                <%= link_to new_mocker_session_path, class: "like-review" do %>
                  <div id="dislike-count-review">
                  <i class="far fa-thumbs-down" style="margin-right: 2px;"></i> <%= number_to_human(r.get_downvotes.size, units: { million: 'm', billion: 'b' }) %>
                  </div>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="row m-0">
            <% if mocker_signed_in? %>
              <%= render 'answers/form', review: r %>
            <% else %>
              <div class="row m-0 fullwidth">
                <div class="col-12">
                  <%= link_to new_mocker_session_path, class: "display-block btn _btn _btnanswer" do %>Answer<% end %>
                </div> 
              </div>
              <br>
            <% end %>      
        </div>
      </div>
    </div>
    <div class="list">
        <div class="col-12 p-0">
          <div class="answers sort_paginate_ajax" id="answers">
            <%= render 'answers/list', review: r %>
          </div>
        </div>
    </div>
    <hr>
  <% end %>
<% end %>
<br>
<script type="text/javascript">
  
  $('.readmore').readmore({
      speed: 75,
      collapsedHeight: 85,
      moreLink: '<a href="#" class="link-2">Show more</a>',
        lessLink: '<a href="#" class="link-2">Show less</a>'
    }
  );
</script>
<style type="text/css">
  .dropdown-menu.right-0{
    left:inherit;
    right: 0 !important;
  }
</style>