<% if @reviews.count == 0 %>
  <div class="row">
    <div class="col-12 text-center">
      <p class="m-0">There are no reviews yet</p>
    </div>
  </div>
<% else %>
  <% @reviews.order(id: :desc).each do |r| %>
    <div class="row m-0 _rowreview">
      <div class="col-12 col-sm text-center">
        <div class="d-table fullscreen">
          <div class="d-table-cell v-middle">
            <div class="d-grid text-center">
              <%= image_tag avatar_url(r.mocker), class: "img-circle _avatar_comment" %>
              <small class="_fw500"><%= r.mocker.slug %></small>
              <small><%= r.created_at.strftime("%d %b %y").downcase  %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10">
        <div class="row m-0" style="margin-bottom: 10px;">
          <div class="col offset text-right p-0">
            <% if current_mocker && current_mocker == r.mocker %>
              <div class="navbar d-block p-0">
                <div class="nav-item dropdown text-right">
                  <a class="linkdropdown_reviews dropdown-toggle _color_black deco-none f-right" href="#" id="dropdownReview" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu right-0" aria-labelledby="dropdownReview">
                    <% if mocker_signed_in? # && current_mocker.admin %>
                      <%= link_to r, class:"_itemdropdown", method: :delete, data: {confirm: "Are you sure?"} do %>Remove<% end %>
                      <!--<div class="dropdown-divider"></div>
                      <a href="#" class="_itemdropdown">Report</a>-->
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>  
          </div>    
        </div>
        <div class="col-12 readmore p-0">
          <div class="comment" id="comment">
            <small class="m-0 keepspaces"><%= r.comment %></small>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <% if mocker_signed_in? %>
              <%= link_to like_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                <div id="like-count-review">
                  <%= render 'reviews/likes', review: r %>
                </div>
              <% end %>
            <% else %>
              <%= link_to new_mocker_session_path, class: 'like-review' do %>
                <div id="like-count-review">
                  <%= render 'reviews/likes', review: @review %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-auto">
            <% if mocker_signed_in? %>
              <%= link_to dislike_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                <div id="dislike-count-review">
                  <%= render 'reviews/dislikes', review: r %>
                </div>
              <% end %>
            <% else %>
              <%= link_to new_mocker_session_path, class: 'like-review' do %>
                <div id="dislike-count-review">
                  <%= render 'reviews/dislikes', review: @review %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
<br>
<script type="text/javascript">
  $('.readmore').readmore({
      speed: 75,
      collapsedHeight: 85,
      moreLink: '<a href="#" class="link-2">Show more</a>',
        lessLink: '<a href="#" class="link-2">Show less</a>'
    }
  );
</script>
<style type="text/css">
  .dropdown-menu.right-0{
    left:inherit;
    right: 0 !important;
  }
</style>