<% if @reviews.count == 0 %>
  <div class="row m-0">
    <div class="col-12 text-center">
      <i class="bi bi-chat-right-heart-fill"></i>
      <p class="m-0"><%= @mock.mocker.first_name %> is looking for feedback</p>
      <p class="m-0">Be the first to let them know your thoughts!</p>
      <a class="_btn _simple">
        <span>Leave feedback</span>
      </a>
    </div>
  </div>
<% else %>
  <% @reviews.order(created_at: :desc).each do |r| %>
    <div class="_rowreview">
      <aside class="_1">
        <div class="_cont _1">
          <%= link_to(r.mocker) do  %>
            <%= image_tag avatar_url(r.mocker), class: "img-circle _avatar_comment" %>
          <% end %>
        </div>
        <div class="_cont _2">
          <aside class="_comment _1">
            <p class="_user"><%= r.mocker.first_name %> <%= r.mocker.last_name %> <%= image_tag badge_icon(r.mocker), class: "_badge_verification _tooltip _2", "data-toggle": "tooltip", "data-placement": "bottom", title: tooltip_badge(r.mocker) if r.mocker.verification? %>
            </p>
            <p class="_text keepspaces readmore">
              <%= auto_link(r.comment, html: { target: '_blank' }) %>
            </p>
            <div class="_date">
              <p><%= r.created_at.strftime("%B %d, %Y").downcase  %> </p>
              <% if mocker_signed_in? %>
                <%= link_to like_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                  <div id="like-count-review">
                    <%= render 'reviews/likes', review: r %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_mocker_session_path, class: "like-review" do %>
                  <div id="like-count-review">
                    <i class="fas fa-heart"></i> <%= number_to_human(r.get_upvotes.size, units: { million: 'm', billion: 'b' }) %>
                  </div>
                <% end %>
              <% end %>
              <% if mocker_signed_in? %>
                <%= link_to dislike_review_path(r), method: :put, remote: :true, class: "like-review" do %>
                  <div id="dislike-count-review">
                    <%= render 'reviews/dislikes', review: r %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_mocker_session_path, class: "like-review" do %>
                  <div id="dislike-count-review">
                  <i class="fas fa-hand-middle-finger"></i> <%= number_to_human(r.get_downvotes.size, units: { million: 'm', billion: 'b' }) %>
                  </div>
                <% end %>
              <% end %>
              <%=  render 'answers/link_collapse', review: r %>
              <% if mocker_signed_in? %>
                <%= render 'answers/form', review: r %>
              <% else %>
                <%= link_to new_mocker_session_path, class: "_link _1" do %>Reply<% end %>
              <% end %>
            </div>
            
          </aside>
        </div>
        <% if current_mocker && current_mocker == r.mocker %>
          <div class="navbar d-block p-0 _actions">
            <div class="nav-item dropdown text-right">
              <a  class="linkdropdown_reviews dropdown-toggle _color_black deco-none f-right" 
                  href="#" 
                  id="dropdownReview"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu right-0" aria-labelledby="dropdownReview">
                <% if mocker_signed_in? # && current_mocker.admin %>
                  <%= link_to r, class:"_itemdropdown", method: :delete, data: {confirm: "Are you sure?"} do %>Remove<% end %>
                  <!--<div class="dropdown-divider"></div>
                  <a href="#" class="_itemdropdown">Report</a>-->
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </aside>

      <div class="_rowanswers">
        <div class="collapse" id="collapse_<%= r.id %>">
          <div class="card-body p-0">
            <%= render 'answers/list', review: r %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $('.readmore').readmore({
      speed: 75,
      collapsedHeight: 100,
      moreLink: '<a href="#" class="_link _1">Show more</a>',
      lessLink: '<a href="#" class="_link _1">Show less</a>'
    }
  );
</script>




