<ul class="listsidenav">
	<li class="<%= 'active' if current_page?(copyrights_howmockeringworks_path) %>"><%= link_to 'Principal rule', copyrights_howmockeringworks_path %></li>
	<li class="<%= 'active' if current_page?(copyrights_fair_use_howmockeringworks_path) %>"><%= link_to 'Fair use', copyrights_fair_use_howmockeringworks_path %></li>
	<li class="<%= 'active' if current_page?(enforcing_howmockeringworks_path) %>"><%= link_to 'Enforcing policies', enforcing_howmockeringworks_path %></li>
</ul>