<div class="_form_post">
  <div class="_cont">
    <aside class="_1">
      <h1>What do you want to show?</h1>
      <p>Upload your content.</p>
      <% if @mock.errors.any? %>
        <div id="error_explanation">
          <h6><%= pluralize(@mock.errors.count, "error") %> prohibited this mock from being saved:</h6>
          <ul>
            <% @mock.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="_navy">
        <ul class="nav nav-tabs" id="formTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="mock-tab" data-toggle="tab" href="#mock" role="tab" aria-controls="mock" aria-selected="true">
              <i class="bi bi-camera-reels-fill"></i> <span>Mock</span>
            </a>  
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="mocket-tab" data-toggle="tab" href="#mocket" role="tab" aria-controls="mocket" aria-selected="false">
              <i class="bi bi-card-image"></i> <span>Mocket</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link _active" id="mocket-tab" data-toggle="tab" href="#track" role="tab" aria-controls="track" aria-selected="false">
              <i class="bi bi-soundwave"></i> <span>Track</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <aside class="_2">
      <div class="tab-content" id="formTabContent">
        <div class="tab-pane fade show active" id="mock" role="tabpanel" aria-labelledby="mock-tab">
          <%= form_for @mock, html: { multipart: true } do |f| %>
            <div class="form_wrapper" id="_form_register">
              <fieldset class="_fieldset_form _1 msf_hide">
                <section class="_upload_big _1">
                 <div class="progress d-none" id="progress-bar">
                   <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                     <span class="sr-only" id="progress-bar-text"></span>
                   </div>
                 </div>
                 <div class="fullsize p-5 _file_upload">
                   <div class="d-table fullsize">
                     <div class="d-table-cell v-middle text-center">
                       <img class="_img_upload_mock"  src="//d8mn60sm70fqt.cloudfront.net/assets/svg/media_1.svg">
                       <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your video (MP4)</h6>
                       <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your video is ready to upload</h6>
                     </div>
                   </div>
                 </div>
                 <%= f.file_field :movie, class: "file-selector absolute file_multi_video", id: "upload_video_1", onchange: "msf_btn_next()" %>
                </section>
              </fieldset>
              <fieldset class="_fieldset_form _2 msf_hide">
                <section class="_actions">
                  <a class="_btn _outline" onclick="msf_btn_back()">
                    <span>Back</span>
                  </a> 
                  <a class="_btn _1 d-none" id="_continue_mock" data-bs-toggle="modal" data-bs-target="#touchesModal">
                    <span>Continue</span>
                  </a>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      $('input._name_mock').on('keyup', function() {
                        let empty = false;
                        $('input._name_mock').each(function() {
                          empty = $(this).val().length == 0;
                        });
                        if (empty)
                          $('a#_continue_mock').toggleClass('d-none');
                        else
                          $('a#_continue_mock').removeClass('d-none');
                      });
                    });
                  </script>
                </section>
                <section class="_head">
                  <%= f.text_field :title, class: 'form-control _required _name_mock', required: true, placeholder: "Give me a name", max: 100 %>
                </section>
                <section class="_preview">
                  <video controls="false"><source id="video_here"></video>
                  <script>
                    $(document).on("change", ".file_multi_video", function(evt) {
                      var $source = $('#video_here');
                      $source[0].src = URL.createObjectURL(this.files[0]);
                      $source.parent()[0].load();
                    });
                  </script>
                </section>
                <section class="_description">
                  <%= f.text_area :description, class: '_textarea _2 form-control', max: 888, rows: "4", placeholder: "Write what went into this mock, and anything else you’d like to mention" %>
                </section>
              </fieldset>
              <div class="modal fade" id="touchesModal" tabindex="-1" aria-labelledby="touchesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Final touches</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                       <div class="field">
                         <div class="custom-control custom-switch _1 pl-0">
                         <%= f.check_box :privated, class: "custom-control-input" %>
                         <label class="custom-control-label" for="mock_privated"><b>Private mock</b></label>
                        </div>
                       </div>
                       <div class="field">
                        <div class="custom-control custom-switch _1 pl-0">
                         <%= f.check_box :age_restricted, class: "custom-control-input"  %>
                         <label class="custom-control-label" for="mock_age_restricted"><b>Age restricted mock</b></label>
                        </div>
                       </div>
                       <div class="field">
                        <div class="custom-control custom-switch _1 pl-0">
                          <%= f.check_box :unlist, class: "custom-control-input" %>
                         <label class="custom-control-label" for="mock_unlist"><b>Unlist mock</b></label>
                        </div>
                       </div>
                       <%= f.text_field :credits, class: 'form-control _1', placeholder: 'Credits' %>

                       <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                           <div class="progress d-none" id="progress-bar">
                             <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                               <span class="sr-only" id="progress-bar-text"></span>
                             </div>
                           </div>
                           <div class="fullsize p-5 _file_upload">
                             <div class="d-table fullsize">
                               <div class="d-table-cell v-middle text-center">
                                <img class="_img_upload_mock" src="//d8mn60sm70fqt.cloudfront.net/assets/svg/photo_1.svg">
                                 <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your image (JPG/PNG/GIF)</h6>
                                 <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your image is ready to upload</h6>
                               </div>
                             </div>
                           </div>
                           <%= f.file_field :picture, class: "file-selector absolute", id: "file-selector_1" %>
                       </section>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit 'Upload',  class: '_btn _1', id: 'fileUpload', data: { disable_with: 'Uploading...' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="mocket" role="tabpanel" aria-labelledby="mocket-tab">
          <%= form_for @mock, html: { multipart: true } do |f| %>
            <div class="form_wrapper" id="_form_register">
              <article class="_fieldset_form _1 msf_hide">
                <section class="_actions">
                  <a class="_btn _outline" onclick="msf_btn_back2()" style="opacity:0;">
                    <span>Back</span>
                  </a> 
                  <a class="_btn _1 d-none" id="_continue_mocket_1" onclick="msf_btn_next2()">
                    <span>Continue</span>
                  </a>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      $('input._name_mocket').on('keyup', function() {
                        let empty = false;
                        $('input._name_mocket').each(function() {
                          empty = $(this).val().length == 0;
                        });
                        if (empty)
                          $('a#_continue_mocket_1').toggleClass('d-none');
                        else
                          $('a#_continue_mocket_1').removeClass('d-none');
                      });
                    });
                  </script>
                </section>
                <br>
                <section class="_description">
                  <%= f.text_field :title, class: 'form-control _required _name_mocket', required: true, placeholder: "Give me a name" %>
                </section>
              </article>
              <article class="_fieldset_form _2 msf_hide">
                <section class="_actions">
                  <a class="_btn _outline" onclick="msf_btn_back2()">
                    <span>Back</span>
                  </a> 
                  <a class="_btn _1 d-none" id="_continue_mocket" data-bs-toggle="modal" data-bs-target="#picturesModal">
                    <span>Continue</span>
                  </a>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      $('._textmocket').on('keyup', function() {
                        let empty = false;
                        $('._textmocket').each(function() {
                          empty = $(this).val().length == 0;
                        });
                        if (empty)
                          $('a#_continue_mocket').toggleClass('d-none');
                        else
                          $('a#_continue_mocket').removeClass('d-none');
                      });
                    });
                  </script>
                </section>
                <section class="_description">
                  <%= f.text_area :description, class: '_textarea _textmocket _2 form-control', rows: "4", placeholder: "Write what went into this mocket, and anything else you’d like to mention" %>
                </section>
              </article>
              <div class="modal fade" id="picturesModal" tabindex="-1" aria-labelledby="picturesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Final touches</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                     <div class="field">
                       <div class="custom-control custom-switch _1 pl-0">
                       <%= f.check_box :privated, class: "custom-control-input", id: "_picture_privated" %>
                       <label class="custom-control-label" for="_picture_privated">
                          <b>Private mock</b>
                        </label>
                      </div>
                     </div>
                     <div class="field">
                      <div class="custom-control custom-switch _1 pl-0">
                       <%= f.check_box :age_restricted, class: "custom-control-input", id: "_picture_age_restricted"  %>
                       <label class="custom-control-label" for="_picture_age_restricted">
                          <b>Age restricted mock</b>
                        </label>
                      </div>
                     </div>
                     <div class="field">
                      <div class="custom-control custom-switch _1 pl-0">
                        <%= f.check_box :unlist, class: "custom-control-input", id: "_picture_unlist" %>
                       <label class="custom-control-label" for="_picture_unlist"><b>Unlist mock</b></label>
                      </div>
                     </div>
                     <%= f.text_field :credits, class: 'form-control _1', placeholder: 'Credits' %>
                     <section class="col-12 _col_inputsaccount p-b-0 _upload_big">
                         <div class="progress d-none" id="progress-bar">
                           <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                             <span class="sr-only" id="progress-bar-text"></span>
                           </div>
                         </div>
                         <div class="fullsize p-5 _file_upload">
                           <div class="d-table fullsize">
                             <div class="d-table-cell v-middle text-center">
                              <img class="_img_upload_mock" src="//d8mn60sm70fqt.cloudfront.net/assets/svg/photo_1.svg">
                               <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your image (JPG/PNG/GIF)</h6>
                               <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your image is ready to upload</h6>
                             </div>
                           </div>
                         </div>
                         <%= f.file_field :picture, class: "file-selector absolute", id: "file-selector_1" %>
                     </section>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit 'Upload',  class: '_btn _1', id: 'fileUpload2', data: { disable_with: 'Uploading...' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="track" role="tabpanel" aria-labelledby="track-tab">
          <%= form_for @mock, html: { multipart: true } do |f| %>
            <div class="form_wrapper" id="_form_register">
              <blockquote class="_fieldset_form _1 msf_hide">
                <section class="_upload_big _1">
                 <div class="progress d-none" id="progress-bar">
                   <div class="progress-bar progress-bar-stripped active" role="progressbar" style="width: 0%;">
                     <span class="sr-only" id="progress-bar-text"></span>
                   </div>
                 </div>
                 <div class="fullsize p-5 _file_upload">
                   <div class="d-table fullsize">
                     <div class="d-table-cell v-middle text-center">
                       <img class="_img_upload_mock"  src="//d8mn60sm70fqt.cloudfront.net/assets/svg/podcast.svg">
                       <h6 class="_fw600 _is_not_ready d-block" style="opacity: 0.6">Upload your track (MP3)</h6>
                       <h6 class="_fw600 _is_ready d-none" style="opacity: 0.6">Your track is ready to upload</h6>
                     </div>
                   </div>
                 </div>
                 <%= f.file_field :music, class: "file-selector absolute file_multi_track", id: "upload_track_1", onchange: "msf_btn_next3()" %>
                </section>
              </blockquote>
              <blockquote class="_fieldset_form _2 msf_hide">
                <section class="_actions">
                  <a class="_btn _outline" onclick="msf_btn_back3()">
                    <span>Back</span>
                  </a> 
                  <a class="_btn _1 d-none" id="_continue_track" data-bs-toggle="modal" data-bs-target="#tracksModal">
                    <span>Continue</span>
                  </a>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      $('input._name_track').on('keyup', function() {
                        let empty = false;
                        $('input._name_track').each(function() {
                          empty = $(this).val().length == 0;
                        });
                        if (empty)
                          $('a#_continue_track').toggleClass('d-none');
                        else
                          $('a#_continue_track').removeClass('d-none');
                      });
                    });
                  </script>
                </section>
                <section class="_head">
                  <%= f.text_field :title, class: 'form-control _required _name_track', required: true, placeholder: "Give me a name" %>
                </section>
                <section class="_description">
                  <%= f.text_area :description, class: '_textarea _2 form-control', rows: "4", placeholder: "Write what went into this track, and anything else you’d like to mention" %>
                </section>
              </blockquote>
              <div class="modal fade" id="tracksModal" tabindex="-1" aria-labelledby="tracksModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Final touches</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                     <div class="field">
                       <div class="custom-control custom-switch _1 pl-0">
                       <%= f.check_box :privated, class: "custom-control-input", id: "_picture_privated" %>
                       <label class="custom-control-label" for="_picture_privated">
                          <b>Private mock</b>
                        </label>
                      </div>
                     </div>
                     <div class="field">
                      <div class="custom-control custom-switch _1 pl-0">
                       <%= f.check_box :age_restricted, class: "custom-control-input", id: "_picture_age_restricted"  %>
                       <label class="custom-control-label" for="_picture_age_restricted">
                          <b>Age restricted mock</b>
                        </label>
                      </div>
                     </div>
                     <div class="field">
                      <div class="custom-control custom-switch _1 pl-0">
                        <%= f.check_box :unlist, class: "custom-control-input", id: "_picture_unlist" %>
                       <label class="custom-control-label" for="_picture_unlist"><b>Unlist mock</b></label>
                      </div>
                     </div>
                     <%= f.text_field :credits, class: 'form-control _1', placeholder: 'Credits' %>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit 'Upload',  class: '_btn _1', id: 'fileUpload3', data: { disable_with: 'Uploading...' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
</div>

<script type="text/javascript">
  console.log("Reloaded");

  // dom variables
  var msf_getFsTag = document.getElementsByTagName("fieldset");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr = 0;
  var fieldset = msf_getFsTag[msf_form_nr];
  fieldset.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr = "<div class='msf_bullet'></div>";
  var msf_length = msf_getFsTag.length;
  for (var i = 1; i < msf_length; ++i) {
      msf_bullet_nr += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o.length; ++i) {
      var msf_b_item = msf_bullet_o[i];
      msf_b_item.innerHTML = msf_bullet_nr;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back")[0].className = "msf_hide";
  document.getElementsByName("next")[msf_bullet_o.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets = document.getElementsByClassName("msf_bullet");
  msf_bullets[msf_form_nr].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next() {
      var msf_val = true;

      var msf_fs = document.querySelectorAll("fieldset")[msf_form_nr];
      var msf_fs_i_count = msf_fs.querySelectorAll("input._required").length;

      for (i = 0; i < msf_fs_i_count; ++i) {
          var msf_input_s = msf_fs.querySelectorAll("input._required")[i];
          if (msf_input_s.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s.value === "") {
                  msf_input_s.style.borderColor = "#ea4747";
                  msf_val = false;
              } else {
                  if (msf_val === false) {} else {
                      msf_val = true;
                      msf_input_s.style.backgroundColor = "#4c31ee";
                  }
              }
          };
      };

      if (msf_val === true) {
          // goes to the next step
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_hide";
          msf_form_nr = msf_form_nr + 1;
          var selection = msf_getFsTag[msf_form_nr];
          selection.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a = msf_form_nr * msf_length + msf_form_nr;
          msf_bullets[msf_bullets_a].className += " msf_bullet_active";
      }
  };

  // goes one step back
  function msf_btn_back() {
      msf_getFsTag[msf_form_nr].className = "msf_hide";
      msf_form_nr = msf_form_nr - 1;
      msf_getFsTag[msf_form_nr].className = "msf_showhide";
  };

  console.log("loaded");
</script>
<script type="text/javascript">
  console.log("Reloaded2");

  // dom variables
  var msf_getFsTag2 = document.getElementsByTagName("article");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr2 = 0;
  var fieldset2 = msf_getFsTag2[msf_form_nr2];
  fieldset2.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr2 = "<div class='msf_bullet'></div>";
  var msf_length2 = msf_getFsTag2.length;
  for (var i = 1; i < msf_length2; ++i) {
      msf_bullet_nr2 += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o2 = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o2.length; ++i) {
      var msf_b_item2 = msf_bullet_o2[i];
      msf_b_item2.innerHTML = msf_bullet_nr2;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back2")[0].className = "msf_hide";
  document.getElementsByName("next2")[msf_bullet_o2.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets2 = document.getElementsByClassName("msf_bullet");
  msf_bullets2[msf_form_nr2].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next2() {
      var msf_val2 = true;

      var msf_fs2 = document.querySelectorAll("fieldset")[msf_form_nr2];
      var msf_fs_i_count2 = msf_fs2.querySelectorAll("input._required").length;

      for (i = 0; i < msf_fs_i_count2; ++i) {
          var msf_input_s2 = msf_fs2.querySelectorAll("input._required")[i];
          if (msf_input_s2.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s2.value === "") {
                  msf_input_s2.style.borderColor = "#ea4747";
                  msf_val2 = false;
              } else {
                  if (msf_val2 === false) {} else {
                      msf_val2 = true;
                      msf_input_s2.style.backgroundColor = "#4c31ee";
                  }
              }
          };
      };
      if (msf_val2 === true) {
          // goes to the next step
          var selection2 = msf_getFsTag2[msf_form_nr2];
          selection2.className = "msf_hide";
          msf_form_nr2 = msf_form_nr2 + 1;
          var selection2 = msf_getFsTag2[msf_form_nr2];
          selection2.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a2 = msf_form_nr2 * msf_length2 + msf_form_nr2;
          msf_bullets2[msf_bullets_a2].className += " msf_bullet_active";
      }
  };

  // goes one step back
  function msf_btn_back2() {
      msf_getFsTag2[msf_form_nr2].className = "msf_hide";
      msf_form_nr2 = msf_form_nr2 - 1;
      msf_getFsTag2[msf_form_nr2].className = "msf_showhide";
  };

  console.log("loaded");
</script>
<script type="text/javascript">
  console.log("Reloaded3");

  // dom variables
  var msf_getFsTag3 = document.getElementsByTagName("blockquote");

  // declaring the active fieldset & the total fieldset count
  var msf_form_nr3 = 0;
  var fieldset3 = msf_getFsTag3[msf_form_nr3];
  fieldset3.className = "msf_show";

  // creates and stores a number of bullets
  var msf_bullet_nr3 = "<div class='msf_bullet'></div>";
  var msf_length3 = msf_getFsTag3.length;
  for (var i = 1; i < msf_length3; ++i) {
      msf_bullet_nr3 += "<div class='msf_bullet'></div>";
  };
  // injects bullets
  var msf_bullet_o3 = document.getElementsByClassName("msf_bullet_o");
  for (var i = 0; i < msf_bullet_o3.length; ++i) {
      var msf_b_item3 = msf_bullet_o3[i];
      msf_b_item3.innerHTML = msf_bullet_nr3;
  };

  // removes the first back button & the last next button
  document.getElementsByName("back2")[0].className = "msf_hide";
  document.getElementsByName("next2")[msf_bullet_o3.length - 1].className = "msf_hide";

  // Makes the first dot active
  var msf_bullets3 = document.getElementsByClassName("msf_bullet");
  msf_bullets2[msf_form_nr3].className += " msf_bullet_active";

  // Validation loop & goes to the next step
  function msf_btn_next3() {
      var msf_val3 = true;

      var msf_fs3 = document.querySelectorAll("fieldset")[msf_form_nr3];
      var msf_fs_i_count3 = msf_fs3.querySelectorAll("input._required").length;

      for (i = 0; i < msf_fs_i_count3; ++i) {
          var msf_input_s3 = msf_fs3.querySelectorAll("input._required")[i];
          if (msf_input_s3.getAttribute("type") === "button") {
              // nothing happens
          } else {
              if (msf_input_s3.value === "") {
                  msf_input_s3.style.borderColor = "#ea4747";
                  msf_val2 = false;
              } else {
                  if (msf_val3 === false) {} else {
                      msf_val3 = true;
                      msf_input_s3.style.backgroundColor = "#4c31ee";
                  }
              }
          };
      };
      if (msf_val3 === true) {
          // goes to the next step
          var selection3 = msf_getFsTag3[msf_form_nr3];
          selection3.className = "msf_hide";
          msf_form_nr3 = msf_form_nr3 + 1;
          var selection3 = msf_getFsTag3[msf_form_nr3];
          selection3.className = "msf_show";
          // refreshes the bullet
          var msf_bullets_a3 = msf_form_nr3 * msf_length3 + msf_form_nr3;
          msf_bullets3[msf_bullets_a3].className += " msf_bullet_active";
      }
  };

  // goes one step back
  function msf_btn_back3() {
      msf_getFsTag3[msf_form_nr3].className = "msf_hide";
      msf_form_nr3 = msf_form_nr3 - 1;
      msf_getFsTag3[msf_form_nr3].className = "msf_showhide";
  };

  console.log("loaded");
</script>
<script type="text/javascript">
  $('#file-selector_1').change(function(){
   $("._is_ready").toggleClass('d-block');
   $("._is_ready").toggleClass('d-none');
   $("._is_not_ready").toggleClass('d-none');
   $("._is_not_ready").toggleClass('d-block');
   $("._img_upload_mock").toggleClass('_on');
  })  
  $('._close_accordion').click(function(){
   $("._btn_form_kind").removeClass('active');
   $('.collapse._addmock').removeClass('show');
   $('._fullscreen_absolute').removeClass('hide');
  })
  $('._btn_form_kind').click(function(){
   $("._fullscreen_absolute").addClass('hide');
   $("._fullscreen_absolute").addClass('active');
  })
  $('._btn_form_kind.active').click(function(){
   $("._btn_form_kind").removeClass('active');
   $("._fullscreen_absolute").removeClass('hide');
  })
</script>