<ul class="listsidenav">
	<li class="<%= 'active' if current_page?(howmockeringworks_path) %>"><%= link_to 'Guidelines', howmockeringworks_path %></li>
	<li class="<%= 'active' if current_page?(detecting_infringements_howmockeringworks_path) %>"><%= link_to 'Detecting Infringements', detecting_infringements_howmockeringworks_path %></li>
	<li class="<%= 'active' if current_page?(enforcing_howmockeringworks_path) %>"><%= link_to 'Enforcing policies', enforcing_howmockeringworks_path %></li>
</ul>
<style type="text/css">
</style>