<% content_for :title, ": Dangerous policy" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Dangerous policy</h2>
			<ul>
				<li><%= link_to harassment_cyberbullying_howmockeringworks_path do %>Harassment and cyberbullying<% end %> </li>
				<li><%= link_to dangerous_content_howmockeringworks_path do %>Dangerous content<% end %> </li>
				<li><%= link_to hate_speech_howmockeringworks_path do %>Hate speech<% end %> </li>
				<li><%= link_to criminal_organizations_howmockeringworks_path do %>Criminal organizations<% end %> </li>
				<li><%= link_to violent_content_howmockeringworks_path do %>Violent content<% end %> </li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>