<% content_for :title, "Spam, delusive practices and scams policy • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Spam, delusive practices and scams policy</h2>
			<ul>
				<li><%= link_to fake_engagement_howmockeringworks_path do %>Fake Engagement </i><% end %> </li>
				<li><%= link_to impersonation_howmockeringworks_path do %>Impersonation </i><% end %> </li>
				<li><%= link_to links_content_howmockeringworks_path do %>Links in your content </i><% end %> </li>
				<li><%= link_to spam_delusive_practices_howmockeringworks_path do %>Spam, delusive practices and scams </i><% end %> </li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>