<% content_for :title, ": Community Guidelines" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">Overview</h2>
			<br>
			<p>The Community Guidelines of Mockering are designed to ensure that our community remains protected without affecting the right to free expression. They establish what is allowed and what is not allowed in Mockering, applying to all types of content on our platform, which includes videos, messages, comments, links and thumbnails.</p>
			<p>Check a full list of our Community Guidelines below:</p>
			<br>
			<div class="row">
				<div class="col-12 col-lg-6">
					<ul class="list_guidelines">
						<li><b>Delusive practices</b></li>
						<li><%= link_to fake_engagement_howmockeringworks_path, target: "_blank" do %>Fake Engagement <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to impersonation_howmockeringworks_path, target: "_blank" do %>Impersonation <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to links_content_howmockeringworks_path, target: "_blank" do %>Links in your content <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to spam_delusive_practices_howmockeringworks_path, target: "_blank" do %>Spam, delusive practices and scams <i class="fas fa-external-link-alt"></i><% end %> </li>
					</ul>
				</div>
				<div class="col-12 col-lg-6">
					<ul class="list_guidelines">
						<li><b>Sensitive content</b></li>
						<li><%= link_to child_safety_howmockeringworks_path, target: "_blank" do %>Child safety <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to custom_thumbnails_howmockeringworks_path, target: "_blank" do %>Custom thumbnails <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to nudity_sexual_content_howmockeringworks_path, target: "_blank" do %>Nudity and sexual content <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to suicide_self_injury_howmockeringworks_path, target: "_blank" do %>Suicide and self injury <i class="fas fa-external-link-alt"></i><% end %> </li>
					</ul>
				</div>
				<div class="col-12 col-md-6">
					<ul class="list_guidelines">
						<li><b>Dangerous content</b></li>
						<li><%= link_to harassment_cyberbullying_howmockeringworks_path, target: "_blank" do %>Harassment and cyberbullying <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to dangerous_content_howmockeringworks_path, target: "_blank" do %>Dangerous content <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to hate_speech_howmockeringworks_path, target: "_blank" do %>Hate speech <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to criminal_organizations_howmockeringworks_path, target: "_blank" do %>Criminal organizations <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to violent_content_howmockeringworks_path, target: "_blank" do %>Violent content <i class="fas fa-external-link-alt"></i><% end %> </li>
					</ul>
				</div>
				<div class="col-12 col-md-6">
					<ul class="list_guidelines">
						<li><b>Regulated goods</b></li>
						<li><%= link_to featuring_firearms_howmockeringworks_path, target: "_blank" do %>Featuring firearms <i class="fas fa-external-link-alt"></i><% end %> </li>
						<li><%= link_to sale_illegal_good_howmockeringworks_path, target: "_blank" do %>Sale of illegal or regulated good <i class="fas fa-external-link-alt"></i><% end %> </li>
					</ul>
				</div>
			</div>
					
			<br>
			<br>
			<br>
		</div>
	</div>
</div>