<% content_for :title, ": Sensitive content policy" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Sensitive content policy</h2>
			<ul>
				<li><%= link_to child_safety_howmockeringworks_path do %>Child safety <i class="fas fa-external-link-alt"></i><% end %> </li>
				<li><%= link_to custom_thumbnails_howmockeringworks_path do %>Custom thumbnails <i class="fas fa-external-link-alt"></i><% end %> </li>
				<li><%= link_to nudity_sexual_content_howmockeringworks_path do %>Nudity and sexual content <i class="fas fa-external-link-alt"></i><% end %> </li>
				<li><%= link_to suicide_self_injury_howmockeringworks_path do %>Suicide and self injury <i class="fas fa-external-link-alt"></i><% end %> </li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>