<!DOCTYPE html>
<html >
  <head prefix="og: http://ogp.me/ns#">
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#3d087b">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mockering" />
    <meta name="twitter:title" content="<%= yield(:title) %>" />
    <meta name="twitter:description" content="<%= yield(:description_page) %>" />
    <meta name="twitter:image" content="<%= yield :image_page %>" />
    <meta name="twitter:creator" content="@mockering" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:locale" content="en_EN" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta property="og:site_name" content="Mockering" />
    <meta property="og:video" content="<%= yield(:movie_path) %>" />
    <meta property="og:description" content="<%= yield(:description_page) %>" />
    <meta property="og:image" content="<%= yield(:image_page) %>" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.5.8/dist/css/splide-core.min.css">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />

    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/assets/js/lib/greensock/TweenMax.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/assets/js/lib/greensock/plugins/ScrollToPlugin.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/assets/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/assets/js/lib/iscroll-probe.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/apposent/assets/libraries/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115799642-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115799642-7');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  </head>
  <body  data-barba="wrapper" class="_<%= yield(:name) %>">
    <main data-barba="container" data-barba-namespace="<%= yield(:name) %>">
      <% if current_page?(root_path) || current_page?(search_path) || current_page?(mockets_path) || current_page?(mockies_path) || current_page?(mockets_path) || current_page?(library_path) || current_page?(loved_path) || current_page?(conversations_path) || current_page?(tracks_path) || current_page?(discover_path) || current_page?(new_mock_path)  %>
        <%= render 'shared/navbarsm' %>
        <section class="_full">
          <section class="_layout">
            <aside class="_1">
              <div class="_cont">
                <%= render 'shared/navside' %>
              </div>
            </aside>
            <aside class="_2">
              <%= yield %>
            </aside>
            <aside class="_3">
              <div class="_cont _1">
                <div class="_search">
                  <%= render 'shared/search_form' %>
                </div>
                <div class="_mockers">
                  <%= render 'mockers/cards' %>
                </div>
              </div>
            </aside>
          </section>
        </section>
      <% else %>
        <%= yield %>
      <% end %>

      <% if current_page?(root_path) || current_page?(search_path) || current_page?(mockets_path) || current_page?(mockies_path) || current_page?(mockets_path) || current_page?(library_path) || current_page?(loved_path) || current_page?(conversations_path) || current_page?(mocks_path) || current_page?(discover_path) || current_page?(new_mock_path) %>
        <%= render 'shared/navfooter' %>
        <%= render 'shared/footer' %>
      <% end %>
      <%= toastr_flash %>
    </main>
    <script type="text/javascript">
      /* BUTTON MENU */
        $('._btnmenu').click(function(){
          $('._iconav').toggleClass('open');
        });
      /* END BUTTON MENU */
    </script>
    <script type="text/javascript">
      (function() {
        var darkSwitch = document.getElementById("darkSwitch");
        if (darkSwitch) {
          initTheme();
          darkSwitch.addEventListener("change", function(event) {
            resetTheme();
          });
          function initTheme() {
            var darkThemeSelected =
              localStorage.getItem("darkSwitch") !== null &&
              localStorage.getItem("darkSwitch") === "dark";
            darkSwitch.checked = darkThemeSelected;
            darkThemeSelected
              ? document.body.setAttribute("data-theme", "dark")
              : document.body.removeAttribute("data-theme");
          }
          function resetTheme() {
            if (darkSwitch.checked) {
              document.body.setAttribute("data-theme", "dark");
              localStorage.setItem("darkSwitch", "dark");
            } else {
              document.body.removeAttribute("data-theme");
              localStorage.removeItem("darkSwitch");
            }
          }
        }
      })();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
