<!DOCTYPE html>
<html>
  <head>
    <title>Mockering</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav justify-content-end">
      <% if mocker_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_mocker_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Iniciar', new_mocker_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Registrarme', new_mocker_registration_path %>
        </li>
      <% end %>
    </ul>
    
  	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, class: "alert alert-info" %>
  	<% end %>
    <%= yield %>
  </body>
</html>
