<!DOCTYPE html>
<html>
  <head>
    <title>Mockering</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </head>

  <body>
    
    <%= render 'shared/navbar' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
    </div>
    	
    <%= yield %>

    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="https://kit.fontawesome.com/3838a3343b.js" crossorigin="anonymous"></script>
  </body>
</html>
