<!DOCTYPE html>
<html>
  <head>
    <title>Mockering</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav navbar navbar-default">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "Mockering", root_path %>
        </div>
        <% if mocker_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New Mock", new_mock_path %></li>
          <li><%= link_to "Account", edit_mocker_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_mocker_session_path, method: :delete %></li>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", new_mocker_session_path %></li>
            <li><%= link_to "Sign Up", new_mocker_registration_path %></li>
          </ul>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
    </div>
    	
    <%= yield %>
  </body>
</html>
